-# @expects: local 'list_title, item_list'
- canvas_preference ||= false
- external_widget ||= external_widget
- hide_titlebar =  (not @hide_titlebar.nil? and @hide_titlebar ) || false
- count =  (not @count.nil? and @count ) || 5
%div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
  = render :partial => 'widgets/titlebar', :locals => {:hide_titlebar => hide_titlebar, :title => list_title}
  .list_items.bullet_list
    %ul
      - item_list.each_with_index do |item,index|
        - unless external_widget
          %li
            = link_to item.featured_title, path_to_self(item)
        - else
          - unless index > count
            %li
              = link_to item.featured_title, path_to_self(item, canvas_preference), :target => "_top"
