-# @expects: local 'list_title, item_list'
%div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
  .panelBar
    %h2= list_title
  .list_items.bullet_list
    %ul
      - item_list.each do |item|
        %li
          = link_to item.featured_title, path_to_self(item)
