.panel-1.float-right
  /change the class where "active" is to switch out the icon in the background.
  -#%div.panel-bar.top-secondary-corners{:class => vo.setting.css_class}
  = vo.setting.custom_data
