.panel-1.float-right
  /change the class where "active" is to switch out the icon in the background.
  .panel-bar.top-secondary-corners.ideas
    .panel-full
      - if vo.setting and vo.setting.locale_title
        %h3.float-left= vt.t(vo.setting.locale_title)
        - if vo.setting.use_post_button
          = post_something vo.setting.klass_name
  .panel-content
    %ul.list-items
      - vo.dataset.each_with_index do |item, index|
        %li
          .item-with-no-image
            .item-text
              %h4= link_to item.item_title, item
            .meta-data
              - action_links(item).each do |action_link|
                %h6= action_link