#col_left
  .panel_2
    .panelBar.clearfix
      %h2 Post a story
    .panel_block
      .itemBlock
        - form_for @story, :url => stories_path do |form|
          = render :partial => 'story_form', :locals => { :form => form }
          = form.submit "Post Story"
