-# content_for :sub_nav do
  = render :partial => 'shared/breadcrumbs', :locals => { :breadcrumbs => get_forum_breadcrumbs(@forums) }

#col_left
  = render :partial => 'shared/forums', :locals => { :forums => @forums }
#col_right
  = render :partial => 'shared/sidebar/top_forums'
  = render :partial => 'shared/sidebar/newest_topics'
