-#%div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
- list_title ||= 'feeds.list.title'
.panel_2
  .panelBar
    %h2= t(list_title)
  .list_items
    %ul
      = render :partial => "pfeeds/pfeed", :collection => feed_collection
