- user = user_triggered_dashboard_message.originator
- item = user_triggered_dashboard_message.participant
%p== #{pfeed_caption(item.message)} #{link_to(item.action_text, item.action_url)}
.user-wrapper
  .profilePic= local_linked_profile_pic user, :width => '30px', :height => '30px', :only_path => false, :format => 'html'
  %h3
    = t('posted_by', :fb_name => local_linked_profile_name(user, :only_path => false, :format => 'html'), :date => timeago(item.created_at))
