- user = user_triggered_classified.originator
- item = user_triggered_classified.participant
%p= pfeed_caption t('classifieds.new_classified_posted', :classified => link_to(item.item_title, polymorphic_url(item,:only_path => false) ) )

.user-wrapper
  .profilePic= local_linked_profile_pic user, :width => '30px', :height => '30px', :only_path => false, :format => 'html'
  %h3
    = user_posted_item item, user
