-# helios OAS usage for Boston
-# @expects: local 'slot_name'
!!!

%html
  %head
  %body{:style => "margin: 0px; padding: 0px;"}
    :javascript
      OAS_url='#{APP_CONFIG['helios_url']}/RealMedia/ads/';
      OAS_sitepage='#{APP_CONFIG['helios_sitepage']}';
    - case slot_name
      - when "slot_skyscraper"
        :javascript
          OAS_listpos='RIGHT1';
      - when "slot_leaderboard"
        :javascript
          OAS_listpos='TOP';
      - when "slot_large_rectangle"
        :javascript
          OAS_listpos='CENTRAL';
    :javascript
      OAS_query='pagetype=section_folder&RM_Exclude=exclude_section_folder';
      OAS_target='_top';
      if(typeof OAS_query=='undefined'||!OAS_query)OAS_query=oasquery;
      OAS_version=10;
      OAS_rn='001234567890'; OAS_rns = '1234567890';
      OAS_rn=new String (Math.random()); OAS_rns = OAS_rn.substring (2, 11);
    :javascript
      var rerefer=/referrer=(\w+)/,urefer=document.URL.match(rerefer);
      if(urefer){if(OAS_query){var reexclude=/RM_Exclude=[\w,*]+/,OAS_query=OAS_query.replace(reexclude,OAS_query.match(reexclude)[0]+',exclude_referrer_'+urefer[1].toLowerCase());OAS_query+='&';}OAS_query+=urefer[0];}
    :javascript
      function OAS_NORMAL(pos) {
      document.writeln('<A HREF="' + OAS_url + 'click_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" TARGET=' + OAS_target + '>');
      document.writeln('<IMG SRC="' + OAS_url + 'adstream_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" BORDER=0></A>');
      }
    :javascript
      OAS_version = 11;
      if ((navigator.userAgent.indexOf('Mozilla/3') != -1) || (navigator.userAgent.indexOf('Mozilla/4.0 WebTV') != -1)) OAS_version = 10;
      if (OAS_version >= 11) document.writeln('<SCR' + 'IPT LANGUAGE=JavaScript1.1 SRC="'+OAS_url + 'adstream_mjx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos+ '?' + OAS_query + '"><\/SCRIPT>');
    :javascript
      document.writeln('');
      function OAS_AD(pos) { if (OAS_version >= 11) OAS_RICH(pos); else OAS_NORMAL(pos);}
    - case slot_name
      - when "slot_skyscraper"
        :javascript
          OAS_AD('RIGHT1');
      - when "slot_leaderboard"
        :javascript
          OAS_AD('TOP');
      - when "slot_large_rectangle"
        :javascript
          OAS_AD('CENTRAL');
          