-# helios OAS usage for KPCC
-# @expects: local 'slot_name'
!!!

%html
  %head
    :javascript
      OAS_url='#{APP_CONFIG['helios_url']}/RealMedia/ads/';
      OAS_sitepage='#{APP_CONFIG['helios_sitepage']}';
      OAS_listpos='#{APP_CONFIG['helios_list_pos']}';
      OAS_query='';
      OAS_target='_top';
      OAS_version=10;
      OAS_rn='001234567890'; OAS_rns = '1234567890';
      OAS_rn=new String (Math.random()); OAS_rns = OAS_rn.substring (2, 11);
      function OAS_NORMAL(pos) {
      document.write('<A HREF="' + OAS_url + 'click_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" TARGET=' + OAS_target + '>');
      document.write('<IMG SRC="' + OAS_url + 'adstream_nx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos + '!' + pos + '?' + OAS_query + '" BORDER=0></A>');
      }
    :javascript
      OAS_version = 11;
      if ((navigator.userAgent.indexOf('Mozilla/3') != -1) || (navigator.userAgent.indexOf('Mozilla/4.0 WebTV') != -1)) OAS_version = 10;
      if (OAS_version >= 11) document.write('<SCR' + 'IPT LANGUAGE=JavaScript1.1 SRC="'+OAS_url + 'adstream_mjx.ads/' + OAS_sitepage + '/1' + OAS_rns + '@' + OAS_listpos+ '?' + OAS_query + '"><\/SCRIPT>');
    :javascript
      document.write('');
      function OAS_AD(pos) { if (OAS_version >= 11) OAS_RICH(pos); else OAS_NORMAL(pos);}

  %body{:style => "margin: 0px; padding: 0px;"}
    - case slot_name
      - when "slot_skyscraper"
        :javascript
          OAS_AD('x17');
      - else
        :javascript
          OAS_AD('x16');