-# expects @sponsor_zone_code, @sponsor_zone_topic
.panel_1
  .sponsor_250
    = render :partial => 'shared/external/traffic_spaces_widget', :locals => { :sponsor_zone_code => @sponsor_zone_code, :sponsor_zone_topic => @sponsor_zone_topic }
  - if get_setting('sponsor_zones_store_url').try(:value)
    .advertise_here
      = link_to t('advertise_here'), get_setting('sponsor_zones_store_url').value