!*.gitignore
public/maintenance.*
public/sitemap*
public/uploads
public/cache/*
!public/cache/.gitignore
tmp
.DS_Store
public/system
public/javascripts/cache
public/stylesheets/cache
public/stylesheets/compiled/*.css
public/stylesheets/compiled/*/*
coverage
*.log
*.bak
script/pids
.*.swp
.*.swo
config/*.yml
config/application.god
config/compass.config
config/compass.rb
!config/widgets.yml
!config/resque_schedule.yml
!config/cucumber.yml
!config/asset_packages.yml
config/deploy/*.rb
!config/deploy/sample.rb
*.pid
ical
db/*.db
db/*.sqlite3
config/initializers/your_site_host.rb
config/initializers/google_analytics.rb
coverage.data
spec/controllers
spec/views
spec/helpers
._*
.sass-cache
config/s3.yml
*.sql
!db/development_structure.sql
spec/fixtures
*.tmproj
dump.rdb
