= gen_index_page @resource_sections, ResourceSection, [:name, :description, :section], :associations => { :belongs_to => {:user => :user_id, :resource_section => :resource_section_id} }, :paginate => true
