= gen_index_page @resource_sections, ResourceSection, [:name, :description, :section], :associations => { :belongs_to => {:user => :user_id, :resource_section => :resource_section_id} }, :paginate => true
=# gen_index_page @resources, Idea, [:title, :user_id, :likes_count, :comments_count, :created_at, :resource_section_id], {}, true
