- form.inputs do
  = form.input :name
  = form.input :tagline, :input_html => { :rows => 5 }
  = render :partial => 'shared/forms/media_items', :locals => { :form => form, :item => @event }
  = form.input :tags_string, :required => false
%br
