/* line 4, ../../../app/stylesheets/default.sass */
.clearfix {
  display: inline-block;
}

/* line 8, ../../../app/stylesheets/default.sass */
.float_left {
  float: left;
}

/* line 11, ../../../app/stylesheets/default.sass */
.float_right {
  float: right;
}

/* line 15, ../../../app/stylesheets/default.sass */
#header {
  height: 110px;
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid;
  border-bottom-color: #999999;
  background: white url('http://jeff-laptop.chewbranca.com/images/default/hdr_bg.gif?1267561705') bottom left repeat-x;
}
/* line 23, ../../../app/stylesheets/default.sass */
#header .headerTitle {
  position: absolute;
  top: 30px;
  left: 10px;
}
/* line 28, ../../../app/stylesheets/default.sass */
#header .headerTitle h1 {
  display: block;
  float: left;
  font-size: 32px;
  margin: 5px;
}
/* line 34, ../../../app/stylesheets/default.sass */
#header a {
  text-decoration: none;
}
/* line 37, ../../../app/stylesheets/default.sass */
#header img.hdrpic {
  position: absolute;
  top: 2px;
  left: 2px;
}
/* line 42, ../../../app/stylesheets/default.sass */
#header .pipe {
  margin: 0 5px;
  color: #999999;
}
/* line 46, ../../../app/stylesheets/default.sass */
#header .dh_links {
  position: absolute;
  top: 10px;
  right: 10px;
  float: right;
  padding: 5px 10px;
}

/* line 54, ../../../app/stylesheets/default.sass */
.account-dropdown {
  float: left;
  position: relative;
  z-index: 98;
}

/* line 59, ../../../app/stylesheets/default.sass */
.account-toggle {
  position: relative;
  z-index: 99;
}

/* line 63, ../../../app/stylesheets/default.sass */
.account-links {
  width: 180px;
  position: absolute;
  z-index: 96;
  top: 18px;
  right: -4px;
  display: inline-block;
  padding: 4px 10px;
  border-top: 1px solid #3b5998;
  border-bottom: 1px solid #3b5998;
  border-left: 1px solid #3b5998;
  border-right: 1px solid #3b5998;
  background-color: white;
}
/* line 77, ../../../app/stylesheets/default.sass */
.account-links li {
  width: 100%;
  margin: 6px 0 0px 0;
  padding: 0;
}
/* line 82, ../../../app/stylesheets/default.sass */
.account-links li a {
  display: block;
  padding: 4px 6px;
}
/* line 85, ../../../app/stylesheets/default.sass */
.account-links li a:hover {
  background: #dce6f4;
}
/* line 89, ../../../app/stylesheets/default.sass */
.account-links li.account-profile a {
  display: inline-block;
}
/* line 91, ../../../app/stylesheets/default.sass */
.account-links li.account-profile a:hover {
  background: none;
}
/* line 94, ../../../app/stylesheets/default.sass */
.account-links .account-tab {
  height: 24px;
  width: 65px;
  z-index: 97;
  position: absolute;
  top: -25px;
  right: -1px;
  border-top: 1px solid #3b5998;
  border-bottom: none;
  border-left: 1px solid #3b5998;
  border-right: 1px solid #3b5998;
  background-color: white;
}

/* line 109, ../../../app/stylesheets/default.sass */
#bodyWrapper {
  padding-bottom: 20px;
}

/* line 119, ../../../app/stylesheets/default.sass */
#footer {
  float: left;
  clear: left;
  border-top: 1px solid #3b5998;
}
/* line 125, ../../../app/stylesheets/default.sass */
#footer .dh_links {
  color: #333333;
  float: left;
  clear: left;
  margin: 0px;
  padding: 5px 10px 7px 10px;
  background-color: #dce6f4;
}

/* line 135, ../../../app/stylesheets/default.sass */
.rss_link {
  background: url('http://jeff-laptop.chewbranca.com/images/default/icon_rss.png?1265750670') left no-repeat;
  padding: 3px 0 3px 18px;
}

/* line 140, ../../../app/stylesheets/default.sass */
.twitter_link {
  background: url('http://jeff-laptop.chewbranca.com/images/default/icon_twitter.gif?1265750670') left no-repeat;
  padding: 3px 0 3px 18px;
}

/* line 145, ../../../app/stylesheets/default.sass */
.newscloud_link {
  background: url('http://jeff-laptop.chewbranca.com/images/default/icon_newscloud.gif?1265750670') left no-repeat;
  padding: 3px 0 3px 20px;
}

/* line 150, ../../../app/stylesheets/default.sass */
.grist_link {
  background: url('http://jeff-laptop.chewbranca.com/images/default/icon_grist.gif') left no-repeat;
  padding: 3px 0 3px 20px;
}

/* line 156, ../../../app/stylesheets/default.sass */
.hidden {
  display: none;
}

/* line 160, ../../../app/stylesheets/default.sass */
body {
  font-family: lucida grande, tahoma, verdana, arial, san-serif;
  color: #333333;
  font-size: 11px;
  margin: 0px;
  padding: 0px;
}

/* line 167, ../../../app/stylesheets/default.sass */
h1, h2, h3, h4, h5 {
  font-family: lucida grande, tahoma, verdana, arial, san-serif;
  color: #333333;
  font-size: 14px;
  line-height: 130%;
  margin: 0px;
  padding: 0px;
}

/* line 175, ../../../app/stylesheets/default.sass */
h1 {
  font-family: lucida grande, tahoma, verdana, arial, san-serif;
  font-size: 15px;
  font-weight: bold;
  color: #3b5998;
  margin: 0 0 6px 0;
  padding: 0;
}

/* line 183, ../../../app/stylesheets/default.sass */
h2 {
  font-family: lucida grande, tahoma, verdana, arial, san-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 6px 0;
  padding: 0;
}

/* line 190, ../../../app/stylesheets/default.sass */
h3 {
  font-size: 11px;
  font-family: lucida grande, tahoma, verdana, arial, san-serif;
  color: #999999;
  font-weight: normal;
  line-height: 11px;
  margin: 0 5px 5px 0;
  padding: 0;
}

/* line 199, ../../../app/stylesheets/default.sass */
h4 {
  font-family: lucida grande, tahoma, verdana, arial, san-serif;
  font-size: 12px;
  line-height: 120%;
  font-weight: bold;
  margin: 0 0 4px 0;
  padding: 0;
}

/* line 207, ../../../app/stylesheets/default.sass */
h5 {
  font-family: lucida grande, tahoma, verdana, arial, san-serif;
  color: #999999;
  font-size: 12px;
  font-weight: bold;
  border-top: 1px solid #CCCCCC;
  margin: 0px 0px 10px 0;
  padding: 5px 0px;
}

/* line 216, ../../../app/stylesheets/default.sass */
p {
  font-family: lucida grande, tahoma, verdana, arial, san-serif;
  color: #333333;
  font-size: 11px;
  line-height: 120%;
  text-align: left;
  margin: 0 0 8px 0;
  padding: 0px;
}

/* line 225, ../../../app/stylesheets/default.sass */
a {
  color: #3b5998;
  cursor: pointer;
  outline-style: none;
  -moz-outline-style: none;
  text-decoration: none;
}
/* line 232, ../../../app/stylesheets/default.sass */
a:hover {
  text-decoration: underline;
}

/* line 235, ../../../app/stylesheets/default.sass */
img {
  border: 0px;
}

/* line 238, ../../../app/stylesheets/default.sass */
hr {
  border: none 0;
  margin: 0;
  border-top: 1px solid #CCCCCC;
  height: 1px;
}
/* line 244, ../../../app/stylesheets/default.sass */
hr a {
  color: #3b5998;
}

/* line 247, ../../../app/stylesheets/default.sass */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 252, ../../../app/stylesheets/default.sass */
li {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 4px 0;
}

/* line 257, ../../../app/stylesheets/default.sass */
.meta {
  color: #999999;
}

/* line 260, ../../../app/stylesheets/default.sass */
.bold {
  font-weight: bold;
}

/* line 264, ../../../app/stylesheets/default.sass */
#pageTabs {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  overflow: visible;
  border: none;
}
/* line 274, ../../../app/stylesheets/default.sass */
#pageTabs .tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
/* line 283, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .left_tabs {
  float: left;
  padding-left: 1px;
}
/* line 287, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .right_tabs {
  float: right;
  padding-right: 1px;
}
/* line 291, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .back_links {
  padding-right: 20px;
}
/* line 294, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
/* line 299, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs li {
  display: block;
  float: left;
  padding: 0px 0px 0px 0px;
  margin: 0px 1px 0px 0px;
  height: 23px;
}
/* line 307, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs li a {
  display: block;
  height: 13px;
  margin: 0px 0px 0px 0px;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  border: none;
  color: white;
  background: #55761b url('http://jeff-laptop.chewbranca.com/images/default/pagetab-bg-off.gif?1268444346') left repeat-x;
}
/* line 318, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs li a:hover {
  background: #77983a url('http://jeff-laptop.chewbranca.com/images/default/pagetab-bg-hover.gif?1268444346') left repeat-x;
}
/* line 321, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs li.first a {
  margin: 0px 0px 0px 0px;
  padding: 5px 7px;
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}
/* line 328, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs li.first a img {
  display: inline-block;
}
/* line 333, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs li a:focus {
  outline: 0px;
}
/* line 336, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs li a.selected {
  margin: -1px 0px 0px 0px;
  padding: 5px 30px 5px 30px;
  height: 13px;
  border-top: 1px solid #999999;
  border-bottom: 1px solid white;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  background: white url('http://jeff-laptop.chewbranca.com/images/default/pagetab-bg-selected.gif?1268444346') top left repeat-x;
  color: #3b5998;
}
/* line 348, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs li.first a.selected {
  padding: 5px 7px;
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}
/* line 355, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs li a.selected:hover {
  text-decoration: none;
}
/* line 358, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs li a.disabled {
  color: #999999;
  cursor: default;
}
/* line 362, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs li a.disabled:hover {
  text-decoration: none;
}
/* line 368, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs .menu_item:hover a {
  background: #77983a url('http://jeff-laptop.chewbranca.com/images/default/pagetab-bg-hover.gif?1268444346') left repeat-x;
}
/* line 370, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs .menu_item:hover a.selected {
  background: white url('http://jeff-laptop.chewbranca.com/images/default/pagetab-bg-selected.gif?1268444346') top left repeat-x;
}
/* line 373, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs .menu_item:hover .dropdown {
  visibility: visible;
}
/* line 376, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs .menu_item .dropdown {
  z-index: 99;
  visibility: hidden;
}
/* line 381, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs .menu_item .dropdown ul li {
  display: block;
  width: 100%;
  clear: both;
  padding: 0;
  text-align: left;
}
/* line 388, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs .menu_item .dropdown ul li a {
  font-size: 10px;
  display: block;
  background: #80a341;
  padding: 5px 10px;
  border-top: 1px solid white;
  color: white;
}
/* line 397, ../../../app/stylesheets/default.sass */
#pageTabs .tabs .toggle_tabs .menu_item .dropdown ul li a:hover {
  background: #5d7e20;
}

/* line 401, ../../../app/stylesheets/default.sass */
#subNav {
  height: 19px;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 0px;
  display: inline-block;
  overflow: visible;
  border-bottom: 1px solid #999999;
}

/* line 411, ../../../app/stylesheets/default.sass */
#subNav .toggle_tabs {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
/* line 416, ../../../app/stylesheets/default.sass */
#subNav .toggle_tabs li {
  display: block;
  float: left;
  padding: 0px 0px 0px 0px;
  margin: 0 0 0 1px;
}
/* line 422, ../../../app/stylesheets/default.sass */
#subNav .toggle_tabs li a {
  margin: 0px 0px 0px 0px;
  padding: 4px 25px 1px 25px;
  height: 14px;
  border: none;
  font-weight: bold;
  font-size: 11px;
  background: #55761b;
  display: block;
  color: white;
}
/* line 433, ../../../app/stylesheets/default.sass */
#subNav .toggle_tabs li a.selected {
  margin: -1px 0px 0px 0px;
  background: white;
  border-top: 1px solid #999999;
  border-bottom: 1px solid white;
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
  color: #3b5998;
}
/* line 443, ../../../app/stylesheets/default.sass */
#subNav .toggle_tabs li a:hover {
  text-decoration: none;
}
/* line 446, ../../../app/stylesheets/default.sass */
#subNav .toggle_tabs li a.disabled {
  color: #999999;
  cursor: default;
}
/* line 450, ../../../app/stylesheets/default.sass */
#subNav .toggle_tabs li a.disabled:hover {
  text-decoration: none;
}

/* line 454, ../../../app/stylesheets/default.sass */
.panel_1, .panel_2 {
  border-bottom: none;
  margin-bottom: 15px;
}
/* line 459, ../../../app/stylesheets/default.sass */
.panel_1 .houseFeatures .featureAd, .panel_2 .houseFeatures .featureAd {
  text-align: center;
  background: #d5cbbb url('http://jeff-laptop.chewbranca.com/images/default/default_thumb_c.gif?1268373865') top left no-repeat;
  border: 1px solid #7e6947;
}
/* line 464, ../../../app/stylesheets/default.sass */
.panel_1 .houseFeatures .featureAd h2, .panel_2 .houseFeatures .featureAd h2 {
  text-align: left;
  line-height: 150%;
  padding: 8px 10px;
  color: black;
}
/* line 470, ../../../app/stylesheets/default.sass */
.panel_1 .houseFeatures .featureAd p, .panel_2 .houseFeatures .featureAd p {
  text-align: left;
  padding: 0 10px;
  margin-bottom: 20px;
}
/* line 476, ../../../app/stylesheets/default.sass */
.panel_1 .houseFeatures .featureAd .featureBtn, .panel_2 .houseFeatures .featureAd .featureBtn {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  display: inline-block;
  background: #55761b url('http://jeff-laptop.chewbranca.com/images/default/toggletab_bg.gif') left repeat-x;
  color: white;
  height: 16px;
  padding: 4px 20px;
  margin: 10px auto;
}
/* line 488, ../../../app/stylesheets/default.sass */
.panel_1 .houseFeatures .featureAd .featureBtn:hover, .panel_2 .houseFeatures .featureAd .featureBtn:hover {
  background: #80a341;
  text-decoration: none;
}
/* line 494, ../../../app/stylesheets/default.sass */
.panel_1 .userBlockWrap li, .panel_2 .userBlockWrap li {
  padding: 0;
  margin: 4px 4px 0 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  float: left;
  border-bottom: none;
}
/* line 504, ../../../app/stylesheets/default.sass */
.panel_1 .userBlockWrap li .profilePic, .panel_2 .userBlockWrap li .profilePic {
  margin: 0;
}
/* line 508, ../../../app/stylesheets/default.sass */
.panel_1 .featuredNewsList ul, .panel_2 .featuredNewsList ul {
  padding: 0 10px 0 0;
}
/* line 510, ../../../app/stylesheets/default.sass */
.panel_1 .featuredNewsList li, .panel_2 .featuredNewsList li {
  border-bottom: none;
  font-size: 11px;
  line-height: 14px;
  margin: 4px 0 0 0;
}
/* line 516, ../../../app/stylesheets/default.sass */
.panel_1 .featuredNewsList li b, .panel_2 .featuredNewsList li b {
  font-weight: normal;
  text-transform: uppercase;
}
/* line 521, ../../../app/stylesheets/default.sass */
.panel_1 .videoBlockWrap li, .panel_2 .videoBlockWrap li {
  display: inline-block;
  float: left;
}
/* line 525, ../../../app/stylesheets/default.sass */
.panel_1 .videoBlockWrap .videoThumb, .panel_2 .videoBlockWrap .videoThumb {
  margin-top: 3px;
  margin-right: 3px;
  width: 74px;
  height: 36px;
  background: #cccccc;
}
/* line 533, ../../../app/stylesheets/default.sass */
.panel_1 .formBox, .panel_2 .formBox {
  padding: 10px 0px;
  background: #f0f0f0;
}
/* line 537, ../../../app/stylesheets/default.sass */
.panel_1 .formBox .title, .panel_2 .formBox .title {
  width: 90%;
  margin: 15px auto;
  font-weight: normal;
}
/* line 542, ../../../app/stylesheets/default.sass */
.panel_1 .formBox h4, .panel_2 .formBox h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
/* line 546, ../../../app/stylesheets/default.sass */
.panel_1 .formBox textarea, .panel_2 .formBox textarea {
  border: 1px solid #cccccc;
}
/* line 549, ../../../app/stylesheets/default.sass */
.panel_1 .formBox .buttons li, .panel_2 .formBox .buttons li {
  width: 99%;
  margin: 0;
  float: right;
  text-align: right;
}
/* line 555, ../../../app/stylesheets/default.sass */
.panel_1 .panelBar, .panel_2 .panelBar {
  display: block;
  padding: 6px 0 4px 0px;
  border-bottom: 1px solid #3b5998;
  background: white;
}
/* line 562, ../../../app/stylesheets/default.sass */
.panel_1 .panelBar h2, .panel_2 .panelBar h2 {
  padding: 2px 0px 0px 2px;
  margin: 0 0 0 0;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  font-family: lucida grande, tahoma, verdana, arial, san-serif;
  color: #999999;
}
/* line 571, ../../../app/stylesheets/default.sass */
.panel_1 .panelBar a, .panel_2 .panelBar a {
  font-weight: normal;
  font-size: 11px;
  color: #3b5998;
}
/* line 576, ../../../app/stylesheets/default.sass */
.panel_1 .panelBar .bar_link, .panel_2 .panelBar .bar_link {
  float: right;
  margin: -13px 10px 0 0;
}
/* line 580, ../../../app/stylesheets/default.sass */
.panel_1 .storyBlockSpacer, .panel_2 .storyBlockSpacer {
  padding-left: 100px;
}
/* line 585, ../../../app/stylesheets/default.sass */
.panel_1 .storyBlockMeta h4, .panel_2 .storyBlockMeta h4 {
  margin-bottom: 3px;
}
/* line 588, ../../../app/stylesheets/default.sass */
.panel_1 .storyBlockMeta h3, .panel_2 .storyBlockMeta h3 {
  margin-bottom: 4px;
}
/* line 593, ../../../app/stylesheets/default.sass */
.panel_1 .storyBlockWrap .storyHead, .panel_2 .storyBlockWrap .storyHead {
  margin: 0 0 8px 0;
  color: #3b5998;
}
/* line 597, ../../../app/stylesheets/default.sass */
.panel_1 .storyBlockWrap p, .panel_2 .storyBlockWrap p {
  margin: 8px 0;
}
/* line 600, ../../../app/stylesheets/default.sass */
.panel_1 .storyBlockWrap h1, .panel_2 .storyBlockWrap h1 {
  font-size: 22px;
}
/* line 603, ../../../app/stylesheets/default.sass */
.panel_1 .storyBlockWrap p, .panel_2 .storyBlockWrap p {
  margin: 6px 0px;
  line-height: 120%;
}
/* line 607, ../../../app/stylesheets/default.sass */
.panel_1 .thumb, .panel_2 .thumb {
  float: left;
  margin: 0 10px 10px 0;
  max-width: 280px;
  background: url('http://jeff-laptop.chewbranca.com/images/default/default_thumb.gif?1268289528') top left no-repeat;
}
/* line 613, ../../../app/stylesheets/default.sass */
.panel_1 .thumb img, .panel_2 .thumb img {
  max-width: 280px;
}
/* line 616, ../../../app/stylesheets/default.sass */
.panel_1 .thumb a:hover, .panel_2 .thumb a:hover {
  text-decoration: none;
}
/* line 619, ../../../app/stylesheets/default.sass */
.panel_1 li, .panel_2 li {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #efefef;
}
/* line 626, ../../../app/stylesheets/default.sass */
.panel_1 .bullet_list, .panel_2 .bullet_list {
  margin: 0 10px;
}
/* line 629, ../../../app/stylesheets/default.sass */
.panel_1 .bullet_list ul, .panel_2 .bullet_list ul {
  margin: 10px 0 0 0;
}
/* line 632, ../../../app/stylesheets/default.sass */
.panel_1 .bullet_list li, .panel_2 .bullet_list li {
  display: list-item;
  margin: 0 0 10px 10px;
  padding: 0;
  line-height: 120%;
  list-style-image: url('http://jeff-laptop.chewbranca.com/images/default/bullet1.gif?1267736380');
  list-style-type: disc;
  list-style-position: outside;
  border-bottom: none;
}
/* line 642, ../../../app/stylesheets/default.sass */
.panel_1 .audio, .panel_1 .video, .panel_1 .image, .panel_2 .audio, .panel_2 .video, .panel_2 .image {
  margin: 10px;
}
/* line 645, ../../../app/stylesheets/default.sass */
.panel_1 .userPoints, .panel_2 .userPoints {
  text-align: right;
  margin-right: 0px;
}

/* line 651, ../../../app/stylesheets/default.sass */
.panelBar .refine-toggle {
  position: relative;
  z-index: 48;
  padding-right: 10px;
  background: transparent url('http://jeff-laptop.chewbranca.com/images/default/dropdown_arrow.gif?1268096909') center right no-repeat;
}
/* line 657, ../../../app/stylesheets/default.sass */
.panelBar .refine_link {
  float: right;
  position: relative;
  display: block;
  padding: 4px 10px;
  margin-top: -18px;
}
/* line 664, ../../../app/stylesheets/default.sass */
.panelBar .refine_link .refine-tab {
  height: 28px;
  width: 104px;
  position: absolute;
  top: -30px;
  right: -1px;
  border-top: 1px solid #3b5998;
  border-bottom: 1px solid white;
  border-left: 1px solid #3b5998;
  border-right: 1px solid #3b5998;
  background-color: white;
  z-index: 44;
}
/* line 678, ../../../app/stylesheets/default.sass */
.panelBar .refine_link .refine-box {
  z-index: 43;
  display: none;
  position: absolute;
  padding: 8px;
  width: 142px;
  top: 26px;
  left: -54px;
  border: 1px solid #3b5998;
  background-color: white;
}
/* line 689, ../../../app/stylesheets/default.sass */
.panelBar .refine_link .refine-box .refine-content {
  text-align: center;
}
/* line 692, ../../../app/stylesheets/default.sass */
.panelBar .refine_link .refine-box .refine-content select {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #3b5998;
}
/* line 697, ../../../app/stylesheets/default.sass */
.panelBar .refine_link .refine-box .refine-content label {
  display: block;
  font-weight: bold;
  text-align: left;
  padding: 0 0 5px 4px;
}
/* line 703, ../../../app/stylesheets/default.sass */
.panelBar .refine_link .refine-box .refine-content input {
  width: 70%;
  cursor: pointer;
  font-weight: bold;
  color: #3b5998;
  border: 1px solid #3b5998;
  background: #dce6f4;
}
/* line 711, ../../../app/stylesheets/default.sass */
.panelBar .refine_link .refine-box .refine-content input:hover {
  color: white;
  background: #3b5998;
}

/* line 716, ../../../app/stylesheets/default.sass */
#hotTopicBar {
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}
/* line 722, ../../../app/stylesheets/default.sass */
#hotTopicBar ul {
  display: block;
  float: left;
  background: #f0f0f0;
  width: 100%;
}
/* line 727, ../../../app/stylesheets/default.sass */
#hotTopicBar ul li {
  float: left;
  padding: 4px 0 4px 0px;
}
/* line 731, ../../../app/stylesheets/default.sass */
#hotTopicBar ul li.topic {
  display: inline;
  float: left;
  text-align: left;
  background: #f0f0f0;
  padding: 4px 15px 4px 0;
  min-width: 10%;
}
/* line 739, ../../../app/stylesheets/default.sass */
#hotTopicBar ul li.topic a {
  margin-left: 5px;
  padding-left: 8px;
  background: url('http://jeff-laptop.chewbranca.com/images/default/topic_arrow.gif?1267736380') center left no-repeat;
}
/* line 744, ../../../app/stylesheets/default.sass */
#hotTopicBar ul li.topicTitle {
  background: #31500b;
  color: white;
  width: 22%;
  padding-left: 5px;
  text-transform: uppercase;
  margin-right: 10px;
}
/* line 752, ../../../app/stylesheets/default.sass */
#hotTopicBar ul li.topicMore {
  border-left: 2px solid #FFF;
  float: right;
  text-align: center;
  width: 10%;
  background: #f0f0f0;
}

/* line 762, ../../../app/stylesheets/default.sass */
#readArticle .topBar {
  margin-bottom: 15px;
}
/* line 764, ../../../app/stylesheets/default.sass */
#readArticle .topBar ul {
  border-bottom: none;
  display: inline-block;
  width: 100%;
}
/* line 769, ../../../app/stylesheets/default.sass */
#readArticle .topBar ul li {
  padding: 3px 0 4px 0;
  text-align: center;
  display: block;
  float: left;
  margin-bottom: 0;
  margin-right: -1px;
  width: 25%;
  border-left: 1px solid white;
  border-bottom: none;
  background: #f0f0f0;
}
/* line 783, ../../../app/stylesheets/default.sass */
#readArticle .topBar ul li.nopad {
  padding-bottom: 2px;
}
/* line 785, ../../../app/stylesheets/default.sass */
#readArticle .topBar ul li a {
  color: #3b5998;
}
/* line 788, ../../../app/stylesheets/default.sass */
#readArticle .thumb {
  float: right;
}
/* line 791, ../../../app/stylesheets/default.sass */
#readArticle .bodyArticle {
  color: #333333;
  margin: 8px 10px 14px 10px;
  line-height: 140%;
  font-size: 12px;
}
/* line 798, ../../../app/stylesheets/default.sass */
#readArticle .storyCaption p {
  margin: 4px 0;
}
/* line 800, ../../../app/stylesheets/default.sass */
#readArticle .storyCaption br {
  margin: 0;
  line-height: 0px;
  visibility: hidden;
}

/* line 807, ../../../app/stylesheets/default.sass */
#commentThread .panelBar {
  background: #dce6f4;
}
/* line 810, ../../../app/stylesheets/default.sass */
#commentThread .panelBar h2 {
  color: #3b5998;
}
/* line 813, ../../../app/stylesheets/default.sass */
#commentThread .comment_block {
  position: relative;
  padding: 8px 0 20px 0;
  border-bottom: 1px solid #efefef;
}
/* line 819, ../../../app/stylesheets/default.sass */
#commentThread .comment_block .comment_reply {
  display: block;
  padding: 0 0 4px 20px;
  position: absolute;
  bottom: 8px;
  left: 70px;
  background: url('http://jeff-laptop.chewbranca.com/images/default/reply_arrow.png?1267736380') top left no-repeat;
}
/* line 827, ../../../app/stylesheets/default.sass */
#commentThread .comment_block .comment_reply a {
  color: #336600;
  font-weight: bold;
  font-size: 11px;
}

/* line 832, ../../../app/stylesheets/default.sass */
.feature_bg {
  background-color: #dce6f4;
}
/* line 835, ../../../app/stylesheets/default.sass */
.feature_bg .panel_2 {
  margin-bottom: 10px;
}
/* line 837, ../../../app/stylesheets/default.sass */
.feature_bg .thumb {
  margin: 10px;
}
/* line 840, ../../../app/stylesheets/default.sass */
.feature_bg .storyBlockWrap {
  margin: 10px 10px 0 10px;
}

/* line 843, ../../../app/stylesheets/default.sass */
.subtitle {
  font-size: 10px;
  color: #999999;
  background: #f0f0f0;
  border-top: none;
  border-bottom: none;
  padding: 6px 4px 6px 4px;
}

/* line 853, ../../../app/stylesheets/default.sass */
.subFilter {
  font-size: 10px;
  color: #999999;
  background: #f0f0f0;
  border-top: none;
  border-bottom: 1px solid #cccccc;
  padding: 4px 10px 4px 10px;
}
/* line 862, ../../../app/stylesheets/default.sass */
.subFilter a {
  padding: 1px 5px 2px 5px;
  color: #3b5998;
  margin-left: 4px;
}
/* line 867, ../../../app/stylesheets/default.sass */
.subFilter .selected {
  color: white;
  background: #3b5998;
  padding: 1px 5px 2px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 877, ../../../app/stylesheets/default.sass */
blockquote {
  background: white;
  color: #333333;
  font-size: 12px;
  line-height: 130%;
  margin: 10px 0 10px 60px;
  padding: 0 20px 0 0;
}
/* line 885, ../../../app/stylesheets/default.sass */
blockquote .quotes {
  padding: 4px 0;
}

/* line 890, ../../../app/stylesheets/default.sass */
.btn {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  padding: 3px 10px 4px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #31500b;
}

/* line 900, ../../../app/stylesheets/default.sass */
#col_right .btn_1 {
  display: block;
  text-align: center;
  margin: 10px;
}

/* line 906, ../../../app/stylesheets/default.sass */
.btnComment {
  display: inline-block;
  margin: 0 1px;
  padding: 1px 8px 2px 8px;
  background: #F0F0F0;
}

/* line 912, ../../../app/stylesheets/default.sass */
.voteUp {
  background: url('http://jeff-laptop.chewbranca.com/images/default/icon_vote.gif?1265750670') left no-repeat;
  padding-left: 15px;
}

/* line 916, ../../../app/stylesheets/default.sass */
.voteDown {
  background: url('http://jeff-laptop.chewbranca.com/images/default/icon_vote_no.gif?1267736380') left no-repeat;
  padding-left: 15px;
}

/* line 920, ../../../app/stylesheets/default.sass */
.thumb-up {
  background: url('http://jeff-laptop.chewbranca.com/images/default/thumb-up.gif?1268373865') left no-repeat;
  padding-left: 15px;
}


/* line 926, ../../../app/stylesheets/default.sass */
.thumb-down {
  background: url('http://jeff-laptop.chewbranca.com/images/default/thumb-down.gif?1268373865') left no-repeat;
  padding-left: 15px;
}


/* line 933, ../../../app/stylesheets/default.sass */
.thumb-down {
  background: url('http://jeff-laptop.chewbranca.com/images/default/thumb-down.gif?1268373865') left no-repeat;
  padding-left: 15px;
}

/* line 939, ../../../app/stylesheets/default.sass */
.actionLegend {
  background: #dce6f4;
}
/* line 941, ../../../app/stylesheets/default.sass */
.actionLegend .share_and_hide {
  margin: 5px;
}
/* line 943, ../../../app/stylesheets/default.sass */
.actionLegend .share_and_hide h4 {
  margin-bottom: 5px;
  color: #3b5998;
}
/* line 946, ../../../app/stylesheets/default.sass */
.actionLegend .share_and_hide input {
  border: 1px solid #cccccc;
  width: 100%;
  padding: 1px 0;
}

/* line 951, ../../../app/stylesheets/default.sass */
.list_stories .thumb img {
  max-width: 90px;
  max-height: 90px;
}

/* line 955, ../../../app/stylesheets/default.sass */
.profilePic {
  float: left;
  margin: 0px 10px 0px 0px;
}
/* line 959, ../../../app/stylesheets/default.sass */
.profilePic a:hover {
  text-decoration: none;
}

/* line 963, ../../../app/stylesheets/default.sass */
.list_stories .profilePic img {
  width: 30px;
  height: 30px;
}

/* line 968, ../../../app/stylesheets/default.sass */
.pointsTable_profile {
  display: inline-block;
}
/* line 970, ../../../app/stylesheets/default.sass */
.pointsTable_profile table {
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #D8DFEA;
}
/* line 976, ../../../app/stylesheets/default.sass */
.pointsTable_profile td {
  border-top: 1px solid #D8DFEA;
  margin: 0;
  padding: 3px 10px 4px 0px;
}



/* line 987, ../../../app/stylesheets/default.sass */
>>>>>>> 36ba79d4929d288540aa8787387daad6d04cc885:app/stylesheets/default.sass p {
  line-height: 120%;
  font-size: 12px;
  margin: 10px auto;
  width: 80%;
}
/* line 993, ../../../app/stylesheets/default.sass */
>>>>>>> 36ba79d4929d288540aa8787387daad6d04cc885:app/stylesheets/default.sass label {
  font-size: 11px;
  padding: 4px 2px;
}


/* line 1000, ../../../app/stylesheets/default.sass */
.ad_wrapFrame {
  display: inline-block;
  margin: 0 10px;
}

/* line 1004, ../../../app/stylesheets/default.sass */
.ad_scaleFrame {
  max-width: 100%;
}

/* line 1007, ../../../app/stylesheets/default.sass */
.ad_230 {
  width: 210px;
  margin: 0 auto;
}

/* line 1011, ../../../app/stylesheets/default.sass */
.ad_480 {
  width: 460px;
  margin: 0 auto;
}

/* line 1015, ../../../app/stylesheets/default.sass */
.ad_480, .ad_230, .ad_scaleFrame, .ad_wrapFrame {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 15px 0 5px;
  border-left: 10px solid #CCC;
  border-right: 10px solid #CCC;
  background: #cccccc url('http://jeff-laptop.chewbranca.com/images/default/ad-bg-title.gif?1268444345') top center no-repeat;
  padding: 0;
}
/* line 1025, ../../../app/stylesheets/default.sass */
.ad_480 .inside-frame, .ad_230 .inside-frame, .ad_scaleFrame .inside-frame, .ad_wrapFrame .inside-frame {
  text-align: center;
  padding: 60px;
  max-width: 800px;
  max-height: 300px;
  background: #fff;
}
/* line 1032, ../../../app/stylesheets/default.sass */
.ad_480 .inside-frame-2, .ad_230 .inside-frame-2, .ad_scaleFrame .inside-frame-2, .ad_wrapFrame .inside-frame-2 {
  text-align: center;
  padding: 60px;
  background: #fff;
}

/* line 1040, ../../../app/stylesheets/default.sass */
.bookmarklet {
  padding-bottom: 10px;
  border-bottom: 2px solid #7e6947;
  background: #d5cbbb url('http://jeff-laptop.chewbranca.com/images/default/bookmarklet-BG.gif?1268444345') top left repeat-x;
}
/* line 1045, ../../../app/stylesheets/default.sass */
.bookmarklet h2 {
  color: white;
  background: url('http://jeff-laptop.chewbranca.com/images/default/bookmarklet-header-BG.png?1268444345') bottom left repeat-x;
  font-size: 20px;
  margin: 0;
  padding: 5px 10px 25px 10px;
}
/* line 1051, ../../../app/stylesheets/default.sass */
.bookmarklet p {
  color: #333333;
  margin: 5px 10px;
}
/* line 1055, ../../../app/stylesheets/default.sass */
.bookmarklet .demo {
  margin: 10px 15px;
  padding: 65px 0 10px 0;
  background: url('http://jeff-laptop.chewbranca.com/images/default/bookmarklet-demo.png?1268444345') top center no-repeat;
}
/* line 1060, ../../../app/stylesheets/default.sass */
.bookmarklet .btn {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px 6px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #55761b url('http://jeff-laptop.chewbranca.com/images/default/btn-bg-off.gif?1268444346') left repeat-x;
}
/* line 1069, ../../../app/stylesheets/default.sass */
.bookmarklet .btn:hover {
  text-decoration: none;
  background: #77983a url('http://jeff-laptop.chewbranca.com/images/default/btn-bg-on.gif?1268444346') left repeat-x;
}
