/* line 2, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-container {
  -moz-border-radius: 10px;
  background: #F0F6F9;
  border: 1px solid #346F97;
}
/* line 7, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 245px;
  padding: 20px 40px;
}
/* line 11, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-container-vertical {
  width: 75px;
  height: 245px;
  padding: 40px 20px;
}
/* line 16, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 245px;
  height: 75px;
}
/* line 20, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-clip-vertical {
  width: 75px;
  height: 245px;
}
/* line 24, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-item {
  width: 75px;
  height: 75px;
}
/* line 28, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-right: 10px;
}
/* line 31, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-item-vertical {
  margin-bottom: 10px;
}
/* line 34, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}
/* line 38, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-next-horizontal {
  position: absolute;
  top: 43px;
  right: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(/images/next-horizontal.png) no-repeat 0 0;
}
/* line 47, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
  background-position: -32px 0;
}
/* line 50, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
  background-position: -64px 0;
}
/* line 53, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal {
  cursor: default;
  background-position: -96px 0;
}
/* line 57, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}
/* line 61, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  position: absolute;
  top: 43px;
  left: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(/images/prev-horizontal.png) no-repeat 0 0;
}
/* line 70, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
/* line 73, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}
/* line 76, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal {
  cursor: default;
  background-position: -96px 0;
}
/* line 80, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}
/* line 84, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-next-vertical {
  position: absolute;
  bottom: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(/images/next-vertical.png) no-repeat 0 0;
}
/* line 93, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-next-vertical:hover {
  background-position: 0 -32px;
}
/* line 96, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-next-vertical:active {
  background-position: 0 -64px;
}
/* line 99, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-next-disabled-vertical {
  cursor: default;
  background-position: 0 -96px;
}
/* line 103, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}
/* line 107, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-prev-vertical {
  position: absolute;
  top: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(/images/prev-vertical.png) no-repeat 0 0;
}
/* line 116, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
  background-position: 0 -32px;
}
/* line 119, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-prev-vertical:active {
  background-position: 0 -64px;
}
/* line 122, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical {
  cursor: default;
  background-position: 0 -96px;
}
/* line 126, ../../../app/stylesheets/jcarousel.skin.sass */
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: 0 -96px;
}
