.full-panel
  .thumb
    = image_tag('default/default_thumb.gif')
  .itemBlock
    %h1 
      %a.ellipsis_title_2
        %span.ellipsis_text Nemo enim ipsam volup tatem quia voluptas sit aspernatur aut odit aut fugit
    %p.ellipsis_caption_5
      %span.ellipsis_text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet

    %span.btnComment
      %a.voteUp
        Like
      106
    %span.btnComment
      %a
        Comment
      16