- limit_title = 100
- limit_caption = 300
.quarter-panel
  .thumb
    %a= link_to image_tag(item.featured_image_url), item.featured_url
  .itemBlock
    %h4
      %span.ellipsis_title_2
        = link_to caption(item.featured_title,limit_title), item.featured_url, { :class => 'ellipsis_text'}
    %p.ellipsis_caption_7
      %span.ellipsis_text= caption(sanitize(strip_tags(item.featured_blurb)),limit_caption)
