- limit_title = 40
- limit_caption = 50
.third-panel
  .thumb
    %a= link_to image_tag(item.featured_image_url), item.featured_url
  .itemBlock
    %h4 
      %a= link_to caption(item.featured_title,limit_title), item.featured_url
    %p
      = caption(sanitize(strip_tags(item.featured_blurb)),limit_caption)
      -# = link_to 'More...', item
