.panel_2
  .panelBar
    %h2
      Article Layout
  .itemListWrap
    .list_items
      %ul
        %li
          .blog
            .itemBlock
              %h2
                %a Play Him Off Keyboard Cat, for this man is the silliest of the sillies.
              %h3
                Posted by 
                %a 
                  Frank Henry Parsons 
                12 hours ago
              .itemContent
                .thumb
                  %a= image_tag('default/default_thumb.gif')
                %p
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet...
                  %a
                    More...
              .itemMeta
                %span.btnComment
                  %a.voteUp
                    Like
                  4
                %span.btnComment
                  %a
                    Comment
                %span.btnComment
                  %a
                    Read full Article