.panel_2.textpage

  %h1 Frequently asked questions

  %h2 What is Insight from the Charlotte Observer?
  %p Insight is a community for Charlotte people who are interested in sharing news and information. Users can post stories they think others will find interesting, comment on stories already posted, suggest ideas to help Charlotte and ask questions and solicit responses from other users.
  %p In addition, members can post their own stories and let others discuss the articles.

  %h2 What is the tone of the community?
  %p The users help set the standards of what is appropriate in comments and story postings. The goal of the founders of the community is for it to be a place with good, honest conversations focused on issues that are really important to everyday life.
  %pThis is not the site for you if you want to read about the latest Hollywood gossip or see pictures of people hanging out in bars.
  %p We also prohibit postings that include obscenity, libel, racial slurs, slurs about sexual orientation and anything else you wouldn’t say in the presence of your mother.

  %h2 How do I put a story on the website?

  %p After you register (see below) you can take several actions: POST STORIES FROM OTHER WEBSITES -- By clicking on "News"; then "Post story" and then following the directions on the form you can post a summary of the story and a link to the site easily and automatically. You can post stories from any other news website. It does not have to be a "traditional" news site and it does not have to be Charlotteobserver.com, though we appreciate it when you do post from there.

  %p 
    %b WRITE YOUR OWN STORY -- 
    Do you want to tell others about an event you were at or something that you've seen in your life that is worth sharing? Click on "News"; then "Compose article" and follow the directions on the form. The entire text of the article will be in Insight.

  %p 
    %b POST A PHOTO -- 
    At this point, you cannot post a photo without also submitting text with it. Both the "Compose an article" and "Post story" allow you to post photo links from other websites or from your own computer. By posting from your own computer, you are saying that you have the rights to that photo.

  %p 
    %b FEATURED STORIES -- 
    These are selected by the site administrators, who are editors at the Observer. In the future, we'd like the community to be involved in these selections.

