.panel_2
  .panelBar
    %h2 
      Popular Layout
  .list_items
    %ul
      %li
        .article.featured
          .thumb
            = image_tag('default/default_thumb.gif')
          .itemBlock
            %h4
              %a
                Story Title goes here - two line spread.
            .itemMeta
              %span.btnComment
                %a
                  Comment
                16
              %span.btnComment
                %a.voteUp
                  like
                2

      %li
        .article
          .itemBlock
            %h4
              %a
                Story Title goes here - one line spread.
            .itemMeta
              %span.btnComment
                %a
                  Comment
                16
              %span.btnComment
                %a.voteUp
                  like
                2
      %li
        .article
          .itemBlock
            %h4
              %a
                Story Title goes here - one line spread.
            .itemMeta
              %span.btnComment
                %a
                  Comment
                16
              %span.btnComment
                %a.voteUp
                  like
                2
      %li
        .article
          .itemBlock
            %h4
              %a
                Story Title goes here - one line spread.
            .itemMeta
              %span.btnComment
                %a
                  Comment
                16
              %span.btnComment
                %a.voteUp
                  like
                2
      %li
        .article
          .itemBlock
            %h4
              %a
                Story Title goes here - one line spread.
            .itemMeta
              %span.btnComment
                %a
                  Comment
                16
              %span.btnComment
                %a.voteUp
                  like
                2

  .itemActions
    %a
      View More Items