.panel_2
  %h1
    Panel_2 Layouts

.panel_2
  .panelBar
    %h2 
      top Stories
  .list_items
    %ul
      %li
        .item_1.featured
          .thumb
            = image_tag('default/default_thumb.gif')
          .itemBlock
            %h4
              %a
                Story Title goes here - two line spread.
            .itemMeta
              %span.btnComment
                %a
                  Comment
                16
              %span.btnComment
                %a.voteUp
                  like
                2
      %li
        .item_1
          .itemBlock
            %h4
              %a
                Story Title goes here - one line spread.
      %li
        .item_1
          .itemBlock
            %h4
              %a
                Story Title goes here - one line spread.
      %li
        .item_1
          .itemBlock
            %h4
              %a
                Story Title goes here - one line spread.

  .itemActions
    %a
      View More Items



.panel_2
  .panelBar
    %h2 
      Newest Stories
  .list_items
    %ul
      %li
        .item_2.featured
          .itemBlock
            %h4
              %a
                Story Title goes here - one line spread.
            %p
              1:45PM Officials shut down an N.C. port and urged people to leave the area after...
              %a
                More...

            .itemMeta
              %span.btnComment
                %a
                  Comment
                16
              %span.btnComment
                %a.voteUp
                  like
                2
      %li
        .item_2
          .itemBlock
            %h4
              %a
                Story Title goes here - one line spread.
      %li
        .item_2
          .itemBlock
            %h4
              %a
                Story Title goes here - one line spread.
      %li
        .item_2
          .itemBlock
            %h4
              %a
                Story Title goes here - one line spread.


  .itemActions
    %a
      View More Items



.panel_2
  %h1
    Panel_2 Featured Item Layouts

.panel_2.featureWrap
  .panelBar
    %h2
      Featured Question/Idea layout
  .featured
    .item_2.question
      .itemBlock
        %h2
          %a
            Where can I purchase fresh star fruit and pomagranites near Shoreline Community College?
        .itemMeta
          %span.btnComment
            %a
              View
          %span.btnComment
            %a
              Answer
          %span.btnComment
            %a.voteUp
              Like

.panel_2.featureWrap
  .panelBar
    %h2
      Featured Event
  .featured
    .item_2.event
      .itemBlock
        %h4
          %a
            LOLCAT party in capitlol hill.
        .itemMeta
          %h3
            Time: 9:30pm
          %h3
            Place: 123 N Carminite wy, Capitol Hill
        .itemMeta
          %span.btnComment
            %a
              View Details
          %span.btnComment
            %a
              Comment
          %span.btnComment
            %a.voteUp
              Like
  

