%h1.clearfix
  Second layout Sidebar

.panel_1
  .searchBox

.panel_1
  .welcomePanel
    .itemBlock
      %h2
        This is the Welcome Panel title!  Two lines of Awesome await!
      %p
        Post Stories on our site to help you and your community become better informed of the world around you.
      %a.btn
        Post A Story

.panel_1
  .welcomePanel
    .thumb.welcome
      = image_tag('default/house-ad-profile.jpg')
      = image_tag('default/icon-mod-badge.png', :class => 'moderator')
    .itemBlock
      %h2
        This is the Welcome Panel title!  Two lines, Weee!
      %p
        Post Stories on our site to help you and your community become better informed of the world around you.
      %a.btn
        Post A Story

.panel_1
  .welcomePanel
    .thumb.banner
      = image_tag('default/house-ad-banner.jpg')
    .itemBlock
      %h2
        This is the Welcome Panel title!  Two lines of Awesome await!
      %p
        Post Stories on our site to help you and your community become better informed of the world around you.
      %a.btn
        Post A Story

.panel_1
  .ad_200
    .test-frame.sky-scraper

.panel_1
  .ad_160
    .test-frame.sky-scraper