.panel_2
  .panelBar
    %h2
      Top Users

  .itemListWrap
    .list_items
      %ul
        %li
          .users
            .thumb.user
              = image_tag('default/test-profile-pic.jpg')
              = image_tag('default/icon-mod-badge.png', :class => 'moderator')
            .itemBlock
              .float_left{ :style => 'width: 60%' }
                %h2 
                  Bob Bobberson
                %p
                  1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials. 1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials...
              .float_right{ :style => 'width: 35%' }
                %h4.userPoints
                  Total: 10,000
                %h3.userPoints
                  Appreciation: 10,000
            