%h1
  This is the beginning of Layout B
#featuredPanel.panel_2.featureWrap
  .panelBar
    %h2
      Featured News
  .panel_1.left
    .thumb
      = image_tag('default/watermark.jpg', :width => "100%")
  .panel_1.right
    .itemBlock
      %h1
        Featured News Title Here: Two line spread
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured.
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
      .bullet_list.float_left
        %ul
          %li
            %a
              This is a bullet list point
          %li
            %a
              This is a bullet list point

= render :partial => 'shared/hot_topics'

.panel_2
  .panelBar
    %h2
      Forum Topics
  %ul
    %li
      %h4
        %a
          Hawks needed to do more researching on the coaching change
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments
    %li
      %h4
        %a
          Hawks needed to do more researching on the coaching change
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments

.panel_2
  .ad_fullCol
    %span            
      Advertisement

.panel_1.left
  .panelBar
    %h2
      Blogs
  %ul
    %li
      %h4
        %a
          Time for the mayor to get going
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments  
    %li
      %h4
        %a
          Time for the mayor to get going
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments

.panel_1.right
  .panelBar
    %h2
      Latest Comments

  %ul
    %li
      %p
        “At this point, I’m tired of hearing about healthcare reform in the midst of human tradgedy. Seems the President has no ...More
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments  
    %li
      %p
        “At this point, I’m tired of hearing about healthcare reform in the midst of human tradgedy. Seems the President has no ...More
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments