.panel-1.float-right
  /change the class where "active" is to switch out the icon in the background.
  .panel-bar.top-secondary-corners.active  
    .panel-full
      %h3.float-left
        Most Active
      %a.button-panel-bar.float-right
        Post Something
  .panel-content
    %ul.list-items
      %li
        .item-with-image
          .item-thumb
            %a= image_tag('default/default_thumb.gif')
          .item-text
            %h4
              %a  
                Sit volup tatem accus antium dolorem que
            .meta-data
              %h6  
                By
                %a Jeff Reifman
                in
                %a Blogs

              %h6 
                %span.count 
                  7
                %a 
                  Comments
      %li
        .item-with-no-image
          .item-text
            %h3
              %a
                Sit volup tatem accus antium dolorem que
          .meta-data
            .profile-pic
              =link_to image_tag('default/test-profile-pic.jpg'), '#'
            %h6  
              Written by
              %a Abraham Esquire Lincoln
              in
              %a News
              4 days ago
            %h6 
              %span.count 
                7
              %a 
                Comments

      %li
        .item-with-no-image
          .item-text
            %h3
              %a
                Sit volup tatem accus antium dolorem que
          .meta-data
            %h6  
              Posted by
              %a Abraham Esquire Lincoln
              in
              %a Arts &amp; Crafts Forum
              4 days ago
            %h6 
              %span.count 
                7
              %a 
                Comments

      %li
        .item-with-no-image
          .item-text
            %h3
              %a
                Sit volup tatem accus antium dolorem que
          .meta-data
            %h6  
              Posted by
              %a Jeff Reifman
              in
              %a Blogs
              4 days ago
            %h6 
              %span.count 
                7
              %a 
                Comments

.panel-1.float-right
  /change the class where "active" is to switch out the icon in the background.
  .panel-bar.top-secondary-corners.news  
    .panel-full
      %h3.float-left
        Newswire
  .panel-content
    %ul.list-items
      %li
        .item-with-no-image
          %b
            %a
              Sit volup tatem accus antium dolorem que
          .meta-data
            %h6  
              Via Seattle Times 
              &nbsp;
              |
              &nbsp;
              %a Post
              &nbsp;
              |
              &nbsp;
              %a Read
      %li
        .item-with-no-image
          %b
            %a
              Sit volup tatem accus antium dolorem que
          .meta-data
            %h6  
              Via Seattle Times 
              &nbsp;
              |
              &nbsp;
              %a Post
              &nbsp;
              |
              &nbsp;
              %a Read
      %li
        .item-with-no-image
          %b
            %a
              Sit volup tatem accus antium dolorem que
          .meta-data
            %h6  
              Via Seattle Times 
              &nbsp;
              |
              &nbsp;
              %a Post
              &nbsp;
              |
              &nbsp;
              %a Read
      %li
        .item-with-no-image
          %b
            %a
              Sit volup tatem accus antium dolorem que
          .meta-data
            %h6  
              Via Seattle Times 
              &nbsp;
              |
              &nbsp;
              %a Post
              &nbsp;
              |
              &nbsp;
              %a Read
      %li
        .item-with-no-image
          %b
            %a
              Sit volup tatem accus antium dolorem que
          .meta-data
            %h6  
              Via Seattle Times 
              &nbsp;
              |
              &nbsp;
              %a Post
              &nbsp;
              |
              &nbsp;
              %a Read

    %p.wgt-foot
      %a Newswires Page &raquo;
