.fake-shadow
  // Don't use that part.
  .popover-wrapper
    // You can change the panel class to suite your width needs.
    .popover-container
      %h1.title Post to the Site Name
      %p Select the type of content to share with the community
      .popover-tabs
        %ul
          %li.tab.selected
            %a.forums Forums

          %li.tab
            %a.news Stories
            
          %li.tab
            %a.blogs Blogs
            
          %li.tab
            %a.events Events
            
          %li.tab
            %a.classifieds Classifieds
            
          %li.tab
            %a.ideas Ideas
            
          %li.tab
            %a.questions Questions
            
      .popover-wizard-area
      .popover-form-area
      .popover-button-area
        %a.popover-button.float-right Submit Form