.panel-2.featured-panel.top-secondary-corners.bottom-secondary-corners
  .panel-bar.panel-half.position-left.top-secondary-corners.bottom-secondary-corners.no-border-position.shadow 
    .panel-full.top-secondary-corners.events
      %h2 Events
      %p Descriptive text it volup tatem accus antium dolorem que
      %a.button-panel-bar.center
        Post Something

  .panel-half.pad-left
    .panel-content
      .item-with-image.flip
        .item-thumb
          %a= image_tag('default/default_thumb.gif')
        .item-text
          %h4
            %a  
              Sit volup tatem accus antium dolorem que
          %h5
            March, 14th 2011
        .meta-data
          %h6.float-left  
            By
            %a Jeff Reifman

          %h6.float-right
            %span.count 
              7
            %a 
              Comments