.panel-2.ad-wrap
  .ad-title
    Advertisement
  .place-holder-ad.delete_this_class
    Place holder ad space

.panel-1.ad-wrap
  .ad-title
    Advertisement
  .place-holder-ad.delete_this_class
    Place holder ad space

.panel-3.ad-wrap
  .ad-title
    Advertisement
  .place-holder-ad.delete_this_class
    Place holder ad space