.panel-1.user-panel.top-secondary-corners
  .panel-content
    %span.user-title.top-secondary-corners Active&nbsp;Users
    %ul.list-users
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %li
        .profile-pic
          =link_to image_tag('default/test-profile-pic.jpg'), '#'
    %div.clearfix