.panel-1
  .panel-content.meta-panel
    .panel-full
      .profile-pic
        =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %h2 Welcome Back Username!
      %p Looks like you haven't posted in a while.
      %a.button-link
        Post to the Site Name