.panel-1.featured-panel.top-secondary-corners.bottom-secondary-corners.gallery
  .panel-bar.panel-full.top-secondary-corners.media  
    %h2
      Media Gallery
    %p  View the latest media uploaded to the Newscloud.
    %a.button-panel-bar.center
      View Full Gallery
  .panel-content
    %ul
      %li.media-item=image_tag('default/default_thumb.gif')
      %li.media-item=image_tag('default/default_thumb.gif')
      %li.media-item=image_tag('default/default_thumb.gif')
      %li.media-item=image_tag('default/default_thumb.gif')


.panel-1.featured-panel.top-secondary-corners.bottom-secondary-corners.gallery
  .panel-bar.panel-full.top-secondary-corners.media  
    %h2
      Media Gallery
    %p  View the latest media uploaded to the Newscloud.
    %a.button-panel-bar.center
      View Full Gallery

  .panel-content
    .media-item.single=image_tag('default/default_thumb.gif')


.panel-2.featured-panel.top-secondary-corners.bottom-secondary-corners.gallery
  .panel-bar.panel-full.top-secondary-corners.media  
    %h2.float-left
      Media Gallery
    %a.button-panel-bar.float-right
      View Full Gallery

    %p.float-left.clearfix  View the latest media uploaded to the Newscloud.
  .panel-content
    %ul
      %li.media-item=image_tag('default/default_thumb.gif')
      %li.media-item=image_tag('default/default_thumb.gif')
      %li.media-item=image_tag('default/default_thumb.gif')
      %li.media-item=image_tag('default/default_thumb.gif')
      %li.media-item=image_tag('default/default_thumb.gif')
      %li.media-item=image_tag('default/default_thumb.gif')
      %li.media-item=image_tag('default/default_thumb.gif')
      %li.media-item=image_tag('default/default_thumb.gif')