.panel-1.featured-panel.top-secondary-corners.bottom-secondary-corners.float-right
  .panel-bar.panel-full.top-secondary-corners.ideas.shadow  
    %h2
      Ideas
    %p Descriptive text it volup tatem accus antium dolorem que
    %a.button-panel-bar.center
      Post Something
  .panel-content
    %h1
      %a  
        Sit volup tatem accus antium dolorem que

    .meta-data
      .profile-pic
        =link_to image_tag('default/test-profile-pic.jpg'), '#'
      %h6  
        By
        %a Jeff Reifman
        in
        %a Ideas
      %h6 
        %span.count 
          7
        %a 
          Comments