.panel-2
  .panel-content.featured-panel
    .panel-third.first
      .panel-bar.top-secondary-corners.bottom-secondary-corners
        %h5
          Resources
        .item-thumb.bottom-secondary-corners
          %a= image_tag('default/default_thumb.gif')
      .item-text
        %h3
          %a  
            Sit volup tatem accus antium dolorem que
      .meta-data
        %h6  
          By
          %a Jeff Reifman
          4 days ago
        %h6 
          %span.count 
            7
          %a 
            Comments

    .panel-third
      .panel-bar.top-secondary-corners.bottom-secondary-corners
        %h5
          Q & A
        %h4
          Sed ut perspiciatis unde omnis iste natus error sit volup tatem accusant dolorem?
      .item-text
        %p
          Sed ut perspiciatis unde omnis iste natus error sit volup tatem accusan dolorem que laudantium, totam rem aperiam.
      .meta-data
        %h6  
          By
          %a Jeff Reifman
          4 days ago
        %h6 
          %span.count 
            7
          %a 
            Comments

    .panel-third.last
      .panel-bar.top-secondary-corners.bottom-secondary-corners
        %h5
          News
        .item-thumb.bottom-secondary-corners
          %a= image_tag('default/default_thumb.gif')
      .item-text
        %h3
          %a  
            Sit volup tatem accus antium dolorem que
      .meta-data
        %h6  
          By
          %a Jeff Reifman
          4 days ago
        %h6 
          %span.count 
            7
          %a 
            Comments
