.panel-3
  .ad-wrap
    .ad-title
      HEY LOOK AT ME!
    .place-holder-ad.delete_this_class
      Place holder ad space
.panel-2
  .ad-wrap
    .ad-title
      Supporter
    .place-holder-ad.delete_this_class
      Place holder ad space
.panel-1
  .ad-wrap
    .ad-title
      Advertisment
    .place-holder-ad.delete_this_class
      Place holder ad space
