- page ||= ""
- cache_if page.present?, "prediction_scores_list_#{page}html" do
  - prediction_scores ||= PredictionScore.paginate :page => params[:page], :per_page => 10, :order => "accuracy desc"
  - paginate ||= false
  .panel_2
    .panelBar
      %h2= t 'predictions.top_users'
    .itemListWrap
      #prediction_scores.list_items
        %ul
          - prediction_scores.each do |score|
            - user = score.user
            %li{'data-id' => prediction_user.cache_key}
              = render :partial => 'shared/items/prediction_user_score', :locals => { :user => user, :score => score }
    - if paginate
      .clearfix
        = will_paginate prediction_scores
        %br
