-# email reminder sent every 30 days to remind people to invite their friends
-# expects locals user
= I18n.translate('reminders.invitefriends.message')
%a{:href => "/users/#{user.cached_slug}/edit" }= I18n.translate('reminders.invitefriends.action')
%a{:href => "/users/dont_ask_me_for_email" }= I18n.translate('reminders.invitefriends.stop')