- content_for :sub_nav do
  = render :partial => 'shared/subnav/news_subnav'
#col_left
  .panel_1
    .panelBar
      %h2= t '.header'
    .formBox
      - semantic_form_for @article do |form|
        = render :partial => 'article_form', :locals => { :form => form }
        - form.buttons do
          = form.commit_button :button_html => { :class => 'btn' }
