%fieldset
  - if !f.object.new_record?
    = image_tag f.object.image.url
  
  = f.input :remote_image_url, :label => "Image web address (optional)", :required => false, :hint => "Either provide the web address (URL) of the image above or click the button below to upload the image from your computer", :input_html => {:class=>"image-url-input"}
  = f.file_field :image
  %br
  = delete_image(f)
  %br
  %br