-# expects local :form => form
- if current_user.facebook_user?
    #wall_post_checkbox= form.input :post_wall, :as => :boolean, :label => t('post_wall'), :required => false, :input_html => {:class => 'fix_formtastic_padding_left'}
