-# @expects: local 'active_users'

- cache :active_users_html, :expires_in => 1.minute do
  - active_users ||= User.active.last_active

  %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panelBar
      %h2= t('active_users', :user_count => active_users.size)
    .userList
      - unless active_users.empty?
        %ul
          - active_users.each do |user|
            %li
              .profilePic= local_linked_profile_pic user, :width => '30', :height => '30'
      - else
        %p No currently active users.
