-# @expects: local 'story'

.panel_2
  .panelBar
    %h2= t('.posted_by', :fb_name => local_linked_profile_name(user))
  .thumb.bio
    = local_linked_profile_pic user
  .storyBlockWrap
    %p= (user.bio.present?) ? user.bio : default_bio(user)
