-# @expects: local 'story'

.panel_1
  .panelBar
    %h2= t('.posted_by', :fb_name => local_linked_profile_name(user))
  .thumb.user-bio
    = local_linked_profile_pic user
  .itemBlock
    %p= (user.bio.present?) ? user.bio : default_bio(user)
