-# @expects: local 'prediction_questions'
- cache :closed_prediction_questions_html do
  - prediction_questions ||= PredictionQuestion.active.closed 5
  = render :partial => 'shared/lists/micro_generic_list', :locals => { :list_title => t('predictions.newest_questions'), :item_list => prediction_questions, :item_type = 'prediction' }