- unless current_user.present? and current_user.is_established?
  -# - cache :current_user_badge_html do
  .panel_1.featureWrap
    .item_1.users
      .thumb.user
        = image_tag('default/test-profile-pic.jpg')
        = image_tag('default/icon-mod-badge.png', :class => 'moderator')  
      .itemBlock
        %h4 Welcome, Name!
        %h3 City, State
        %h3 Participation: 10,000
        %h3 Appreciation: 10,000
      
