- item_list ||= Comment.featured
= render :partial => 'shared/lists/featured_generic_list', :locals => { :model_name => "comment", :model_home => nil, :list_title => t('featured_comment.featured_title'), :item_list => item_list}