- cache :featured_resources_html, :expires_in => 15.minutes do
  - item_list ||= Resource.featured
  = render :partial => 'shared/lists/featured_generic_list', :locals => { :model_name => "resource", :model_home => resources_path, :list_title => t('resources.featured_title'), :item_list => item_list}