- item_list ||= Idea.featured
= render :partial => 'shared/lists/featured_generic_list', :locals => { :model_name => "idea", :model_home => ideas_path, :list_title => t('ideas.featured_title'), :item_list => item_list}
