- item_list ||= Article.featured
= render :partial => 'shared/lists/featured_generic_list', :locals => { :model_name => "article", :model_home => articles_path, :list_title => t('articles.featured_title'), :item_list => item_list}
