- item_list = Question.featured.active :order => "created_at desc"
= render :partial => 'shared/lists/featured_generic_list', :locals => { :model_name => "Question", :model_home => questions_path, :list_title => t('.featured_question_title'), :item_list => item_list}