- item_list = Answer.featured.active
= render :partial => 'shared/lists/featured_generic_list', :locals => { :model_name => "Answer", :model_home => questions_path, :list_title => t('.featured_answer_title'), :item_list => item_list}
