.panel_2
  .panelBar
    %h2
      Hot Categories
  %ul.listTags
    %li
      %h4
        %a Sports
        (128)
    %li
      %h4
        %a Gardening
        (55)
    %li
      %h4
        %a Gerbils
        (1)
    %li
      %h4
        %a Bazooka wielding Gorillas
        (327)
    %li
      %h4
        %a Space
        (12)
    %li
      %h4
        %a Fine Dining
        (75)
