-# @expects: local @ideas, @title

.panel_2
  .panelBar
    %h2= title

  .list_stories
    %ul
      - ideas.each do |idea|
        %li
          .profilePic= local_linked_profile_pic idea.user
          = link_to idea.title, idea_path(idea)
