-# @expects: local @idea_board, @title

.panel_2
  .panelBar.clearfix
    %h2= t('.title')
  .list_stories.clearfix
    %ul
      - idea_boards.each do |idea_board|
        %li
          = link_to idea_board.name, idea_board