-# @expects: local @ideas, @title

.panel_2
  .panelBar
    %h2= title

  .list_items
    %ul
      - ideas.each do |idea|
        %li
          %h4= link_to idea.title, idea_path(idea)
          .profilePic= local_linked_profile_pic idea.user
          .itemMeta
            %h3 
              Asked By 
              %a 
                SomeOne
              2 days ago.
            %span.btnComment
              %a.voteUp
                Like
              0
            %span.btnComment
              14
              %a
                Comments