-# nothing expected

.panel_1
  .welcomePanel
    .itemBlock
      %h2= t('invite_users_title')
      %p= t('invite_users_detail')
      = link_to t('invite_users_button'), invite_users_path(:format => 'html'), :class => "btn"