-# TODO update design for videos skybox
-# @expects: local 'newest_videos'
- cache :newest_videos_fbml do
  - newest_videos ||= Video.newest
  - unless newest_videos.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('.newest_videos_title')
      %br
      .list_stories
        %ul
          - newest_videos.each do |video|
            %li
