-# TODO set up filter of newest blog articles
-# @expects: local 'newest_articles'

- cache :newest_articles_fbml do
  - newest_articles ||= Article.newest
  - unless newest_articles.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('.newest_articles_title')
      %br
      .list_stories
        %ul
          - newest_articles.each do |article|
            %li
              .profilePic= local_linked_profile_pic article.user
              = link_to article.title, article_path(article)
