-# @expects: local 'prediction_questions'
- cache :newest_prediction_questions_html do
  - prediction_questions ||= PredictionQuestion.active.newest 5
  - unless prediction_questions.empty?
    = render :partial => 'shared/lists/bullet_generic_list', :locals => { :list_title => t('predictions.newest_questions'), :item_list => prediction_questions }