-# @expects: local 'newest_questions'

- cache :newest_questions_html do
  - newest_questions ||= Question.active.newest 5
  - unless newest_questions.empty?
    = render :partial => 'shared/lists/small_questions_list', :locals => { :list_title => t('questions.newest_title'), :item_list => newest_questions }                  
