-# TODO update design for image skybox
-# @expects: local 'newest_images'

- cache :newest_images_html do
  - newest_images ||= Image.newest
  - unless newest_images.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar.clearfix
        %h2= t('.newest_images_title')
      %br
      .list_stories.clearfix
        %ul
          - newest_images.each do |image|
            %li
