-# @expects: local 'newest_images'

- cache :newest_images_fbml do
  - newest_images ||= Image.newest
  - unless newest_images.empty?
    %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('newest_images_title')
      .videoBlockWrap
        %ul          
          - newest_images.each do |image|
            %li.videoThumb= link_to image_tag(image.url(:media_item)), image.imageable
