-# @expects: local 'newest_images'

- cache :newest_images_html do
  - newest_images ||= Image.newest 8
  - unless newest_images.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('newest_images_title')
      .list_media
        %ul          
          - newest_images.each do |image|
            %li= link_to image_tag(image.url(:thumb)), image.imageable
