-# @expects: local 'newest_articles'

- cache :newest_articles_html do
  - newest_articles ||= Article.newest
  - unless newest_articles.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar.clearfix
        %h2= t('articles.newest_title')
      %br
      .list_stories.clearfix
        %ul
          - newest_articles.each do |article|
            %li
              .profilePic= local_linked_profile_pic article.author
              = link_to article.content.title, content_path(article.content)
