-# @expects: local 'newest_ideas'
- cache :newest_ideas_html do
  - newest_ideas ||= Idea.active.newest 5
  - unless newest_ideas.empty?
    = render :partial => 'shared/lists/small_generic_list', :locals => { :list_title => t('.newest_ideas_title'), :item_list => newest_ideas }