-# @expects: local 'newest_newswires'

- cache :newest_newswires_html do
  - newest_newswires ||= Newswire.unpublished.newest 15
  - unless newest_newswires.empty?
    %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar.clearfix
        %h2= t('newest_newswires_title')
      - box_list = [0, 5, 10]
      .list_items.clearfix
        .newswire_scrollable_panel
          .feature_scrollable_items
            - box_list.each do |box|
              .newswire_panel_items
                %ul
                  - unless newest_newswires.count < (box+4)
                    - (0..4).each do |ynumber|
                      %li
                        = render :partial => 'shared/items/small_newswire', :locals => { :newswire => newest_newswires[box+ynumber] }
        - animation_speed = get_setting('animation_speed_newswires').try(:value) || 2500
        :javascript
          $(function() {          	
          	$(".newswire_scrollable_panel").delay(3500).scrollable({speed : #{animation_speed}, circular: true, mousewheel: false}).autoscroll({ autoplay: true, interval : 7500});
          });