-# @expects: local 'newest_resources'

- cache :newest_resources_html do
  - newest_resources ||= Resource.active.newest
  - unless newest_resources.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar.clearfix
        %h2= t('.newest_resources_title')
      .list_stories.clearfix
        %ul
          - newest_resources.each do |resource|
            %li
              .profilePic= local_linked_profile_pic resource.user
              = link_to resource.title, resource_path(resource)
