-# @expects: local 'topic_list'

- cache :newest_prediction_questions_html, :expires_in => 180.minutes do
  - item_list ||= PredictionQuestion.active.open.top
  = render :partial => 'shared/lists/bullet_generic_list', :locals => { :list_title => t('predictions.newest_questions'), :item_list => item_list }