-# @expects: local 'newest_ideas'

- cache :newest_ideas_html do
  - newest_ideas ||= Idea.newest
  - unless newest_ideas.empty?
    %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('.newest_ideas_title')
      .list_stories
        %ul
          - newest_ideas.each do |idea|
            %li
              .profilePic= local_linked_profile_pic idea.user
              = link_to idea.title, idea_path(idea)
