-# @expects: local 'newest_resources'

- cache :newest_resources_html do
  - newest_resources ||= Resource.active.newest 5
  - unless newest_resources.empty?
    = render :partial => 'shared/lists/small_generic_list', :locals => { :list_title => t('.newest_resources_title'), :item_list => newest_resources }
