-# TODO update design for videos skybox
-# @expects: local 'newest_videos'
- cache :newest_videos do
  - newest_videos ||= Video.newest
  - unless newest_videos.empty?
    .panel_2
      .panelBar
        %h2= t('.newest_videos_title')
      %br
      .list_stories
        %ul
          - newest_videos.each do |video|
            %li
