-# nothing expected

.panel_1
  .welcomePanel
    .itemBlock
      %h2= t('classifieds.post_classified_title')
      %p= t('classifieds.post_classified_detail')
      = link_to t('classifieds.post_classified_button'), new_classified_path, :class => "btn"