-# nothing expected

.panel_1
  .welcomePanel
    .itemBlock
      %h2= t('post_article_title')
      %p= t('post_article_detail')
      = link_to t('post_article_button'), new_article_path, :class => "btn"