-# @expects: local 'top_scorers'

- cache :prediction_high_scores_html do
  -#todo - replace with named scope
  - top_scorers ||= User.top 25
  - user_list = top_scorers
  - unless top_scorers.empty?
    %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
      .panelBar
        %h2= t('predictions.high_scores')
      .userList
        %ul
          - user_list.each do |user|
            %li
              - fb_user = User.find(user)
              .profilePic= local_linked_profile_pic fb_user, :width => '30', :height => '30', :destination => user_path(user)