-# to do: needs way to hide if the user has already approved permissions
.panel_2
  .panelBar.clearfix
    %h2= t('.title')
  .panel_block
    .storyBlockWrap
      %p= t('.details')
      %fb:prompt-permission{:perms => "email"}= t('.request')