-# to do: needs way to hide if the user has already approved permissions

- cache :prompt_permissions_html do
  %div{:class => "panel_1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panelBar
      %h2= t('.title')
    .panel_block
      .itemBlock
        %p= t('.details')
        %fb:prompt-permission{:perms => "email"}= t('.request')
