-# @expects: local @resources, @title

.panel_1
  .panelBar
    %h2= title

  .list_items
    %ul.listTags
      - resources.each do |resource|
        %li
          .itemBlock
            .profilePic= local_linked_profile_pic resource.user
            = link_to resource.title, resource_path(resource)
