-# @expects: local @resource_section, @title

.panel_1
  .panelBar
    %h2= t('.title')
  .list_items
    %ul.listTags.bullet_list
      - resource_sections.each do |resource_section|
        %li
          = link_to resource_section.name, resource_section