-# @expects: local @resource_section, @title

.panel_1
  .panelBar
    %h2= t('.title')
  .list_items
    %ul
      - resource_sections.each do |resource_section|
        %li
          .itemBlock
            %h4= link_to resource_section.name, resource_section