-# @expects: local @resource_section, @title

.panel_2
  .panelBar
    %h2= t('.title')
  .list_stories
    %ul.listTags
      - resource_sections.each do |resource_section|
        %li
          = link_to resource_section.name, resource_section