- case rand(3)
  - when 0
    = render :partial => 'shared/sidebar/top_ideas'
  - when 1
    = render :partial => 'shared/sidebar/newest_ideas'
  - when 2
    = render :partial => 'shared/sidebar/featured_idea'