- case rand(3)
  - when 0
    = render :partial => 'shared/sidebar/top_users'
  - when 1
    = render :partial => 'shared/sidebar/newest_users'
  - when 2
    = render :partial => 'shared/sidebar/active_users'