.panel_2
  .panelBar
    %h2
      Blogs
  %ul
    %li
      %h4
        %a
          Time for the mayor to get going
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments  
    %li
      %h4
        %a
          Time for the mayor to get going
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments

.panel_2
  .panelBar
    %h2
      Comments
  %ul
    %li
      %h4
        %a Re: Healthcare Summit to be broadcast live
      %p
        “At this point, I’m tired of hearing about healthcare reform in the midst of human tradgedy. Seems the President has no real motivation to do what he promised now that he is in office" 

      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments  

.panel_2
  .panelBar
    %h2
      66 Users online now
  .userBlockWrap.clearfix
    %ul
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
    

= render :partial => 'shared/sidebar/top_users'