%h1.clearfix
  Second layout Sidebar

.panel_2
  .searchBox

.panel_2
  .houseFeatures
    .featureAd
      %h2
        Help us keep the community informed!
      %p
        Post Stories on our site to help you and your community become better informed of the world around you.
      %a.featureBtn
        Post A Story

.panel_2
  .houseFeatures
    .thumb
      = image_tag('default/house-ad-profile.jpg')
    .featureAd
      %h2
        Help us keep the community informed!
    .featureAd.clearfix
      %p
        Post Stories on our site to help you and your community become better informed of the world around you.
      %a.featureBtn
        Post A Story

.panel_2
  .houseFeatures
    .thumbBanner
      = image_tag('default/house-ad-banner.jpg')
    .featureAd
      %h2
        Help us keep the community informed!
      %p
        Post Stories on our site to help you and your community become better informed of the world around you.
      %a.featureBtn
        Post A Story