.panel_2
  .panelBar
    %h2

      %a bio name here
  .panel_block
    .thumb
      =link_to image_tag('default/default_thumb.gif', :height => "50px", :width => "50px"), '#'
      = image_tag ('default/icon-fan-app.gif'), :class => "moderator"
    .storyBlockWrap
      %p bio stuff here


.panel_2
  .panelBar
    %h2
      Blogs
  %ul
    %li
      %h4
        %a
          Time for the mayor to get going
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments  
    %li
      %h4
        %a
          Time for the mayor to get going
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments

.panel_2
  .panelBar
    %h2
      Featured Comments
  %ul
    %li
      %p.quotes
        “At this point, I’m tired of hearing about healthcare reform in the midst of human tragedy. Seems the President has no real motivation to do what he promised now that he is in office" 
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3 
        Posted by 
        %a Frank Parsons 
        1 day ago 
      %h3
        Re:
        %a Healthcare summit to be...  

.panel_2
  .panelBar
    %h2
      66 Users online now
  .userBlockWrap.clearfix
    %ul
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %li
        .profilePic
          =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
    

= render :partial => 'shared/sidebar/top_users'