%h1.clearfix
  Second layout Sidebar

.panel_2
  .searchBox

.panel_2
  .featureHouseAd

.panel_2
  .panelBar
    %h2
      Comments
  %ul
    %li
      %p
        “At this point, I’m tired of hearing about healthcare reform in the midst of human tradgedy. Seems the President has no real motivation to do what he promised now that he is in office" 

      .profilePic
        %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments  

.panel_2
  .panelBar
    %h2
      66 Users online now
  .userBlockWrap.clearfix
    %ul
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %li
        .profilePic
          %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
= render :partial => 'shared/sidebar/top_users'