-# @expects: local 'story'

.panel_2
  .panelBar
    %h2= t('.top_stories_title')

  .list_stories
    %ul
      - top_stories.each do |story|
        %li
          .profilePic= local_linked_profile_pic story.user
          = link_to story.title, story_path(story)
