-# @expects: local 'topic_list'

- cache :top_prediction_groups_html, :expires_in => 180.minutes do
  - topic_list ||= PredictionGroup.approved.active.currently_open.top
  = render :partial => 'shared/lists/bullet_generic_list', :locals => { :list_title => t('predictions.top_groups'), :item_list => topic_list }