-# @expects: local 'most_discussed_stories'

.panel_2
  .panelBar.clearfix
    %h2= t('.top_discussed_title')

  .list_stories.clearfix
    %ul
      - most_discussed_stories.each do |story|
        %li
          .profilePic= local_linked_profile_pic story.user
          = link_to story.title, story_path(story)
