-# @expects: local 'idea'

- cache :top_ideas_fbml do
  - top_ideas ||= Idea.tally({ :at_least => 1, :limit => 5, :order => "votes.count desc" })
  %div{:class => "panel_2 #{defined?(widget_page) ? widget_page.css_class : ''}"}
    .panelBar
      %h2= t('.top_ideas_title')
    .list_stories
      %ul
        - top_ideas.each do |idea|
          %li
            .profilePic= local_linked_profile_pic idea.user
            = link_to idea.title, idea_path(idea)
