-# @expects: local 'topic'

- cache :top_topics_html do
  - top_topics ||= Topic.active.top
  - unless top_topics.empty?
    = render :partial => 'shared/lists/micro_generic_list', :locals => { :list_title => t('forums.top_topics_title'), :item_list => top_topics }