-# @expects: local 'top_users'

- unless top_users.empty?
  .panel_2
    .panelBar
      %h2= t('.top_users_karma_title')

    .list_stories
      %ul
        - top_users.each do |user|
          %li
            .profilePic= local_linked_profile_pic user
            = link_to user.name, user_path(user)
            %span.karma-score== (#{user.karma_score})
