-# @expects: local 'top_ideas'
- cache :top_ideas_html do
  - top_ideas ||= Idea.tally({ :at_least => 1, :limit => 5, :order => "votes.count desc" })
  - unless top_ideas.empty?
    = render :partial => 'shared/lists/small_generic_list', :locals => { :list_title => t('.top_ideas_title'), :item_list => top_ideas }