-# @expects: local 'top_users'

- cache :top_users do
  - top_users ||= User.top
  - unless top_users.empty?
    .panel_2
      .panelBar.clearfix
        %h2= t('.top_users_karma_title')
      %br
      .list_stories.clearfix
        %ul
          - top_users.each do |user|
            %li
              .profilePic= local_linked_profile_pic user
              = link_to user.name, user_path(user)
              %span.karma-score== (#{user.karma_score})
