-# @expects: local 'top_resources'

- cache :top_resources_html do
  - top_resources ||= Resource.active.tally({ :at_least => 1, :limit => 5, :order => "votes.count desc" })
  - unless top_resources.empty?
    = render :partial => 'shared/lists/small_generic_list', :locals => { :list_title => t('.top_resources_title'), :item_list => top_resources }                  
