-# @expects: local 'questions'

- cache :unanswered_questions_html do
  - unanswered_questions ||= Question.active.unanswered 5
  - unless unanswered_questions.empty?
    = render :partial => 'shared/lists/small_questions_list', :locals => { :list_title => t('questions.unanswered_title'), :item_list => unanswered_questions }
