-# @expects: local 'user'

.panel_1
  .panelBar
    %h2= t('other_posts_by', :fb_name => local_linked_profile_name(user))
  .panel_block
    .list_items
      %ul
      - user.other_posts.each do |other_story|
        %li
          .itemBlock
            %h4= link_to other_story.title, story_path(other_story)
