-# TODO Don't show the welcome message to users once they've added the application
-# expects local :welcome_message => welcome_message
.panel_2
  .houseFeatures
    .thumb
      = image_tag('default/house-ad-profile.jpg')
    .featureAd
      %h2= t('.welcome_panel_headline')
    .featureAd.clearfix
      %p= t('.welcome_panel_message_fbml')
