
#tbox

%p.help=t('.help')
%span#login
:javascript

  if($("a[rel]").length) {
    returnf = function(text,html) { $("a[rel]").data("overlay").close(); }
    }
  else {
    returnf = function(text,html) { top.window.close(); }
  }
  
  twttr.anywhere(function (T) {
  
      T('#tbox').tweetBox({
         height: 100,
         width: 400,
         defaultContent: '#{@text} #{@link}',
         label: 'Share this on Twitter',
         onTweet: returnf,
         complete: function (tb) {
          $('#tbox iframe')[0].contentWindow.jQuery("#tweet-box").focus();
         }
         });

  });