
#tbox

%p You must click the text to be able to Tweet. Feel free to edit the text.
:javascript
  twttr.anywhere(function (T) {

  T('#tbox').tweetBox({
     height: 100,
     width: 400,
     defaultContent: '#{@text} #{@link}',
     label: 'Share this on Twitter',
     onTweet: function(text,html) { $("a[rel]").data("overlay").close(); }
     });

   });

   
   