= gen_index_page @contents, Content, [ :title, :caption, :source, :url, :permalink, :user_id, :votes_tally, :comments_count, :created_at], :associations => { :belongs_to => {  :user => :user_id } }, :paginate => true
