%h2 Create a new Content Item
- semantic_form_for [:admin, @content], :html => { :multipart => true } do |form|
  = render :partial => 'content_form', :locals => { :form => form }
  - form.buttons do
    -# TODO:: switch this to locale
    = form.commit_button
