.flash {
    padding: .3em .4em;
    margin: 0 auto .5em;
    clear: both;
    width: auto;
}

.flash p {
    padding-left: 25px;
}

.flash.flash_error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.flash.flash_success {
    border: thin solid green;
    background: #5FE66C;
}

.flash.flash_notice, .flash.info {
    border: thin solid #ff0;
    background: #ffb;
}

.flash.flash_warning {
    border: thin solid #E18F24;
    background: #FFAC3D;
}
