.bio-box{:style => "display: none"}
  .bio-content
    - form_tag update_bio_users_path, :class => "update-bio-form", :id => 'update-bio-form' do
      = label_tag :bio_tag, t('label_bio_edit')
      = text_area_tag :bio, current_user.bio, :rows => 10, :cols => 60
      .submit-box
        = submit_tag "Update", :class => "btn"
