- if current_user
  $(function() {
  - if (current_user.is_moderator? || current_user.is_admin?)
    -# This potentially complicates inherited css and facebook's inability to view visibility from anything but inline
    -#$('.moderator-link').show();
    $('.moderator-links').removeClass('moderator-links');
  - if current_user.is_admin?
    -# This potentially complicates inherited css and facebook's inability to view visibility from anything but inline
    -#$('.admin-link').show();
    $('.admin-links').removeClass('admin-links');
  });
