-# @expects: local '@slot_data'
.panel_1
  .ad_468
    = fb_iframe base_url(google_ads_home_path(:slot_name => @slot_data['data'][:name],:canvas => false)), :frameborder => 0, :scrolling => "no", :style => " background-color: #FFF; width: #{@slot_data['data'][:width]}; height: #{@slot_data['data'][:height]};"
