-# @expects: local '@slot_data'
- case @slot_data['data'][:width]
  - when "728px"
    - ad_class = "ad_720"
  - when "468px"
    - ad_class = "ad_480"
%div{:class => ad_class}
  %iframe{:src => base_url(google_ads_home_path(:slot_name => @slot_data['data'][:name],:canvas => false)), :frameborder => 0, :scrolling => "no", :style => " background-color: #fff; margin: 0 auto; padding-left: 2px; width: #{@slot_data['data'][:width]}; height: #{@slot_data['data'][:height]};"}
