-# @expects: local '@slot_data'
.panel_1
  .ad_480
    .inside-frame
      -# .clearfix{:style => "padding:5px 0px 0px 0px; margin:0px 0px 10px 0px; background: url(\"#{APP_CONFIG['base_url']}/images/#{@slot_data['data'][:background]}\") top left no-repeat;"}
      %iframe{:src => base_url(google_ads_home_path(:slot_name => @slot_data['data'][:name],:canvas => false)), :frameborder => 0, :scrolling => "no", :style => "margin: 0px 5px 0px 0px; padding: 0px; width: #{@slot_data['data'][:width]}; height: #{@slot_data['data'][:height]};"}