-# @expects: local 'newest_announcements'
- cache :newest_announcements_html, :expires_in => 180.minutes do
  - newest_announcements ||= Announcement.newest
  .panel_2
    #hotTopicBar 
      %ul
        - unless newest_announcements.empty?
          - newest_announcements.each do |announcement|
            %li.topicTitle
              #{announcement.prefix}
            %li.topic
              - if announcement.url.present?          
                = link_to announcement.title, announcement.url, :target=> "_parent"
              - else 
                = announcement.title
        - else
          %li.topicTitle
            Breaking News
          %li.topic
            You don't have any announcements yet. Go to the Admin
