!!!
%html
%head

%body
  #bookmarketletPanel.clearfix
    %h2 There&rsquo;s an easier way to submit stories!
    %p Drag the &ldquo;Post to the #{APP_CONFIG['site_title']} &rdquo; button below to your browser links bar, as shown&hellip;
    #bookmarkletDemo
    %a.btn_1{:onclick => "alert('Drag this button to your Bookmarks Bar.');return false;", :href => "javascript:if(window.getSelection)txt=window.getSelection();else if(document.getSelection)txt=document.getSelection();else if(document.selection)txt=document.selection.createRange().text;var%20d=document,f='#{new_story_path}',l=d.location,e=encodeURIComponent,p='&src=bm&v=4&i=1231274279&u='+e(l.href)+'&t='+e(d.title)+'&c='+e(txt);1;try{if%20(!/^(.*\.)?facebook\.[^.]*$/.test(l.host))throw(0);share_internal_bookmarklet(p)}catch(z)%20{a=function()%20{if%20(!window.open(f+p,'sharer','toolbar=1,status=1,location=1,scrollbars=1,resizable=1,width=800,height=700'))l.href=f+p};if%20(/Firefox/.test(navigator.userAgent))setTimeout(a,0);else{a()}}void(0)" }
      Post to #{APP_CONFIG['site_title']}
    %p Once there, just click it from a story on any website or blog to post it to #{APP_CONFIG['site_title']}
    -# **** needs to be replaced with new_story_path
