-# @expects: local 'comments'

%a#commentsListTop{:name => "commentsListTop"}
.commentThread.panel_2
  - if @comments.present?
    .panelBar
      %h2= t '.comment_title'
      -# TODO:: current refine logic only works on lists
      -# if comments.present? and comments.first.refineable?
        .refine_link
          = render :partial => 'shared/forms/refine_dropdown'
    %ul
      = render :partial => 'shared/comment.html', :collection => @comments.active
  - else
    %p= t '.no_comments_msg'
