- custom_widget = widget.metadata
- wclass = custom_widget.main_content? ? 'panel_2' : custom_widget.sidebar_content? ? 'panel_1' : ''
%div{:class => "#{wclass} #{defined?(widget_page) ? widget_page.css_class : ''}"}
  .panelBar
  = custom_widget.custom_data
