.panel-3.footer
  .footer-wrap
    .panel-third.first
      %a.button-link
        Post to the Site Name
      %a.icon-link.facebook
        Like the Site Name on Facebook
      %a.icon-link.twitterfeed
        Follow TwitterName on Twitter
    .panel-third
      %a.icon-link.email
        Contact Us
      %a.icon-link.friends
        Invite your Friends
      %a.icon-link.rssfeed
        Subscribe via RSS
    .panel-third.last
      %ul.footer-list
        %li
          %a
            Change your email settings
        %li
          %a
            FAQ
        %li
          %a
            Terms of Use
        %li
          %a
            About Us
        %li
          %a
            Admin
        %li
          %a
            Developers
  