.panel_1
  .hotTopicBar
    %ul
      %li.topicTitle
        Hot Topics
      %li.topic
        %a Haiti EarthQuake
      %li.topic
        %a Sarah Palin
      %li.topic
        %a Mark McGwire
      %li.topicMore
        %a All >>