.prediction-question-container
  - stats = prediction_question.update_stats
  - guess_count = prediction_question.prediction_guesses.count
  - prediction_type = prediction_question.prediction_type
  - if prediction_type == 'yesno'
    - choices = "yes,no"
  - else
    - choices = prediction_question.choices
  - choices.split(/,/).each do |prediction_guess|
    - unless stats.nil?
      - if stats[prediction_guess].nil? 
        - if prediction_type == 'yesno'
          %p
            = prediction_guess
            0%
      - else       
        %p
          = prediction_guess
          = (stats[prediction_guess] / prediction_question.prediction_guesses.count * 100)
          \%
  %p
    %i
      - case guess_count
        - when 0
          No one has answered this question
        - when 1
          1 person has answered this question
        - else
          = prediction_question.prediction_guesses.count
          people have answered this question      
