.prediction-question-container
  - stats = prediction_question.update_stats
  - if prediction_question.prediction_type == 'yesno'
    - choices = "yes,no"
  - else
    - choices = prediction_question.choices
  - choices.split(/,/).each do |prediction_guess|
    %p
      = prediction_guess
      - unless stats.nil?
        - if stats[prediction_guess].nil?
          0
        - else
          = (stats[prediction_guess] / prediction_question.prediction_guesses.count * 100)
          ="%"