.prediction-question-container
  - stats = prediction_question.update_stats
  - prediction_question.choices.split(/,/).each do |prediction_guess|
    %p
      = prediction_guess
      - unless stats.nil?
        - if stats[prediction_guess].nil?
          0
        - else
          = stats[prediction_guess]