.panel_1
  .panelBar
    %h2 Resource Directory
    %span.bar_link
      %a Post Resource
      = pipe_spacer
      %a My Resources

  .panel_1
    .panelBar
      %h2 Featured Resources
    .storyList
      .list_stories
      %ul
        %li.feature_bg
          .thumb
            %img
          .storyBlockWrap.storyBlockSpacer
            %h4 
              %a 
                Featured Resource 1
            %p Description of Resource 1 Lorem Ipsum dolor setvis managafhf ask jest et habs asl kf yuuoler
            %span.btnComment
              %a.voteUp Like
            %span.btnComment
              %a Comment
        %li.feature_bg
          .thumb
            %img
          .storyBlockWrap.storyBlockSpacer
            %h4 
              %a 
                Featured Resource 1
            %p Description of Resource 1 Lorem Ipsum dolor setvis managafhf ask jest et habs asl kf yuuoler
            %span.btnComment
              %a.voteUp Like
            %span.btnComment
              %a Comment