%h1.clearfix
  This is the beginning of Layout A

#featuredPanel.panel_1.feature_bg
  .panelBar
    %h2
      Featured Stories
  .panel_2.left
    .thumb
      = image_tag('default/default_thumb_b.gif')
    .storyBlockWrap
      %h1
        Local News Title Here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
        %a
          More...
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16

  .panel_2.right
    .thumb
      = image_tag('default/default_thumb_b.gif')

    .storyBlockWrap
      %h1
        Video News Title here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured.
      %span.btnComment
        %a.voteUp
          Like
        106
      %span.btnComment
        %a
          Comment
        16
.panel_1
  .ad_468
    .test-frame

= render :partial => 'shared/hot_topics'

#hotTopicBar
  %ul
    %li.topicTitle
      Breaking News
    %li.topic
      %a 9.6 Earthquake off the coast of Chile
    %li.topicMore
      %a More

.panel_1
  .panelBar
    %h2
      Forum Topics
  %ul
    %li
      %h4
        %a
          Hawks needed to do more researching on the coaching change
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments
    %li
      %h4
        %a
          Hawks needed to do more researching on the coaching change
      .profilePic
        =link_to image_tag('default/default_thumb.gif', :height => "30px", :width => "30px"), '#'
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments      

.panel_2.left
  .ad_200
    .test-frame

.panel_2.right
  .ad_200
    .test-frame

.panel_1
  .panelBar
    %h2
      Recent Media     
  .videoBlockWrap
    %ul
      %li.videoThumb
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb

  .pagination
    .pagination-float
      %span.disabled.previous Previous 
      %span.current 1
      %a 2
      %a 3
      %a 4
      %a.next Next
      