%h1.clearfix
  This is the beginning of the Third layout of the left column

.panel_2.left
  .panelBar
    %h2
      Local News
  .thumb
    %img{:src => "/images/default/default_thumb.gif"}
  .storyBlockWrap
    %h1
      Local News Title Here
    %p
      1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
      %a
        More...
    %span.btnComment
      %a.voteUp
        Like
      106
    %span.btnComment
      %a
        Comment
      16

.panel_2.right
  .panelBar
    %h2
      Featured News
  .featuredNewsList
    %ul
      %li
        %b
          Nation:
        %a
          Time for trapped is running out
      %li
        %b
          Nation:
        %a
          Time for trapped is running out
      %li
        %b
          Opinion:
        %a
          I Am So Glad the Olympics Aren’t in Seattle
      %li
        %b
          TECH: 
        %a
          The future of UI will be boring
      %li
        %b
          Nation:
        %a
          Time for trapped is running out
      %li
        %b
          Nation:
        %a
          Time for trapped is running out
      %li
        %b
          Opinion:
        %a
          I Am So Glad the Olympics Aren’t in Seattle
      %li
        %b
          TECH: 
        %a
          The future of UI will be boring
      %li
        %b
          Nation:
        %a
          Time for trapped is running out
      %li
        %b
          Nation:
        %a
          Time for trapped is running out
      %li
        %b
          Opinion:
        %a
          I Am So Glad the Olympics Aren’t in Seattle
      %li
        %b
          TECH: 
        %a
          The future of UI will be boring

.panel_2.left
  .panelBar
    %h2
      Blogs
  %ul
    %li
      %h4
        %a
          Time for the mayor to get going
      .profilePic
        %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments  
    %li
      %h4
        %a
          Time for the mayor to get going
      .profilePic
        %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments

.panel_2.right
  .panelBar
    %h2
      Latest Comments

  %ul
    %li
      %p
        “At this point, I’m tired of hearing about healthcare reform in the midst of human tradgedy. Seems the President has no ...More
      .profilePic
        %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments  
    %li
      %p
        “At this point, I’m tired of hearing about healthcare reform in the midst of human tradgedy. Seems the President has no ...More
      .profilePic
        %img{:src => "/images/default/default_thumb.gif", :height => "30px", :width => "30px"}
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments

.panel_1
  .panelBar
    %h2
      Recent Media     
  .videoBlockWrap
    %ul
      %li.videoThumb
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb 
      %li.videoThumb