.panel_2.left
  .panelBar
    %h2 Test Panel Alpha
  .test_height_700


.panel_2.right
  .panelBar
    %h2 Test Panel Omega
  .test_height_200


.panel_2.right
  .panelBar
    %h2 Test Panel Alpha
  .test_height_400


.panel_2.right
  .panelBar
    %h2 Test Panel Omega
  .test_height_200