.panel_2.left
  .panelBar
    %h2
      Local News
  .feature_bg
    .thumb
      %img{:src => "/images/default/test-img.gif"}

    .storyBlockWrap
      %h1
        Local News Title Here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured
        %a
          More...
  %span.btnComment
    %a.voteUp
      Like
    106
  %span.btnComment
    %a
      Comment
    16

.panel_2.right
  .panelBar
    %h2
      Video
  .feature_bg
    .thumb
      %img{:src => "/images/default/test-img.gif"}
  
    .storyBlockWrap
      %h1
        Video News Title here
      %p
        1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured.
  %span.btnComment
    %a.voteUp
      Like
    106
  %span.btnComment
    %a
      Comment
    16
.panel_1
  .ad_fullCol
    %span            
      Advertisement
= render :partial => 'shared/hot_topics'

.panel_1
  .panelBar
    %h2
      Forum Topics
  %ul
    %li
      %h4
        %a
          Hawks needed to do more researching on the coaching change
      .profilePic
        %img{:src => "/images/default/test-img.gif", :height => "30px", :width => "30px"}
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments
    %li
      %h4
        %a
          Hawks needed to do more researching on the coaching change
      .profilePic
        %img{:src => "/images/default/test-img.gif", :height => "30px", :width => "30px"}
      %h3
        Posted by 
        %a 
          Frank Parsons 
        in
        %a
          Sports 
        1 day ago
      %span.btnComment
        %a.voteUp
          Like
        4
      %span.btnComment
        %a
          16 Comments      

.panel_1
  .panelBar
    %h2
      Recent Media      
