.panel_2.left
  .panelBar
    %h2 Test Panel Alpha


.panel_2.right
  .panelBar
    %h2 Test Panel Omega

.panel_2.left
  .panelBar
    %h2 Test Panel Omega

.panel_2.right
  .panelBar
    %h2 Test Panel Omega