-# content_for :head_content do
-# TODO:: switch this to an ajax request
:javascript
  $(function() {
    $('##{item.muid}').click(function(event) {
      event.preventDefault();
      #{fb_connect_stream_publish(stream_post, t('facebook_share'))}
    });
  });

%a.item-share-button.facebook-share{:href => '#', :id => item.muid}= t('facebook_share_link')
