@import skin.sass

*
  margin: 0
  padding: 0

// Float div hack //
.clearfix
  display: inline-block

// floats //
.float_left
  float: left

.float_right
  float: right

/* CLEAR WIDTH */
.clear_width
  width: auto

/* HEADER */ /* -webkit-box-shadow: #999 0px 2px 12px */
#header
  height: $headerHeight
  background: $headerBG
  margin-bottom: 15px
  position: relative
  z-index: 10

  /* Sponsor logo */
  .sponsor
    background: $sponsorBG
    display: $sponsordisplay
    position: absolute
    top: $sponsortop
    left: $sponsorleft
    height: $sponsorheight
    width: $sponsorwidth
    z-index: 3
    a
      display: block
      height: $sponsorheight
      width: $sponsorwidth
      &:hover
        text-decoration: none

  /* Title logo */
  .headerTitle
    background: $headerTitleLogoImage
    height: $headerTitleLogoHeight
    width: $headerTitleLogoWidth
    position: absolute
    top: $headerTitleLogoPosTop
    left: $headerTitleLogoPosLeft
    z-index: 2
    a
      display: block
      width: 100%
      height: 100%
      &:hover
        text-decoration: none
    h1
      visibility: $headerTitleDisplay
      display: block
      float: left
      font-size: $fontsize * 2.2
      color: $headerTitleColor
      a
        &:hover
          text-decoration: none

  img.hdrpic
    position: absolute
    top: 2px
    left: 2px
  .pipe
    margin: 0 5px
    color: $subheadColor
  .dh_links
    font-size: 12px
    position: absolute
    top: $dhlinkspostop
    right: 0px
    float: right
    padding: 5px 20px 5px 10px
    background: $dhlinkscolor

// account dropdown styles //
.account-dropdown
  float: left
  position: relative
  z-index: 2

.account-toggle
  position: relative
  z-index: 3
  padding-right: 10px
  background: $AccountArrow

.account-links
  width: 180px
  position: absolute
  z-index: 2
  top: 18px
  right: -6px
  display: inline-block
  padding: 4px 10px
  border:
    top: $DropDownBorder
    bottom: $DropDownBorder
    left: $DropDownBorder
    right: $DropDownBorder
  background-color: $DropDownBG
  li
    width: 100%
    margin: 6px 0 0px 0
    padding: 0
    a
      display: block
      padding: 4px 6px
      &:hover
        background: $DropDownLinkHover
    &.account-profile
      a
        display: inline-block
        &:hover
          background: none
  .account-tab
    height: 24px
    width: 65px
    z-index: 2
    position: absolute
    top: -25px
    right: -1px
    border:
      top: $DropDownBorder
      bottom: none
      left: $DropDownBorder
      right: $DropDownBorder
    background-color: $DropDownBG
.account-links
  .account-profile
    .thumb
      margin: 5px
      a
        padding: 0
// Body containers //
#bodyWrapper
  position: relative
  background: $bodyWrapperBG
  display: inline-block
  border: 
    top: $bodyWrapperBorderTop
    bottom: $bodyWrapperBorderBot
    left: $bodyWrapperBorderleft
    right: $bodyWrapperBorderRight

// Footer Container //
#footer
  border:
    top: $FooterBorder
  .dh_links
    color: $bodyColor
    float: left
    clear: left
    margin: 0px
    padding: 5px 10px 7px 10px
    font-size: 12px
    background:
      color: $FooterBG

// Various Icon Links //
.rss_link
  background: $rss
  padding: 3px 0 3px 18px

.twitter_link
  background: $twitter
  padding: 3px 0 3px 18px

.newscloud_link
  background: $newsCloud
  padding: 3px 0 3px 20px

// Russell's Section Stuff //
.hidden
  display: none

// Global styles //
body
  font-family: $copyFont
  color: $bodyColor
  background: $bodyBG
  font-size: $fontsize

h1, h2, h4, h5
  a
    color: $headerColor
    &:hover
      color: $headerLinkHover

h1, h2, h4
  line-height: 130%
  margin: 0 0 6px 0
  font-family: $headerFont
  color: $headerColor
  font-weight: $headerweight

h3
  line-height: 100%
  margin: 0 0 4px 0
  font-family: $copyFont
  font-weight: normal
  color: $subheadColor

p
  font-family: $copyFont
  color: $bodyColor
  line-height: 140%
  text-align: left
  margin: 0 0 6px 0

a
  color: $linkColor
  cursor: pointer
  text-decoration: none
  &:hover
    text-decoration: underline

img
  border: none

ul
  margin: 0
  padding: 0

li
  list-style-type: none
  margin: 0
  padding: 0

// top level menu page tabs //
#pageTabs
  width: 100%
  position: absolute
  bottom: 0px
  overflow: visible
  border: none
  .tabs
    border-top: $tabTopBdr
    border-bottom: $tabBotBdr
    position: absolute
    bottom: 0
    left: 0
    background: $tabsBG
    width: 100%
    height: 23px
    .tab-float
      float: $pagetabFloat
      padding: 0 0 0 1px
    .back_links
      padding-right: 20px
    .toggle_tabs li
      margin-right: 1px
      height: 24px
      width: $pageTabWidth
      float: left
      padding: 0
      text-align: center

    .toggle_tabs li
      a
        position: relative
        bottom: $pageTabOffPOS
        display: block
        height: 13px
        margin: 0px 0px 0px 0px
        padding: 5px 0
        font-weight: bold
        font-size: $fontsize
        color: $pageTablinkOff
        background: $pageTabOff
        &:hover
          color: $pageTabLinkOffHover
          text-decoration: none
          background: $pageTabOffHover
      &.first 
        width: 30px
        a
          margin: 0
          padding: 5px 0
          img
            display: inline-block

    .toggle_tabs li
      a.selected
        bottom: $pageTabOnPOS
        margin: 0px
        padding: 5px 0
        border:
          top: $pageTabOnBdr
          bottom: $pageTabOnBotBdr
          right: $pageTabOnBdr
          left: $pageTabOnBdr
        background: $pageTabOn
        color: $pageTablinkOn
      &.first a.selected
        padding: 5px 7px
      a.selected:hover
        text-decoration: none
        &.disabled
          color: $subheadColor
          cursor: default
          &:hover
            text-decoration: none
#pageTabs
  .toggle_tabs
    .menu_item
      &:hover
        a
          background: $pageTabOffHover
          &.selected
            background: $pageTabOn
            

#pageTabs
  .toggle_tabs
    .menu_item
      &:hover
        .dropdown
          display: block
      .dropdown
        z-index: 20
        display: none
        margin-top: 0
        ul
          padding: 1px 0 0 0
          display: block
          li
            width: $dropdownWidth
            height: 100%
            float: $pagetabFloat
            clear: both
            padding: 0
            text-align: left
            margin-top: -1px
            margin-right: 0
            a
              height: 100%
              font-size: $fontsize * 0.95
              line-height: 13px
              font-weight: normal
              display: block
              background: $dropdownTabOff
              padding: 5px
              color: $dropdownTabText
              border:
                top: $dropdownTabTopBorder
                bottom: $dropdownListBorder
                left: $dropdownListBorder
                right: $dropdownListBorder
              &:hover
                background: $dropdownTabOn
            a.selected
              padding: 5px
              background: $dropdownTabSelectOff
              border:
                top: $dropdownTabTopBorderSelect
                bottom: $dropdownTabListBorderSelect
                left: $dropdownTabListBorderSelect
                right: $dropdownTabListBorderSelect
              color: $dropdownTabTextSelect
              &.selected:hover
                background: $dropdownTabSelectOn

// Sub Navigation Styles //
#subNav
  border-bottom: $subnavBorder
  height: 20px
  margin: 0px 0px 15px 0px
  padding: 0px 0px 0px 0px
  display: inline-block
  overflow: visible

#subNav
  .toggle_tabs
    margin: 0px 10px
    width: auto
    padding: 0px
    text-align: center
    li
      position: relative
      bottom: 0px
      display: block
      float: left
      padding: 0px
      margin: 0 0 0 1px
      a
        position: relative
        bottom: -1px
        margin: 0px
        padding: 4px 25px 1px 25px
        height: 14px
        border: none
        font-weight: bold
        font-size: $fontsize
        background: $subnavTabOff
        display: block
        color: $subnavTabLinkOff
        &:hover
          background: $subnavTabOffHover
          text-decoration: none
        &.selected
          bottom: -1px
          margin: 0px
          background: $subnavTabOn
          border:
            top: $subnavBorder
            bottom: $pageTabOnBotBdr
            right: $subnavBorder
            left: $subnavBorder
          color: $subnavTabLinkOn
          &:hover
            background: $subnavTabOn
            text-decoration: none
            cursor: default
        &.disabled
          color: $subheadColor
          cursor: default
          &:hover
            text-decoration: none

/**********************************************************************************************/
/* FEATURED ITEMS */
.featured
  background: $featureStoryBG
  .btnComment
    background: $btnCommentFeatureBG

  .answer
    background: image_url("default/icon-answer.png") center right no-repeat

  .article
    background: image_url("default/icon-article.png") center right no-repeat

  .comment
    background: image_url("default/icon-comment.png") center right no-repeat

  .event
    background: image_url("default/icon-event.png") center right no-repeat
    h3 
      color: $bodyColor

  .idea
    background: image_url("default/icon-idea.png") center right no-repeat

  .resource
    background: image_url("default/icon-resource.png") center right no-repeat

  .question
    background: image_url("default/icon-question.png") center right no-repeat


/**********************************************************************************************/
/* IMAGE STYLES */

/* THUMB CAPTION STYLES */
.thumb
  .caption-note
    background: image_url("default/caption-bg.png") top left repeat
    display: block
    width: 100%
    padding: 5px 0
    position: absolute
    bottom: -100px
    left: 0px
    z-index: 10
    h5
      font-size: 11px
      color: #fff
      line-height: 120%
      margin: 0 5px
      padding: 0
  &:hover
    .caption-note
      bottom: 0px

/* THUMB IMAGE CONTAINER */
.thumb
  margin: 5px
  position: relative
  overflow: hidden
  img
    position: relative
    background: $WaterMark
  a:hover
    text-decoration: none

/* WELCOME PANEL IMAGE STYLES */
.welcome
  margin: 10px 10px 5px 10px
  float: left
  width: 70px
  height: 70px
  img 
    width: 70px
    height: 70px

/* PROFILE IMAGE */
.profilePic
  position: relative
  float: left
  margin: 0px 5px 0px 0px
  width: 30px
  height: 30px
  img
    width: 30px
    height: 30px
  a:hover
    text-decoration: none
  img.moderator 
    position: absolute
    left: 2px
    bottom: 2px

/**********************************************************************************************/
/* MODERATOR BADGE STYLES */
.thumb
  img.moderator 
    position: absolute
    left: 2px
    bottom: 2px
    height: 18px
    width: 18px

.user-bio
  float: left
  margin: 5px
  img.moderator
    height: 16px
    width: 16px

.panel_2
  .user
    img.moderator
      height: 32px
      width: 32px
      position: absolute
      left: 2px
      bottom: 2px

.panel_1
  .users
    .thumb.user
      img.moderator
        height: 18px
        width: 18px
        position: absolute
        left: 2px
        bottom: 2px

.half-panel
  .user-details
    img.moderator
      height: 48px
      width: 48px
      position: absolute
      left: 2px
      bottom: 2px

.profilePic
  img.moderator
    height: 12px
    width: 12px
  fb:profile-pic
    width: 30px
    height: 30px

// left and right column backgrounds //
$ColumnCorners: none
#col_left
  background: none
  -moz-border-radius: $ColumnCorners
  -webkit-border-radius: $ColumnCorners
  border-radius: $ColumnCorners

/**********************************************************************************************/
/* UNIVERSAL LIST - CHECK GRID.SASS & FB_GRID.SASS FOR MORE IN-DEPTH STYLING */

/* CONTENT BLOCK */
.itemBlock
  margin: 5px

/* META DATA */
.itemMeta
  display: inline-block
  width: 79%

/* NO IMAGE META */
.item_2, .event, .newswire
  .itemMeta
    width: 100%

/* ACTIONS BAR FOR PANELS */
.itemActions
  display: block
  width: 100%
  background: $subTitleBG
  border-bottom: 1px solid $subTitleBG - #333
  text-align: right
  a
    display: inline-block
    font-size: 11px
    margin: 5px 10px

/* LIST CLASSES - GLOBAL STYLES */
.answer, .article, .comment, .content, .event, .idea, .media, .newswire, .question, .resource, .topic, .users, .item_1, .item_2
  display: inline-block
  width: 100%

/* LIST CLASSES WITH IMAGE */
.panel_2
  .answer, .article, .comment, .content, .idea, .question, .resource, .topic, .users, .item_1
    .itemBlock
      float: left
 
/* LIST CLASSES WITH NO IMAGE */
.panel_2
  .article, .newswire
    margin: 5px 0 10px
  .newswire, .item_2, .event
    .itemBlock
      display: block 

/* UNVERSAL LIST STYLES - PANELS */
.panel_1, .panel_2
  .list_items
    li
      display: inline-block
      position: relative
      width: 100%
      border:
        bottom: $panelListBorder
    .blog
      h2
        margin-bottom: 0 
      .thumb
        margin: 0 10px 5px 0
        width: 120px
        height: 90px
        img
          width: 120px
      p
        line-height: 140%

/* CURRENT USER BADGE */
.users
  h4
    margin-bottom: 3px
  h3
    color: $bodyColor
  .loc
    font-size: 12px
    margin-bottom: 8px


/**********************************************************************************************/
/* INTERIOR PANELS */

.full-panel
  width: 100%
  float: left

.half-panel, .third-panel, .third-panel-small, .quarter-panel
  float: left
  display: block

.half-panel
  width: 50%

.third-panel, .third-panel-small
  width: 33%

.quarter-panel
  width: 25%

.panel-shadow
  width: 70%
  padding:
    right: 1px
    bottom: 1px
  background: #ccc
    

.empty-panel
  width: 70%
  margin: 15px auto 0
  padding: 10px
  background: #f1f1f1
  border: 1px solid #ccc
  text-align: center
  p
    text-align: center
    font-size: 14px
    color: #666
/**********************************************************************************************/
/* FEATURED STORY STYLES */

.featureWrap
  background: $featureStoryBG
  .btnComment
    background: $btnCommentFeatureBG
   

/**********************************************************************************************/
/* LAYOUT PANELS - PANEL_1 & PANEL_2 CONTAINERS */

.panel_1, .panel_2, .panel_3
  margin: 0 0 15px 0
  .top-tags
    display: inline-block
    padding-top: 4px
    li
      display: block
      width: auto
      border-bottom: none
      float: left
      padding: 2px 0
      h4
        margin: 0
        padding: 0
      a
        padding: 4px 6px
        &:hover
          text-decoration: none
          background: $featureStoryBG

  /* PANEL BAR STYLES */
  .panelBar
    -moz-border-radius-topleft: $ColumnCorners
    -moz-border-radius-topright: $ColumnCorners
    -webkit-border-top-right-radius: $ColumnCorners
    -webkit-border-top-left-radius: $ColumnCorners
    position: relative
    display: block
    padding: 4px 0
    border:
      bottom: $panelBarBorder
    background: $panelBarBG
    h2
      margin: 0 6px
      display: inline
      line-height: 100%
      font-size: 11.5px
      font-weight: $panelBarHeaderWeight
      text-transform: $panelBarTextTransform
      font-family: $headerFont
      color: $panelBarHeader
    a
      color: $panelBarHeaderLink
      font-weight: normal
      text-transform: none
      
    .bar_link
      float: right
      margin: 0 8px

  /* WELCOME PANEL STYLES */
  .welcomePanel
    background: $WelcomePanelBG
    -moz-border-radius: $featureBorderRadius
    -webkit-border-radius: $featureBorderRadius
    border-radius: $featureBorderRadius
    border:
      top: $featureBorderTop
      bottom: $featureBorderBot
      left: $featureBorderLeft
      right: $featureBorderRight
    display: inline-block

    .itemBlock
      text-align: center
      margin: 10px

      h2
        text-align: left
        margin-bottom: 5px
        color: $featureH2Text
      p
        text-align: left
        
        margin: 0 0 5px 0
        color: $featureBodyText
      .btn
        font-size: $fontsize * 1.15
        margin: 10px auto

  /* MEDIA WIDGET STYLES */
  .list_media
    li
      display: inline-block
      float: left
      overflow: hidden
      padding: 0
      margin: 2px
      padding: 0px

  /* ACTIVE USERS WIDGET */
  .userList
    li
      padding: 0
      margin: 4px 2px 0 2px
      display: inline-block
      width: 30px
      height: 30px
      float: left
      border:
        bottom: none
      .profilePic
        margin: 0





.panel_2, .panel_1, .panel_3
  /* SPONSORED ITEMS STYLES */
  &.sponsorbox
    background: $sponsorBoxBG
    ul
      border: $sponsorBoxBorder
    .panelBar
      background: $sponsorBoxPanelBarBG
      border: none
      h2
        color: $sponsorBoxPanelBarTextColor
        font-weight: bold
    .itemBlock
      margin: 0 8px
  .listTags
    li
      border: none
      padding: 2px 0
    h4
      font-weight: normal
      font-size: $fontsize
      color: $subheadColor
  .eventBlock
    background: $subTitleBG
    margin: 4px 0 0 0
    padding: 0
    border:
      top: 1px solid #f0f0f0
      bottom: 1px solid #f0f0f0
    .tag
      font-weight: normal
      text-transform: uppercase
      font-size: $fontsize
    .eventDetailsBlock
      background: #fff
      float: left
      width: 75%
      padding: 4px 0 6px 0
      .itemBlock
        padding-left: 6px
    .eventLocationBlock
      float: left
      width: 25%
      background: $subTitleBG
      ul
        margin: 4px 0 8px 0
        li
          width: auto
          border: none
          padding: 4px 8px 0 8px
          font-size: $fontsize * 0.9
          color: $subheadColor
          b
            color: $bodyColor

  /* FORM STYLES - (Outside of formtastic) */
  .formBox
    display: inline-block
    width: 100%
    background: $subTitleBG


  /* BULLETED LIST */
  .bullet_list
    margin: 0 10px
    ul
      margin: 10px 0 0 0
    li
      display: list-item
      margin: 0 0 10px 10px
      padding: 0
      line-height: 120%
      list-style-image: $bulletList
      list-style-type: disc
      list-style-position: outside
      border-bottom: none

  /* Not sure what this is */
  .audio, .image
    margin: 10px
  .userPoints
    text-align: right
    margin-right: 0px
    .pointsnote
      font-size: 90%
      font-weight: normal
  .audio
    h3 
      text-align: center
      color: #fff

    .player
      width: 290px
      height: 24px
      margin: 0 auto 10px
      clear: both
      float: none


// Flag box styles //
.flag-wrap
  display: inline-block
  position: relative
  z-index: 6
  .flag-toggle
    position: relative
    z-index: 8
  .flag-box
    padding: 10px
    position: absolute
    top: 13px
    left: 1px
    background: $btnCommentBG
    z-index: 7

// refine search box styles //
.panelBar, .subtitle
  .bio-box
    width: 100%
    padding: 0px
    z-index: 9
    position: absolute
    top: 22px
    right: 0px
    border: $DropDownBorder
    background-color: $DropDownBG 
    .bio-content
      display: block
      margin: 10px
      label
        display: block
        margin-bottom: 10px
      textarea
        width: 100%
        margin-bottom: 5px
      .submit-box
        text-align: right

  .refine-toggle
    position: relative
    z-index: 10
    padding-right: 10px
    background: $RefineArrow
  .refine_link
    float: right
    position: relative
    display: block
    padding: 0px 8px
    a
      font-size: 11px
    .refine-box
      z-index: 8
      display: none
      position: absolute
      padding: 8px
      width: 142px
      top: 15px
      right: 0px
      border: $DropDownBorder
      background-color: $DropDownBG
      .refine-content
        text-align: center
        select
          width: 100%
          margin-bottom: 15px
          border: $refineInputBorder
        label
          display: block
          font-weight: bold
          text-align: left
          padding: 0 0 5px 4px
        input
          width: 70%
          cursor: pointer
          font-weight: bold
          padding: 4px 0
          color: $refineInputText
          border: $refineInputBorder
          background: $refineInputBG
          &:hover
            color: $refineInputHoverText
            background: $refineInputHoverBG

.curtain
  position: relative
  background: #000 image_url("default/curtain.png") top left repeat-x
  border-top: 1px solid #000
  border-bottom: 1px solid #535353

.panel_2
  .video
    min-width: 200px
    max-width: 480px
    margin: 2px auto
    z-index: 1
    object
      z-index: 1
      

/* HOT TOPIC BAR */
#hotTopicBar
  float: left
  width: 100%
  display: block
  margin-bottom: 15px
  ul
    display: block
    float: left
    background: $HTBaseBG
    width: 100%
    li
      float: left
      padding: 4px 0 4px 0px
      &.topic
        display: inline
        float: left
        text-align: left
        background: $HTBaseBG
        padding: 4px 15px 4px 0
        min-width: 10%
        width: auto
        a
          margin-left: 5px
          padding-left: 8px
          background: $hotTopicBar
      &.topicTitle
        background: $HTTitleBG
        color: $HTTitleText
        width: 22%
        padding-left: 5px
        text-transform: uppercase
        margin-right: 10px
      &.topicMore
        border-left: 2px solid white
        float: right
        text-align: center
        width: 10%
        background: $HTBaseBG

/* DETAILS/SHOW PAGE STYLES */
#itemDetails
  .tag-wrap
    margin: 0 0 10px 0
    font-size: 11px
  .topBar
    margin-bottom: 10px
    ul
      border-bottom: none
      display: inline-block
      width: 100%
      li
        position: relative
        padding: 3px 0 4px 0
        text-align: center
        display: block
        float: left
        margin:
          bottom: 0
        margin-right: -1px
        width: 20%
        border:
          left: $TopBarBorder
          bottom: none
        background: $TopBarBG
        &.nopad
          padding-bottom: 2px
        a, span
          color: $linkColor
       
  .half-panel
    float: right

// Comment Style Modifications and Additions //
.commentThread, #commentThread
  .panelBar
    background: $panelBarCommentBG
    h2
      color: $linkColor
  .comment_block
    position: relative
    padding: 8px 0 20px 0
    border:
      bottom: $commentBlockBorder
    .comment_reply
      display: block
      padding: 0 0 4px 20px
      position: absolute
      bottom: 8px
      left: 70px
      background: $commentReply
      a
        color: $commentReplyText
        font-weight: bold
        font-size: $fontsize * 0.9


li.featureWrap
  border-bottom: 1px solid white


.subtitle
  position: relative
  font-size: $fontsize * 0.9
  color: $subheadColor
  background: $subTitleBG
  border: none
  padding: 6px 0px 6px 4px

// Blockquote styles //
blockquote
  background: $blockQuote
  color: $bodyColor
  font-size: $fontsize
  line-height: 130%
  margin: 0
  padding: 5px 10px
  .quotes
    padding: 4px 0

// TODO add styles for reply quotes when its functional //

/* GLOBAL BUTTON */
h3.btn
  a
    color: white
    &:hover
      text-decoration: none


.btn, .form-btn
  padding: 3px 10px 4px 10px
  line-height: 100%
  display: inline-block
  color: $btnTextColor
  font-weight: bold
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  background: $btnBG
  border: $btnBorder
  &:hover
    cursor: pointer
    text-decoration: none
    background: $btnBGHover
  &.disabled
    border: 1px solid #666
    color: #f0f0f0
    cursor: default
    background: image_url("default/disabled-btn.gif") top left repeat-x
    &:hover
      background: image_url("default/disabled-btn.gif") top left repeat-x

.form-btn
  background: image_url("default/form-btn-off.png") top left repeat-x
  &:hover
    background: image_url("default/form-btn-on.png") top left repeat-x

/* ACTION LINKS */
.btnComment
  display: inline-block
  margin: 0 1px
  padding: 1px 8px 2px 8px
  background: $btnCommentBG
  font-size: 11px

.btnFBshare
  margin: 1px 1px 0 1px

.facebook-share
  background: image_url("default/icon_facebook.gif") left no-repeat
  padding-left: 18px

.tweet-share
  background: image_url("default/icon_tweet.gif") left no-repeat
  padding-left: 18px
  
.voteUp
  background: $voteUp
  padding-left: 15px

.voteDown
  background: $voteDown
  padding-left: 15px

.thumb-up
  background: $thumbUp
  padding-left: 15px

.thumb-down
  background: $thumbDown
  padding-left: 15px

// Action Legend Panell//

.actionLegend
  background: $actionLegendBG
  .share_and_hide
    margin: 5px
    h4
      margin-bottom: 5px
      color: $headerColor
    input
      border: $actionLegendinputBorder
      width: 100%
      padding: 1px 0


// Account Profile stats styles //
.pointsTable_profile
  table
    width: 100%
    border-bottom: 1px solid #fff
  td
    border-top: 1px solid #fff
    padding: 6px 10px

// Extra styles for Login Page //
.login
  width: 90%
  margin: 20px 5%
  p
    margin-bottom: 20px
  .desc
    display: inline-block
    margin-bottom: 10px
  .fb-login-btn
    height: 25px
    width: 107px
    margin: 0 auto
  li
    width: auto
    display: block
    margin: 0 10px 5px 10px
  label
    font-size: $fontsize * 0.9
    padding: 4px 2px
    width: 27%
    display: inline-block
    text-align: right
  .submit-btn
    text-align: center

/* AD LAYOUTS */
#adspace
  margin-bottom: 15px

.ad_160
  width: 160px
  margin: 0 auto

.ad_200
  width: 200px
  margin: 0 auto

.ad_250
  width: 250px
  margin: 0 auto

.ad_300
  width: 300px
  margin: 0 auto

.ad_336
  width: 336px
  margin: 0 auto
  
.ad_468
  width: 468px
  margin: 0 auto

.ad_728
  width: 728px
  margin: 0 auto

.ad_468, .ad_200, .ad_728, .ad_160, .ad_250, .ad_300, .ad_336, .sponsor_250
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  padding: 15px 0 5px
  border-left: 5px solid #cccccc
  border-right: 5px solid #cccccc
  background: $AdBG
  .test-frame
    background-color: white
    height: 80px
    width: 100%
    &.sky-scraper
      height: 600px
  iframe
    padding: 0
    margin: 0
    html
      margin: 0
      padding: 0
      body
        margin: 0
        padding: 0

.sponsor_250
  width: 250px
  margin: 0 auto
  background: #ccc image_url("default/sponsor-bg-title.gif") top center no-repeat
  div
    background-color: #fff
  
.advertise_here
  font-size: $fontsize * .9
  text-align: center
  
// Bookmarklet Styles //
.bookmarklet
  padding-bottom: 10px
  border:
    bottom: $bookmarkletBorder
  background: $bookmarkletBG
  h2
    color: $bookmarkletHeader
    background: $bookmarkletHeaderBG
    font-size: $fontsize * 1.4
    margin: 0
    padding: 5px 10px 25px 10px
  p
    color: $bookmarkletText
    margin: 5px 10px
    font-size: $fontsize * 1.1
  .demo
    margin: 10px
    padding: 75px 0 10px 0
    background: $demoBG
    .btn
      font-size: 11px
  .fb-btn
    margin-top: 15px



// pagination styles //

.pagination
  text-align: $paginationAlign
  display: inline-block
  width: 100%
  padding-top: 10px
  margin: 10px 0
  .gap
    color: $paginationLinkOn
    background: $paginationBgOn
    border: none
  a, span
    padding: 2px 4px
    background: $paginationBgOff
    color: $paginationLinkOff
  span.disabled
    color: $paginationLinkDisabled
    background: none
    border: $paginationBdrDisabled
    &:hover
      text-decoration: none
      cursor: default
  span.current
    font-weight: bold
    color: $paginationLinkOn
    background: $paginationBgOn
    border: $paginationBdrOn
  a
    border: $paginationBdrOff
    color: $paginationLinkOff
    text-decoration: none
    &:hover, &:focus
      border: $paginationBdrOn
      background: $paginationBgOn
      color: $paginationLinkOn
  .page_info
    color: #aaaaaa
    padding-top: 0.8em
  .prev_page, .next_page
    color: $paginationLinkOn
    border: none
    background: none
    &:hover
      border: none
      background: none
      text-decoration: underline
    &.disabled
      border: none
  .prev_page
    margin-right: 1em
  .next_page
    margin-left: 1em
    
.standard_overlay 
  display: none
  z-index: 10000
  padding: 35px
  width: 440px
  background-image: url(/images/overlay/white.png)

.standard_overlay .close 
  background-image: url(/images/overlay/close.png)
  position: absolute
  right: 5px
  top: 5px
  cursor: pointer
  height: 35px
  width: 35px

#overlay, #login-overlay
  background-image: url(/images/overlay/white.png)
  color: #efefef
  height: 450px

.contentWrap 
  height: 441px
  overflow-y: auto

#login-overlay .contentWrap p
  color: black

/*
/*	root element for the scrollable.
/*	when scrolling occurs this element stays still.*/

.scrollable 
  /* required settings */
  position: relative
  overflow: hidden
  width: 85%
  height: 110px
  margin: 2px auto

  /* custom decorations */
  border: 1px solid #636363
  background: #000


#scrollbox
  display: none
  position: relative
  height: 110px
/*	root element for scrollable items. Must be absolutely positioned
/*	and it should have a extremely large width to accomodate scrollable items.
/*	it's enough that you set the width and height for the root element and
/*	not for this element.  */

.scrollable .items 
  /* this cannot be too large */
  width: 20000em
  position: absolute
  clear: both

.items div 
  float: left
  width: 100%

  /* single image */
#images
  position: absolute
  overflow: hidden
  margin: 25px
  width: 300px
  height: 200px

#images .items div 
  float: left
  width: 300px
  height: 300px
  margin-right: 30px
  

/* single scrollable item */
.scrollable img 
  float: left
  margin: 15px 10px
  background-color: #888
  padding: 3px
  width: 100px
  height: 75px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px

/* active item */
.scrollable .active 
  border: 2px solid #000
  position: relative
  cursor: default

/* this makes it possible to add next button beside scrollable */


/* prev, next, prevPage and nextPage buttons */
a.browse 
  display: block
  width: 20px
  height: 40px
  float: left
  cursor: pointer
  font-size: 1px


/* right */
a.right_scroll
  position: absolute
  right: 10px
  top: 40px
  background: url(/images/arrow/right.png) no-repeat
  clear: right
  margin-right: 0px
  
  &:hover
    background-position: 0px -40px
  
  &:active
    background-position: 0px -40px

/* left */
a.left_scroll
  position: absolute
  left: 10px
  top: 40px

  background: url(/images/arrow/left.png) no-repeat
  margin-left: 0px
  &:hover
    background-position: 0px -40px
  &:active
    background-position: 0px -40px

/* up and down */
a.up_scroll		
  background: url(/images/arrow/up.png) no-repeat
  float: none
  margin: 10px 50px
	
  &:hover
    background-position: -30px 0
  &:active
    background-position: -60px 0
    
a.down_scroll
  background: url(/images/arrow/down.png) no-repeat
  float: none
  margin: 10px 50px
  background-position: 0 -30px
  
  &:hover
    background-position: -30px -30px
  &:active
    background-position: -60px -30px

/* disabled navigational button */
a.disabled 
  visibility: hidden !important

.selected-image
  border: 1px solid red

#image_box

  .scrollable_popup 

    /* required settings */
    position: relative
    overflow: hidden
    width: 300px
    height: 300px
    
    .items 
      /* this cannot be too large */
      width: 20000em
      position: absolute
      clear: both
      
    img 
      float: left
      margin: 20px 5px 20px 21px
      background-color: #fff
      padding: 2px
      

  .navi
    position: absolute
    bottom: 33px
    left: 50px
    display: block
    width: 30px
    height: 20px
  
  .next
    left: 450px
    background: url(/images/arrow/right.png) no-repeat
  
  .prev
    background: url(/images/arrow/left.png) no-repeat


// jgrowl styling //
body div.jGrowl div.jGrowl-notification, body div.jGrowl div.jGrowl-closer
  background: $WelcomePanelBG
  border: $featureBorder
  opacity: .90
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85)
  zoom: 1
  width: 275px
  padding: 10px
  margin-top: 5px
  margin-bottom: 5px
  text-align: left
  display: none
  -moz-border-radius: 5px
  -webkit-border-radius: 5px

body div.jGrowl div.jGrowl-notification
  min-height: 40px

body div.jGrowl div.jGrowl-notification div.jGrowl-header
  margin: 0 0 10px 0
  color: $featureBodyText
body div.jGrowl div.jGrowl-notification div.jGrowl-message
  h3
    font-size: $fontsize * 0.8
    margin: 1px 0 3px 0
  p
    font-size: $fontsize * 0.95
    color: $featureBodyText

body div.jGrowl div.jGrowl-notification div.user-wrapper
  background: #fff
  padding: 2px
  width: 271px
  display: inline-block
  .profilePic
    border: #ccc 1px solid
    margin: 0 5px 5px 0
  p
    font-size: $fontsize * 0.95
    color: #666
  
body div.jGrowl div.jGrowl-notification div.jGrowl-close
  z-index: 99
  float: right
  font-weight: bold
  font-size: 1em
  cursor: pointer
  display: inline-block
  float: right
  color: $featureBodyText
  position: relative
  top: -3px
body div.jGrowl div.jGrowl-closer
  color: $featureBodyText
  text-align: center
  &:hover
    color: $featureBodyText
#wall_post_checkbox
  clear: both
  float: left
  width: 100%
#wall_post_label  
  padding-left: 0
#article_status
  clear: both
  float: left

/**********************************************************************************************/
/* FLASH ERROR STYLES */
.flash
  margin: 0 auto
  clear: both
  z-index: 900
  position: relative
  p
    position: absolute
    top: -5px
    width: 80%
    padding: 5px
    margin: 0 10%
    font-weight: bold
    font-size: 13px
    display: block
    text-align: center
    color: #fff

  &.flash_error
    p
      border: $flashErrorBorder
      background: $flashErrorBG

  &.flash_success
    p
      border: $flashSuccessBorder
      background: $flashSuccessBG

  &.flash_notice, &.info
    p
      border: $flashNoticeBorder
      background: $flashNoticeBG

  &.flash_warning
    p
      border: $flashWarningBorder
      background: $flashWarningBG



.process
  background: white image_url("default/vertical_bg_animation.gif") top left repeat
  opacity: .5

#contactBox
  .jcarousel-container
    img
      margin-left: 0px
      margin-top: 0px

.moderator-links
  display: none !important
.mod-links-style
  display: inline-block
  position: relative
  padding: 4px

.admin-links
  display: none !important
.admin-links-style

.user-present
  display: none !important

.wizard-errors
  color: red