@import skin.sass

*
  margin: 0
  padding: 0

// Float div hack //
.clearfix
  display: inline-block

// floats //
.float_left
  float: left

.float_right
  float: right

// Header Container // /* -webkit-box-shadow: #999 0px 2px 12px */
#header

  height: $headerHeight
  margin-bottom: 15px
  position: relative
  border:
    bottom: $pageTabOnBdr
  background: $headerBG
  z-index: 10
  .sponsor
    background: $sponsorBG
    display: $sponsordisplay
    position: absolute
    top: $sponsortop
    left: $sponsorleft
    height: $sponsorheight
    width: $sponsorwidth
    z-index: 1
    a
      display: block
      height: $sponsorheight
      width: $sponsorwidth
  .headerTitle
    background: $headerTitleLogoImage
    height: $headerTitleLogoHeight
    width: $headerTitleLogoWidth
    position: absolute
    top: $headerTitleLogoPosTop
    left: $headerTitleLogoPosLeft
    z-index: 2
    a
      display: block
      width: 100%
      height: 100%
    h1
      visibility: $headerTitleDisplay
      display: block
      float: left
      font-size: $fontsize * 2.2
      color: $headerTitleColor
  a
    text-decoration: none
  img.hdrpic
    position: absolute
    top: 2px
    left: 2px
  .pipe
    margin: 0 5px
    color: $subheadColor
  .dh_links
    font-size: 12px
    position: absolute
    top: 10px
    right: 0px
    float: right
    padding: 5px 20px 5px 10px
    background: $dhlinkscolor

// account dropdown styles //
.account-dropdown
  float: left
  position: relative
  z-index: 2

.account-toggle
  position: relative
  z-index: 3
  padding-right: 10px
  background: $TextDropDownArrow

.account-links
  width: 180px
  position: absolute
  z-index: 2
  top: 18px
  right: -6px
  display: inline-block
  padding: 4px 10px
  border:
    top: $DropDownBorder
    bottom: $DropDownBorder
    left: $DropDownBorder
    right: $DropDownBorder
  background-color: $DropDownBG
  li
    width: 100%
    margin: 6px 0 0px 0
    padding: 0
    a
      display: block
      padding: 4px 6px
      &:hover
        background: $DropDownLinkHover
    &.account-profile
      a
        display: inline-block
        &:hover
          background: none
  .account-tab
    height: 24px
    width: 65px
    z-index: 2
    position: absolute
    top: -25px
    right: -1px
    border:
      top: $DropDownBorder
      bottom: none
      left: $DropDownBorder
      right: $DropDownBorder
    background-color: $DropDownBG
.account-links
  .account-profile
    .thumb
      margin: 5px
      a
        padding: 0
// Body containers //
#bodyWrapper
  background: $bodyWrapperBG
  display: inline-block
  border: 
    top: $bodyWrapperBorderTop
    bottom: $bodyWrapperBorderBot
    left: $bodyWrapperBorderleft
    right: $bodyWrapperBorderRight

// Footer Container //
#footer
  margin-bottom: 15px
  border:
    top: $FooterBorder
  .dh_links
    color: $bodyColor
    float: left
    clear: left
    margin: 0px
    padding: 5px 10px 7px 10px
    font-size: 12px
    background:
      color: $FooterBG

// Various Icon Links //
.rss_link
  background: $rss
  padding: 3px 0 3px 18px

.twitter_link
  background: $twitter
  padding: 3px 0 3px 18px

.newscloud_link
  background: $newsCloud
  padding: 3px 0 3px 20px

// Russell's Section Stuff //
.hidden
  display: none

// Global styles //
body
  font-family: $copyFont
  color: $bodyColor
  background: $bodyBG
  font-size: $fontsize
  margin: 0px
  padding: 0px

h1, h2, h3, h4, h5
  margin: 0px
  padding: 0px
  a
    color: $headerColor
    &:hover
      color: $headerLinkHover

h1, h2, h4
  font-family: $headerFont
  color: $headerColor
  line-height: 130%
  font-weight: $headerweight

h3, h5 
  font-family: $copyFont
  color: $subheadColor
  line-height: 120%
  a
    color: $linkColor
    &:hover
      color: $linkColor

h1
  font-size: $fontsize * 1.5
  margin: 0 0 6px 0

h2
  font-size: $fontsize * 1.2
  margin: 0 0 6px 0

h4
  font-size: $fontsize * 1.1
  margin: 0 0 4px 0
  padding: 0

h3
  font-size: 11px
  margin: 0 5px 5px 0

h5
  font-family: $headerFont
  color: $subheadColor
  font-size: $fontsize * 0.9
  margin: 0px 0px 10px 0
  padding: 5px 0px

p
  font-family: $copyFont
  color: $bodyColor
  font-size: 12px
  line-height: 130%
  text-align: left
  margin: 0 0 8px 0
  padding: 0px

a
  color: $linkColor
  cursor: pointer
  text-decoration: none
  &:hover
    text-decoration: underline

img
  border: none

ul
  list-style-type: none
  margin: 0
  padding: 0

li
  list-style-type: none
  margin: 0
  padding: 10px 0 4px 0

.meta
  color: $subheadColor

.bold
  font-weight: bold

// top level menu page tabs //
#pageTabs
  width: 100%
  position: absolute
  bottom: 0px
  overflow: visible
  border: none
  .tabs
    border-top: $tabTopBdr
    position: absolute
    bottom: 0
    left: 0
    background: $tabsBG
    width: 100%
    height: 24px
    .tab-float
      float: $pagetabFloat
      padding: 0 0 0 1px
    .back_links
      padding-right: 20px
    .toggle_tabs li
      margin-right: 1px
      height: 23px
      width: $pageTabWidth
      float: left
      padding: 0
      text-align: center

    .toggle_tabs li
      a
        position: relative
        bottom: $pageTabOffPOS
        display: block
        height: 13px
        margin: 0px 0px 0px 0px
        padding: 5px 0
        font-weight: bold
        font-size: $fontsize
        color: $pageTablinkOff
        background: $pageTabOff
        &:hover
          background: $pageTabOffHover
      &.first 
        width: 30px
        a
          margin: 0
          padding: 5px 0
          img
            display: inline-block

    .toggle_tabs li
      a.selected
        bottom: $pageTabOnPOS
        margin: 0px 0px 0px 0px
        padding: 5px 0
        border:
          top: $pageTabOnBdr
          bottom: $pageTabOnBotBdr
          right: $pageTabOnBdr
          left: $pageTabOnBdr
        background: $pageTabOn
        color: $pageTablinkOn
      &.first a.selected
        padding: 5px 7px
      a.selected:hover
        text-decoration: none
        &.disabled
          color: $subheadColor
          cursor: default
          &:hover
            text-decoration: none
#pageTabs
  .toggle_tabs
    .menu_item
      &:hover
        a
          background: $pageTabOffHover
          &.selected
            background: $pageTabOn
            

#pageTabs
  .toggle_tabs
    .menu_item
      &:hover
        .dropdown
          display: block
      .dropdown
        z-index: 20
        display: none
        margin-top: 1px
        ul
          padding: 1px 0 0 0
          display: inline-block
          li
            width: $dropdownWidth
            height: 100%
            float: $pagetabFloat
            clear: both
            padding: 0
            text-align: left
            margin-top: -1px
            margin-right: 0
            a
              height: 100%
              font-size: $fontsize * 0.95
              line-height: 13px
              font-weight: normal
              display: block
              background: $dropdownTabOff
              padding: 5px
              color: $dropdownTabText
              border:
                top: $dropdownTabTopBorder
                bottom: $dropdownListBorder
                left: $dropdownListBorder
                right: $dropdownListBorder
              &:hover
                background: $dropdownTabOn
            a.selected
              padding: 5px
              background: $dropdownTabSelectOff
              border:
                top: $dropdownTabTopBorderSelect
                bottom: $dropdownTabListBorderSelect
                left: $dropdownTabListBorderSelect
                right: $dropdownTabListBorderSelect
              color: $dropdownTabTextSelect
              &.selected:hover
                background: $dropdownTabSelectOn

// Sub Navigation Styles //
#subNav
  height: 19px
  margin: 0px 0px 15px 0px
  padding: 0px 0px 0px 0px
  display: inline-block
  overflow: visible
  border:
    bottom: $subnavBorder

#subNav
  .toggle_tabs
    margin: 0px 0px 0px 0px
    padding: 0px 0px 0px 0px
    text-align: center
    li
      display: block
      float: left
      padding: 0px 0px 0px 0px
      margin: 0 0 0 1px
      a
        margin: 0px 0px 0px 0px
        padding: 4px 25px 1px 25px
        height: 14px
        border: none
        font-weight: bold
        font-size: $fontsize
        background: $subnavTabOff
        display: block
        color: $subnavTabLinkOff
        &:hover
          background: $subnavTabOffHover
          text-decoration: none
        &.selected
          margin: -1px 0px 0px 0px
          background: $subnavTabOn
          border:
            top: $subnavBorder
            bottom: $TabBotBorder
            right: $subnavBorder
            left: $subnavBorder
          color: $subnavTabLinkOn
          &:hover
            background: $subnavTabOn
            text-decoration: none
            cursor: default
        &.disabled
          color: $subheadColor
          cursor: default
          &:hover
            text-decoration: none

// Thumb class stylings

.thumb
  margin: 10px
  position: relative
  overflow: hidden
  img
    position: relative
    background: $WaterMark
  a:hover
    text-decoration: none
  &.welcome
    float: left
  &.banner
    margin: 2px auto
    max-width: 292px
    padding: 0
    display: block
  &.threeFour
    max-height: 190px
    img
      top: -10px
  &.bio
    overflow: visible
  &.nineSixteen
    max-height: 150px
    img
      top: -40px
  &.story
    width: 90px
    max-height: 75px
  &.user
    max-height: 90px
    .moderator
      height: 18px
      width: 18px
  &.user-details
    max-height: 210px
    .moderator
      height: 32px
      width: 32px
  &.user-bio
    float: left
    margin: 5px
    .moderator
      height: 16px
      width: 16px
  .moderator 
    position: absolute
    left: 4px
    bottom: 4px
    background: none

// Moderator badge general styles
.moderator 
  position: absolute
  left: 2px
  bottom: 2px
  background: none

.feature_bg
  .thumb
    margin: 10px 15px 0
    display: inline-block
    overflow: hidden
  img
    width: 280px
  &.wide
    height: 160px
    img
      width: 590px
      max-width: 590px

#readArticle
  .thumb
    float: right
    img
      max-width: 280px

.storyList
  .thumb
    margin: 0 6px
    float: left
    img
      max-width: 90px
  .storyBlockWrap
    margin-left: 110px

.featuredNewsList
  margin: 10px 0 0 0
  .thumb
    background: black
    margin: 0 8px 0 0
    height: 34px
    float: left
    img
      max-width: 48px

// Profile Pic //
.profilePic
  position: relative
  float: left
  margin: 0px 10px 0px 0px
  img
    max-width: 30px
    max-height: 30px
  a:hover
    text-decoration: none
  .moderator
    height: 12px
    width: 12px

// Layout panels - should be used for all element containers //
.panel_1, .panel_2

  .top-tags
    display: inline-block
    padding-top: 4px
    li
      display: block
      width: auto
      border-bottom: none
      float: left
      padding: 2px 0
      h4
        margin: 0
        padding: 0
      a
        padding: 4px 6px
        &:hover
          text-decoration: none
          background: $featureStoryBG

  .storyBlockWrap
    .featuredNewsList
      ul
        padding: 0
      li
        width: auto
        display: block
        border-bottom: none
        margin: 0 0 4px 0
        padding: 4px
        &.selected, &:hover
          background-color: white
          .btnComment
            background: $btnCommentBG
      p
        margin: 3px 0 4px 0

.panel_1, .panel_2
  margin-bottom: 10px
.panel_3
  margin-bottom: 5px

.panel_1, .panel_2
  background: #fff
  &.textpage
    h2
      font-size: $fontsize * 1.1
  &.sponsorbox
    background: $sponsorBoxBG
    ul
      border: $sponsorBoxBorder
    .panelBar
      background: $sponsorBoxPanelBarBG
      border: none
      h2
        color: $sponsorBoxPanelBarTextColor
        font-weight: bold
    .storyBlockWrap
      margin: 0 8px
  .listTags
    li
      border: none
      padding: 2px 0
    h4
      font-weight: normal
      font-size: $fontsize
      color: $subheadColor
  .eventBlock
    background: $subTitleBG
    margin: 4px 0 0 0
    padding: 0
    border:
      top: 1px solid #f0f0f0
      bottom: 1px solid #f0f0f0
    .tag
      font-weight: normal
      text-transform: uppercase
      font-size: $fontsize
    .eventDetailsBlock
      background: #fff
      float: left
      width: 75%
      padding: 4px 0 6px 0
      .storyBlockWrap
        padding-left: 6px
    .eventLocationBlock
      float: left
      width: 25%
      background: $subTitleBG
      ul
        margin: 4px 0 8px 0
        li
          border: none
          padding: 4px 0 0 8px
          font-size: $fontsize * 0.9
          color: $subheadColor
          b
            color: $headerColor
  .houseFeatures
    background: $featureBg
    -moz-border-radius: $featureBorderRadius
    -webkit-border-radius: $featureBorderRadius
    border-radius: $featureBorderRadius
    border:
      top: $featureBorderTop
      bottom: $featureBorderBot
      left: $featureBorderLeft
      right: $featureBorderRight
    display: inline-block

    .featureAd
      text-align: center
      h2
        font-size: $fontsize * 1.35
        text-align: left
        line-height: 150%
        padding: 8px 10px
        color: $featureH2Text
        &.push-left
          margin-right: 40%
      p
        text-align: left
        padding: 0 10px
        margin-bottom: 20px
        color: $featureBodyText
      .featureBtn
        font-size: $fontsize * 1.25
        line-height: 14px
        font-weight: bold
        display: inline-block
        background: $featureBtnOff
        color: $featureBtnText
        height: 16px
        padding: 4px 20px
        margin: 10px auto
        border: $featureBtnBorder
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
        border-radius: 4px
        &:hover
          background: $featureBtnOn
          text-decoration: none
  .userBlockWrap
    li
      padding: 0
      margin: 4px 4px 0 0
      display: inline-block
      width: 30px
      height: 30px
      float: left
      border:
        bottom: none
      .profilePic
        margin: 0
  .videoBlockWrap
    li
      display: inline-block
      float: left
    .videoThumb
      padding: 0
      margin:
        top: 2px
        right: 2px
      width: 72px
      height: 48px
      background: #cccccc
      padding: 0px
  .formBox
    padding: 10px 0px
    background: $formBoxBG
    p
      margin: 0 10px
    h4
      font-weight: normal
      margin-bottom: 10px
    textarea
      border: $formBoxTextArea
  .panelBar
    position: relative
    display: block
    padding: 6px 0 2px 0px
    border:
      bottom: $panelBarBorder
    background: $panelBarBG
    h2
      margin: 0
      font-weight: $panelBarHeaderWeight
      font-size: $fontsize * 0.9
      text-transform: $panelBarTextTransform
      font-family: $headerFont
      color: $panelBarHeader
      display: inline
      margin-left: 6px
      a
        color: $panelBarHeader
        font-weight: normal
        text-transform: none
        font-size: $fontsize
    .bar_link
      float: right
      margin: 0 8px
  .storyBlockMeta
    &.float_right
      margin-right: 10px
    h4
      margin-bottom: 3px
    h3
      margin-bottom: 4px
  .storyBlockWrap
    .storyHead
      margin: 0 0 8px 0
      color: $headerColor
    .eventMetaBlock
      background: $subTitleBG
      width: 60%
      display: inline-block
      padding: 4px
      h3
        display: inline-block
      .eventMeta
        float: left
        display: inline-block
        h4
          margin: 0 6px 4px 
        h3
          color: $bodyColor
          margin: 0 6px 4px
          line-height: 150%
        &.time
          border-right: #fff 1px solid
          margin-left: -1px
          width: 50%
        &.location
          margin-left: -1px
          border-left: #fff 1px solid
          width: 50%
        &.tags
          border-top: #fff 1px solid
          width: 100%
          margin: 0
    p
      margin: 6px 0px
      line-height: 120%
  li
    display: inline-block
    position: relative
    width: 100%
    padding: 8px 0
    border:
      bottom: $panelListBorder
  .bullet_list
    margin: 0 10px
    ul
      margin: 10px 0 0 0
    li
      display: list-item
      margin: 0 0 10px 10px
      padding: 0
      line-height: 120%
      list-style-image: $bulletList
      list-style-type: disc
      list-style-position: outside
      border-bottom: none
  .audio, .video, .image
    margin: 10px
  .userPoints
    text-align: right
    margin-right: 0px
    .pointsnote
      font-size: 90%
      font-weight: normal

// Flag box styles //
.flag-wrap
  display: inline-block
  position: relative
  z-index: 6
  .flag-toggle
    position: relative
    z-index: 8
  .flag-box
    padding: 10px
    position: absolute
    top: 13px
    left: 1px
    background: $btnCommentBG
    z-index: 7

// refine search box styles //
.panelBar, .subtitle
  .bio-box
    width: 100%
    padding: 0px
    z-index: 9
    position: absolute
    top: 22px
    right: 0px
    border: $DropDownBorder
    background-color: $DropDownBG 
    .bio-content
      display: block
      margin: 10px
      label
        display: block
        margin-bottom: 10px
      textarea
        width: 100%
        margin-bottom: 5px
      .submit-box
        text-align: right
  .refine-toggle
    position: relative
    z-index: 10
    padding-right: 10px
    background: $TextDropDownArrow
  .refine_link
    float: right
    position: relative
    display: block
    padding: 0px 8px
    a
      font-size: 11px
      color: $linkColor
    .refine-tab
      height: 32px
      width: 99px
      position: absolute
      top: -33px
      right: -1px
      border:
        top: $DropDownBorder
        bottom: none
        left: $DropDownBorder
        right: $DropDownBorder
      background-color: $DropDownBG
      z-index: 9
    .refine-box
      z-index: 8
      display: none
      position: absolute
      padding: 8px
      width: 142px
      top: 25px
      right: 0px
      border: $DropDownBorder
      background-color: $DropDownBG
      .refine-content
        text-align: center
        select
          width: 100%
          margin-bottom: 15px
          border: $refineInputBorder
        label
          display: block
          font-weight: bold
          text-align: left
          padding: 0 0 5px 4px
        input
          width: 70%
          cursor: pointer
          font-weight: bold
          padding: 4px 0
          color: $refineInputText
          border: $refineInputBorder
          background: $refineInputBG
          &:hover
            color: $refineInputHoverText
            background: $refineInputHoverBG

// hot topic bar //
#hotTopicBar
  float: left
  width: 100%
  display: block
  margin-bottom: 15px
  ul
    display: block
    float: left
    background: $HTBaseBG
    width: 100%
    li
      float: left
      padding: 4px 0 4px 0px
      &.topic
        display: inline
        float: left
        text-align: left
        background: $HTBaseBG
        padding: 4px 15px 4px 0
        min-width: 10%
        a
          margin-left: 5px
          padding-left: 8px
          background: $hotTopicBar
      &.topicTitle
        background: $HTTitleBG
        color: $HTTitleText
        width: 22%
        padding-left: 5px
        text-transform: uppercase
        margin-right: 10px
      &.topicMore
        border-left: 2px solid white
        float: right
        text-align: center
        width: 10%
        background: $HTBaseBG

// Article Style modifications //
#readArticle
  .thumb
    margin-top: 0
  .topBar
    margin-bottom: 15px
    ul
      border-bottom: none
      display: inline-block
      width: 100%
      li
        padding: 3px 0 4px 0
        text-align: center
        display: block
        float: left
        margin:
          bottom: 0
        margin-right: -1px
        width: 25%
        border:
          left: $TopBarBorder
          bottom: none
        background: $TopBarBG
        &.nopad
          padding-bottom: 2px
        a
          color: $linkColor
  .bodyArticle
    color: $bodyColor
    margin: 8px 5px 14px 5px
    line-height: 140%
    font-size: $fontsize
  .storyCaption
    p
      padding: 0
      margin: 4px 0px
    br
      margin: 0
      line-height: 0px
      visibility: hidden

// Comment Style Modifications and Additions //
.commentThread, #commentThread
  .panelBar
    background: $panelBarCommentBG
    h2
      color: $linkColor
  .comment_block
    position: relative
    padding: 8px 0 20px 0
    border:
      bottom: $commentBlockBorder
    .comment_reply
      display: block
      padding: 0 0 4px 20px
      position: absolute
      bottom: 8px
      left: 70px
      background: $commentReply
      a
        color: $commentReplyText
        font-weight: bold
        font-size: $fontsize * 0.9

.feature_bg
  background: $featureStoryBG
  .panel_2
    margin-top: 10px
  .storyBlockWrap
    margin: 10px 15px
    &.header-top
      margin-top: 10px
      margin-bottom: -10px
  .btnComment
    background: $btnCommentFeatureBG

li.feature_bg
  border-bottom: 1px solid white


.subtitle
  position: relative
  font-size: $fontsize * 0.9
  color: $subheadColor
  background: $subTitleBG
  border: none
  padding: 6px 0px 6px 4px

// Blockquote styles //
blockquote
  background: $blockQuote
  color: $bodyColor
  font-size: $fontsize
  line-height: 130%
  margin: 10px 0 10px 60px
  padding: 5px 10px
  .quotes
    padding: 4px 0

// TODO add styles for reply quotes when its functional //

// Universal Button Styles //
h3.btn
  a
    color: white
    &:hover
      text-decoration: none
.btn
  display: inline-block
  color: $btnTextColor
  font-weight: bold
  padding: 3px 10px 4px 10px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  background: $btnBG
  border: $btnBorder
  &:hover
    cursor: pointer
    text-decoration: none
    background: $btnBGHover

// Like, Share, Vote, Comment, and Rate Styles //
.btnComment
  display: inline-block
  margin: 0 1px
  padding: 1px 8px 2px 8px
  background: $btnCommentBG
  font-size: 11px

.btnFBshare
  margin: 1px 1px 0 1px

.voteUp
  background: $voteUp
  padding-left: 15px

.voteDown
  background: $voteDown
  padding-left: 15px

.thumb-up
  background: $thumbUp
  padding-left: 15px

.thumb-down
  background: $thumbDown
  padding-left: 15px

// Action Legend Panell//

.actionLegend
  background: $actionLegendBG
  .share_and_hide
    margin: 5px
    h4
      margin-bottom: 5px
      color: $headerColor
    input
      border: $actionLegendinputBorder
      width: 100%
      padding: 1px 0


// Account Profile stats styles //
.pointsTable_profile
  table
    width: 100%
    border-bottom: 1px solid #fff
  td
    border-top: 1px solid #fff
    padding: 6px 10px

// Extra styles for Login Page //
.login
  .desc
    display: inline-block
    margin-bottom: 10px
  .fb-login-btn
    height: 25px
    width: 107px
    margin: 0 auto
  li
    width: auto
    display: block
    margin: 0 10px 5px 10px
  label
    font-size: $fontsize * 0.9
    padding: 4px 2px
    width: 27%
    display: inline-block
    text-align: right
  .submit-btn
    text-align: center

// Ad sizes and Layouts //
#adspace
  margin-bottom: 15px

.ad_160
  width: 160px
  margin: 0 auto

.ad_200
  width: 200px
  margin: 0 auto

.ad_250
  width: 250px
  margin: 0 auto

.ad_300
  width: 300px
  margin: 0 auto

.ad_336
  width: 336px
  margin: 0 auto
  
.ad_468
  width: 468px
  margin: 0 auto

.ad_728
  width: 728px
  margin: 0 auto

.ad_468, .ad_200, .ad_728, .ad_160, .ad_250, .ad_300, .ad_336
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  padding: 15px 0 5px
  border-left: 5px solid #cccccc
  border-right: 5px solid #cccccc
  background: $AdBG
  .test-frame
    background-color: white
    height: 80px
    width: 100%
    &.sky-scraper
      height: 600px
  iframe
    padding: 0
    margin: 0
    html
      margin: 0
      padding: 0
      body
        margin: 0
        padding: 0

// Bookmarklet Styles //
.bookmarklet
  padding-bottom: 10px
  border:
    bottom: $bookmarkletBorder
  background: $bookmarkletBG
  h2
    color: $bookmarkletHeader
    background: $bookmarkletHeaderBG
    font-size: $fontsize * 1.4
    margin: 0
    padding: 5px 10px 25px 10px
  p
    color: $bookmarkletText
    margin: 5px 10px
    font-size: $fontsize * 1.1
  .demo
    margin: 10px 15px
    padding: 70px 0 10px 0
    background: $demoBG
  .fb-btn
    margin-top: 15px
  .btn
    display: inline-block
    color: white
    font-weight: bold
    font-size: 11px
    padding: 5px 10px 6px 10px
    border: $bookmarkletBtnBorder
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    border-radius: 4px
    background: $bookmarkletBtn
    &:hover
      text-decoration: none
      background: $bookmarkletBtnHover

// pagination styles //

.pagination
  text-align: $paginationAlign
  display: inline-block
  width: 100%
  padding-top: 10px
  margin: 10px 0
  .gap
    color: $paginationLinkOn
    background: $paginationBgOn
    border: none
  a, span
    padding: 2px 4px
    background: $paginationBgOff
    color: $paginationLinkOff
  span.disabled
    color: $paginationLinkDisabled
    background: $paginationBgDisabled
    border: $paginationBdrDisabled
    &:hover
      text-decoration: none
      cursor: default
  span.current
    font-weight: bold
    color: $paginationLinkOn
    background: $paginationBgOn
    border: $paginationBdrOn
  a
    border: $paginationBdrOff
    color: $paginationLinkOff
    text-decoration: none
    &:hover, &:focus
      border: $paginationBdrOn
      background: $paginationBgOn
      color: $paginationLinkOn
  .page_info
    color: #aaaaaa
    padding-top: 0.8em
  .prev_page, .next_page
    color: $paginationLinkOn
    border: none
    background: none
    &:hover
      border: none
      background: none
      text-decoration: underline
    &.disabled
      border: none
  .prev_page
    margin-right: 1em
  .next_page
    margin-left: 1em
    
.standard_overlay 
  display: none
  z-index: 10000
  padding: 35px
  width: 440px
  background-image: url(/images/overlay/white.png)

.standard_overlay .close 
  background-image: url(/images/overlay/close.png)
  position: absolute
  right: 5px
  top: 5px
  cursor: pointer
  height: 35px
  width: 35px

#overlay
  background-image: url(/images/overlay/white.png)
  color: #efefef
  height: 450px

.contentWrap 
  height: 441px
  overflow-y: auto

/*
/*	root element for the scrollable.
/*	when scrolling occurs this element stays still.

.scrollable 

  /* required settings */
  position: relative
  overflow: hidden
  width: 350px
  height: 120px

  /* custom decorations */
  border: 1px solid #ccc
  background: url(/images/h300.png) repeat-x


#scrollbox
  display: none
  height: 150px
/*	root element for scrollable items. Must be absolutely positioned
/*	and it should have a extremely large width to accomodate scrollable items.
/*	it's enough that you set the width and height for the root element and
/*	not for this element.

.scrollable .items 
  /* this cannot be too large */
  width: 20000em
  position: absolute
  clear: both

.items div 
  float: left
  width: 350px

  /* single image */
#images
  position: absolute
  overflow: hidden
  margin: 25px
  width: 300px
  height: 200px

#images .items div 
  float: left
  width: 300px
  height: 300px
  margin-right: 30px
  

/* single scrollable item */
.scrollable img 
  float: left
  margin: 20px 5px 20px 21px
  background-color: #fff
  padding: 2px
  width: 100px
  height: 75px

  -moz-border-radius: 4px
  -webkit-border-radius: 4px

/* active item */
.scrollable .active 
  border: 2px solid #000
  position: relative
  cursor: default

/* this makes it possible to add next button beside scrollable */
.scrollable 
  float: left


/* prev, next, prevPage and nextPage buttons */
a.browse 
  display: block
  width: 30px
  height: 20px
  float: left
  margin: 60px 10px 60px 10px
  cursor: pointer
  font-size: 1px


/* right */
a.right_scroll
  background: url(/images/arrow/right.png) no-repeat
  clear: right
  margin-right: 0px
  
  &:hover
    background-position: 0px -20px
  
  &:active
    background-position: 0px -30px

/* left */
a.left_scroll
  background: url(/images/arrow/left.png) no-repeat
  margin-left: 0px
  &:hover
    background-position: 0px -20px
  &:active
    background-position: 0px -20px

/* up and down */
a.up_scroll		
  background: url(/images/arrow/up.png) no-repeat
  float: none
  margin: 10px 50px
	
  &:hover
    background-position: -30px 0
  &:active
    background-position: -60px 0
    
a.down_scroll
  background: url(/images/arrow/down.png) no-repeat
  float: none
  margin: 10px 50px
  background-position: 0 -30px
  
  &:hover
    background-position: -30px -30px
  &:active
    background-position: -60px -30px

/* disabled navigational button */
a.disabled 
  visibility: hidden !important

.selected-image
  border: 1px solid red

#image_box

  .scrollable_popup 

    /* required settings */
    position: relative
    overflow: hidden
    width: 300px
    height: 300px
    
    .items 
      /* this cannot be too large */
      width: 20000em
      position: absolute
      clear: both
      
    img 
      float: left
      margin: 20px 5px 20px 21px
      background-color: #fff
      padding: 2px
      

.navi
  position: absolute
  bottom: 33px
  left: 50px
  display: block
  width: 30px
  height: 20px
  
.next
  left: 450px
  background: url(/images/arrow/right.png) no-repeat
  
.prev
  background: url(/images/arrow/left.png) no-repeat


// jgrowl styling //
body div.jGrowl div.jGrowl-notification, body div.jGrowl div.jGrowl-closer
  background: $featureBg
  border: $featureBorder
  opacity: .90
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85)
  zoom: 1
  width: 275px
  padding: 10px
  margin-top: 5px
  margin-bottom: 5px
  text-align: left
  display: none
  -moz-border-radius: 5px
  -webkit-border-radius: 5px

body div.jGrowl div.jGrowl-notification
  min-height: 40px

body div.jGrowl div.jGrowl-notification div.jGrowl-header
  margin: 0 0 10px 0
  color: $featureBodyText
body div.jGrowl div.jGrowl-notification div.jGrowl-message
  h3
    font-size: $fontsize * 0.8
    margin: 1px 0 3px 0
  p
    font-size: $fontsize * 0.95
    color: $featureBodyText

body div.jGrowl div.jGrowl-notification div.user-wrapper
  background: #fff
  padding: 2px
  .profilePic
    border: #ccc 1px solid
    margin: 0 5px 5px 0
  
body div.jGrowl div.jGrowl-notification div.jGrowl-close
  z-index: 99
  float: right
  font-weight: bold
  font-size: 1em
  cursor: pointer
  display: inline-block
  float: right
  color: $featureBodyText
  position: relative
  top: -3px
body div.jGrowl div.jGrowl-closer
  color: $featureBodyText
  text-align: center
  &:hover
    color: $featureBodyText
