@import skin.sass

*
  margin: 0
  padding: 0

// Float div hack //
.clearfix
  display: inline-block

// floats //
.float_left
  float: left

.float_right
  float: right

// Header Container //
#header
  height: $headerHeight
  margin-bottom: 15px
  position: relative
  border:
    bottom: $pageTabBorder
  background: $headerBG
  z-index: 22
  .sponsor
    background: $sponsorBG
    display: $sponsordisplay
    position: absolute
    top: $sponsortop
    left: $sponsorleft
    height: $sponsorheight
    width: $sponsorwidth
    z-index: 1
    a
      display: block
      height: $sponsorheight
      width: $sponsorwidth
  .headerTitle
    background: $headerTitleLogoImage
    height: $headerTitleLogoHeight
    width: $headerTitleLogoWidth
    position: absolute
    top: $headerTitleLogoPosTop
    left: $headerTitleLogoPosLeft
    z-index: 2
    a
      display: block
      width: 100%
      height: 100%
    h1
      visibility: $headerTitleDisplay
      display: block
      float: left
      font-size: 32px
      color: $headerTitleColor
  a
    text-decoration: none
  img.hdrpic
    position: absolute
    top: 2px
    left: 2px
  .pipe
    margin: 0 5px
    color: $subheadColor
  .dh_links
    position: absolute
    top: 10px
    right: 0px
    float: right
    padding: 5px 20px 5px 10px
    background: $dhlinkscolor

// account dropdown styles //
.account-dropdown
  float: left
  position: relative
  z-index: 2

.account-toggle
  position: relative
  z-index: 3
  padding-right: 10px
  background: $TextDropDownArrow

.account-links
  width: 180px
  position: absolute
  z-index: 2
  top: 18px
  right: -6px
  display: inline-block
  padding: 4px 10px
  border:
    top: $DropDownBorder
    bottom: $DropDownBorder
    left: $DropDownBorder
    right: $DropDownBorder
  background-color: $DropDownBG
  li
    width: 100%
    margin: 6px 0 0px 0
    padding: 0
    a
      display: block
      padding: 4px 6px
      &:hover
        background: $DropDownLinkHover
    &.account-profile
      a
        display: inline-block
        &:hover
          background: none
  .account-tab
    height: 24px
    width: 65px
    z-index: 2
    position: absolute
    top: -25px
    right: -1px
    border:
      top: $DropDownBorder
      bottom: none
      left: $DropDownBorder
      right: $DropDownBorder
    background-color: $DropDownBG

// Body containers //
#bodyWrapper
  background: $bodyWrapperBG
  display: inline-block
  border: 
    top: $bodyWrapperBorderTop
    bottom: $bodyWrapperBorderBot
    left: $bodyWrapperBorderleft
    right: $bodyWrapperBorderRight
  width: 960px

// Footer Container //
#footer
  margin-bottom: 15px
  border:
    top: $FooterBorder
  .dh_links
    color: $bodyColor
    float: left
    clear: left
    margin: 0px
    padding: 5px 10px 7px 10px
    background:
      color: $FooterBG

// Various Icon Links //
.rss_link
  background: $rss
  padding: 3px 0 3px 18px

.twitter_link
  background: $twitter
  padding: 3px 0 3px 18px

.newscloud_link
  background: $newsCloud
  padding: 3px 0 3px 20px

// Russell's Section Stuff //
.hidden
  display: none

// Global styles //
body
  font-family: $copyFont
  color: $bodyColor
  background: $bodyBG
  font-size: 11px
  margin: 0px
  padding: 0px

h1, h2, h3, h4, h5
  font-family: $headerFont
  color: $bodyColor
  font-size: 14px
  line-height: 130%
  margin: 0px
  padding: 0px
  a
    color: $headerColor
    &:hover
      color: $headerLinkHover

h1
  font-family: $headerFont
  font-size: 15px
  font-weight: bold
  color: $headerColor
  margin: 0 0 6px 0
  padding: 0

h2
  font-family: $headerFont
  font-size: 14px
  font-weight: bold
  margin: 0 0 6px 0
  padding: 0

h3
  font-size: 11px
  font-family: $copyFont
  color: $subheadColor
  font-weight: normal
  line-height: 12px
  margin: 0 5px 5px 0
  padding: 0
  a
    color: $linkColor
    &:hover
      color: $linkColor

h4
  font-family: $headerFont
  font-size: 12px
  line-height: 120%
  font-weight: bold
  margin: 0 0 4px 0
  padding: 0

h5
  font-family: $headerFont
  color: $subheadColor
  font-size: 12px
  font-weight: bold
  margin: 0px 0px 10px 0
  padding: 5px 0px

p
  font-family: $copyFont
  color: $bodyColor
  font-size: 12px
  line-height: 130%
  text-align: left
  margin: 0 0 8px 0
  padding: 0px

a
  color: $linkColor
  cursor: pointer
  outline-style: none
  -moz-outline-style: none
  text-decoration: none
  &:hover
    text-decoration: underline

img
  border: 0px

hr
  border: none 0
  margin: 0
  border-top: 1px solid #cccccc
  height: 1px
  a
    color: $linkColor

ul
  list-style-type: none
  margin: 0
  padding: 0

li
  list-style-type: none
  margin: 0
  padding: 10px 0 4px 0

.meta
  color: $subheadColor

.bold
  font-weight: bold

// top level menu page tabs //
#pageTabs
  width: 100%
  position: absolute
  bottom: 0px
  margin: 0px 0px 0px 0px
  padding: 0px 0px 0px 0px
  overflow: visible
  border: none
  .tabs
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 23px
    margin: 0
    padding: 0
    .tab-float
      float: $pagetabFloat
      padding: 0 1px
    .back_links
      padding-right: 20px
    .toggle_tabs
      margin: 0
      padding: 0
    .toggle_tabs li
      height: 23px
      width: $pageTabWidth
      float: left
      padding: 0
      margin: 0 1px 0 0
      text-align: center

    .toggle_tabs li
      a
        display: block
        height: 13px
        margin: 0px 0px 0px 0px
        padding: 5px 0
        font-weight: bold
        font-size: 12px
        border: none
        color: $pageTablinkOff
        background: $pageTabOff
        &:hover
          background: $pageTabOffHover
      &.first 
        width: 30px
        a
          margin: 0
          padding: 5px 0
          img
            display: inline-block

    .toggle_tabs li
      a.selected
        margin: -1px 0px 0px 0px
        padding: 5px 0
        border:
          top: $pageTabBorder
          bottom: $TabBotBorder
          right: $pageTabBorder
          left: $pageTabBorder
        background: $pageTabOn
        color: $pageTablinkOn
      &.first a.selected
        padding: 5px 7px
      a.selected:hover
        text-decoration: none
        &.disabled
          color: $subheadColor
          cursor: default
          &:hover
            text-decoration: none
#pageTabs
  .toggle_tabs
    .menu_item
      &:hover
        a
          background: $pageTabOffHover
          &.selected
            background: $pageTabOn

#pageTabs
  .toggle_tabs
    .menu_item
      &:hover
        .dropdown
          visibility: visible
          display: block
      .dropdown
        z-index: 20
        visibility: hidden
        display: none
        margin-top: 1px
        ul
          li
            width: 100%
            height: 100%
            float: left
            clear: left
            padding: 0
            text-align: left
            margin-top: -1px
            a
              height: 100%
              font-size: 10px
              line-height: 13px
              font-weight: normal
              display: block
              background: $dropdownTabOff
              padding: 5px
              color: $dropdownTabText
              border:
                top: $dropdownTabTopBorder
                bottom: $dropdownListBorder
                left: $dropdownListBorder
                right: $dropdownListBorder
              &:hover
                background: $dropdownTabOn
            a.selected
              padding: 5px
              background: $dropdownTabSelectOff
              margin:
                right: $dropdownTabSelectMarginRight
                left: $dropdownTabSelectMarginLeft
              border:
                top: $dropdownTabTopBorderSelect
                bottom: $dropdownTabListBorderSelect
                left: $dropdownTabListBorderSelect
                right: $dropdownTabListBorderSelect
              color: $dropdownTabTextSelect
              &.selected:hover
                background: $dropdownTabSelectOn

// Sub Navigation Styles //
#subNav
  height: 19px
  margin: 0px 0px 15px 0px
  padding: 0px 0px 0px 0px
  display: inline-block
  overflow: visible
  border:
    bottom: $subnavBorder

#subNav
  .toggle_tabs
    margin: 0px 0px 0px 0px
    padding: 0px 0px 0px 0px
    text-align: center
    li
      display: block
      float: left
      padding: 0px 0px 0px 0px
      margin: 0 0 0 1px
      a
        margin: 0px 0px 0px 0px
        padding: 4px 25px 1px 25px
        height: 14px
        border: none
        font-weight: bold
        font-size: 11px
        background: $subnavTabOff
        display: block
        color: $subnavTabLinkOff
        &:hover
          background: $subnavTabOffHover
          text-decoration: none
        &.selected
          margin: -1px 0px 0px 0px
          background: $subnavTabOn
          border:
            top: $subnavBorder
            bottom: $TabBotBorder
            right: $subnavBorder
            left: $subnavBorder
          color: $subnavTabLinkOn
          &:hover
            background: $subnavTabOn
            text-decoration: none
            cursor: default
        &.disabled
          color: $subheadColor
          cursor: default
          &:hover
            text-decoration: none
// Left and right column styling //
//#col_left
//  -webkit-box-shadow: 10px 10px 5px #888
//  background: $leftColumnBG
//  -moz-border-radius: 4px
//  -webkit-border-radius: 4px
//  border-radius: 4px

// Layout panels - should be used for all element containers //
.panel_1, .panel_2
  border-bottom: none
  margin-bottom: 15px
  &.textpage
    h2
      font-size: 13px
  &.sponsorbox
    background: $sponsorBoxBG
    ul
      border: $sponsorBoxBorder
    .panelBar
      background: $sponsorBoxPanelBarBG
      border: none
      h2
        color: $sponsorBoxPanelBarTextColor
        font-weight: bold
    .storyBlockWrap
      margin: 0 8px
  .listTags
    li
      border: none
      padding: 2px 0
    h4
      font-weight: normal
      font-size: 11px
      color: $subheadColor
  .thumb
    float: left
    margin: 0 10px
  .eventBlock
    margin: 0 0 4px 0
    padding: 0
    border:
      top: 1px solid #f0f0f0
      bottom: 1px solid #f0f0f0
    .tag
      font-weight: normal
      text-transform: uppercase
      font-size: 11px
    .eventDetailsBlock
      float: left
      width: 75%
      margin: 4px 0
    .eventLocationBlock
      float: left
      width: 25%
      background: $subTitleBG
      ul
        margin: 4px 0 8px 0
        li
          border: none
          padding: 4px 0 0 8px
          font-size: 10px
          color: $subheadColor
          b
            color: $headerColor
  .houseFeatures
    background: $featureBg
    -moz-border-radius: $featureBorderRadius
    -webkit-border-radius: $featureBorderRadius
    border-radius: $featureBorderRadius
    border:
      top: $featureBorderTop
      bottom: $featureBorderBot
      left: $featureBorderLeft
      right: $featureBorderRight
    .thumbBanner
      padding: 0
      display: inline-block
      width: 100%

      img
        max-width: 100%
        max-height: 100%
    .thumb
      background: none
      padding: 0
      float: left
      margin: 10px
      img
        max-width: 75px
        max-height: 75px
    .featureAd
      text-align: center
      display: block
      h2
        font-size: 18px
        text-align: left
        line-height: 150%
        padding: 8px 10px
        color: $featureH2Text
        &.push-left
          margin-right: 40%
      p
        text-align: left
        display: inline-block
        padding: 0 10px
        margin-bottom: 20px
        color: $featureBodyText
      .featureBtn
        font-size: 14px
        line-height: 14px
        font-weight: bold
        display: inline-block
        background: $featureBtnOff
        color: $featureBtnText
        height: 16px
        padding: 4px 20px
        margin: 10px auto
        border: $featureBtnBorder
        -moz-border-radius: 4px
        -webkit-border-radius: 4px
        border-radius: 4px
        &:hover
          background: $featureBtnOn
          text-decoration: none
  .userBlockWrap
    li
      padding: 0
      margin: 4px 4px 0 0
      display: inline-block
      width: 30px
      height: 30px
      float: left
      border:
        bottom: none
      .profilePic
        margin: 0
  .featuredNewsList
    ul
      padding: 0 10px 0 0
    li
      border-bottom: none
      font-size: 11px
      line-height: 14px
      margin: 4px 0 0 0
      b
        font-weight: normal
        text-transform: uppercase
  .videoBlockWrap
    li
      display: inline-block
      float: left
    .videoThumb
      padding: 0
      margin:
        top: 2px
        right: 2px
      width: 72px
      height: 48px
      background: #cccccc
      padding: 0px
  .formBox
    padding: 10px 0px
    background: $formBoxBG
    p
      margin: 0 10px
    h4
      font-weight: normal
      margin-bottom: 10px
    textarea
      border: $formBoxTextArea
  .panelBar
    position: relative
    display: block
    padding: 6px 0 2px 0px
    border:
      bottom: $panelBarBorder
    background: $panelBarBG
    h2
      margin: 0
      font-weight: $panelBarHeaderWeight
      font-size: 10px
      text-transform: uppercase
      font-family: $headerFont
      color: $panelBarHeader
      display: inline
      margin-left: 6px
      a
        color: $panelBarHeader
        font-weight: normal
        text-transform: none
        font-size: 11px

    .bar_link
      float: right
      margin: 0 8px
  .storyBlockSpacer
    padding-left: 100px
  .storyBlockMeta
    h4
      margin-bottom: 3px
    h3
      margin-bottom: 4px
  .storyBlockWrap
    .storyHead
      margin: 0 0 8px 0
      color: $headerColor
    p
      margin: 8px 0
      font-size: 11px
    h1
      font-size: 22px
    p
      margin: 6px 0px
      line-height: 120%
  .thumb
    img
      background: $WaterMark
    a:hover
      text-decoration: none
  li
    display: inline-block
    width: 100%
    padding: 5px 0
    border:
      bottom: $panelListBorder
  .bullet_list
    margin: 0 10px
    ul
      margin: 10px 0 0 0
    li
      display: list-item
      margin: 0 0 10px 10px
      padding: 0
      line-height: 120%
      list-style-image: $bulletList
      list-style-type: disc
      list-style-position: outside
      border-bottom: none
  .audio, .video, .image
    margin: 10px
  .userPoints
    text-align: right
    margin-right: 0px

// Flag box styles //
.flag-wrap
  display: inline-block
  position: relative
  z-index: 6
  .flag-toggle
    position: relative
    z-index: 8
  .flag-box
    padding: 10px
    position: absolute
    top: 13px
    left: 1px
    background: $btnCommentBG
    z-index: 7

// refine search box styles //
.panelBar, .subtitle
  .refine-toggle
    position: relative
    z-index: 10
    padding-right: 10px
    background: $TextDropDownArrow
  .refine_link
    float: right
    position: relative
    display: block
    padding: 0px 8px
    a
      color: $linkColor
    .refine-tab
      height: 32px
      width: 99px
      position: absolute
      top: -33px
      right: -1px
      border:
        top: $DropDownBorder
        bottom: none
        left: $DropDownBorder
        right: $DropDownBorder
      background-color: $DropDownBG
      z-index: 9
    .refine-box
      z-index: 8
      display: none
      position: absolute
      padding: 8px
      width: 142px
      top: 25px
      right: 0px
      border: $DropDownBorder
      background-color: $DropDownBG
      .refine-content
        text-align: center
        select
          width: 100%
          margin-bottom: 15px
          border: $refineInputBorder
        label
          display: block
          font-weight: bold
          text-align: left
          padding: 0 0 5px 4px
        input
          width: 70%
          cursor: pointer
          font-weight: bold
          padding: 4px 0
          color: $refineInputText
          border: $refineInputBorder
          background: $refineInputBG
          &:hover
            color: $refineInputHoverText
            background: $refineInputHoverBG

// hot topic bar //
#hotTopicBar
  float: left
  width: 100%
  display: block
  margin-bottom: 15px
  ul
    display: block
    float: left
    background: $HTBaseBG
    width: 100%
    li
      float: left
      padding: 4px 0 4px 0px
      &.topic
        display: inline
        float: left
        text-align: left
        background: $HTBaseBG
        padding: 4px 15px 4px 0
        min-width: 10%
        a
          margin-left: 5px
          padding-left: 8px
          background: $hotTopicBar
      &.topicTitle
        background: $HTTitleBG
        color: $HTTitleText
        width: 22%
        padding-left: 5px
        text-transform: uppercase
        margin-right: 10px
      &.topicMore
        border-left: 2px solid white
        float: right
        text-align: center
        width: 10%
        background: $HTBaseBG

// Article Style modifications //
#readArticle
  .topBar
    margin-bottom: 15px
    ul
      border-bottom: none
      display: inline-block
      width: 100%
      li
        padding: 3px 0 4px 0
        text-align: center
        display: block
        float: left
        margin:
          bottom: 0
        margin-right: -1px
        width: 25%
        border:
          left: $TopBarBorder
          bottom: none
        background: $TopBarBG
        &.nopad
          padding-bottom: 2px
        a
          color: $linkColor
  .thumb
    float: right
    margin: 10px
  .bodyArticle
    color: $bodyColor
    margin: 8px 5px 14px 5px
    line-height: 140%
    font-size: 12px
  .storyCaption
    p
      padding: 0
      margin: 4px 0px
    br
      margin: 0
      line-height: 0px
      visibility: hidden

// Comment Style Modifications and Additions //
.commentThread, #commentThread
  .panelBar
    background: $panelBarCommentBG
    h2
      color: $linkColor
  .thumb
    float: left
    margin: 0 10px 10px 0
  .comment_block
    position: relative
    padding: 8px 0 20px 0
    border:
      bottom: $commentBlockBorder
    .comment_reply
      display: block
      padding: 0 0 4px 20px
      position: absolute
      bottom: 8px
      left: 70px
      background: $commentReply
      a
        color: $commentReplyText
        font-weight: bold
        font-size: 11px

.feature_bg
  background: $featureStoryBG
  .panel_2
    margin-top: 10px
  .thumb
    margin: 0 10px 10px
    float: none
    display: inline-block
  .storyBlockWrap
    margin: 0px 10px 0 10px
  .btnComment
    background: $btnCommentFeatureBG

li.feature_bg
  border-bottom: 1px solid white

.storyList
  .thumb
    float: left

.subtitle
  position: relative
  font-size: 10px
  color: $subheadColor
  background: $subTitleBG
  border: none
  padding: 6px 0px 6px 4px

// Blockquote styles //
blockquote
  background: $blockQuote
  color: $bodyColor
  font-size: 12px
  line-height: 130%
  margin: 10px 0 10px 60px
  padding: 5px 10px
  .quotes
    padding: 4px 0

// TODO add styles for reply quotes when its functional //

// Universal Button Styles //
.btn
  display: inline-block
  color: white
  font-weight: bold
  padding: 3px 10px 4px 10px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  background: $btnBG
  border: $btnBorder
  &:hover
    cursor: pointer
    text-decoration: none
    background: $btnBGHover

// Like, Share, Vote, Comment, and Rate Styles //
.btnComment
  display: inline-block
  margin: 0 1px
  padding: 1px 8px 2px 8px
  background: $btnCommentBG

.btnFBshare
  margin: 1px 1px 0 1px

.voteUp
  background: $voteUp
  padding-left: 15px

.voteDown
  background: $voteDown
  padding-left: 15px

.thumb-up
  background: $thumbUp
  padding-left: 15px

.thumb-down
  background: $thumbDown
  padding-left: 15px

// Action Legend Panell//

.actionLegend
  background: $actionLegendBG
  .share_and_hide
    margin: 5px
    h4
      margin-bottom: 5px
      color: $headerColor
    input
      border: $actionLegendinputBorder
      width: 100%
      padding: 1px 0

// Thumb Pic Size //
.list_stories
  .thumb
    img
      max-width: 90px
      max-height: 90px
  .feature_bg
    .thumb
      display: block
      float: left
      margin: 0 10px
      img
        max-width: 90px
        max-height: 90px
  .profilePic
    img
      max-width: 30px
      max-height: 30px

// Profile Pic //
.profilePic
  float: left
  margin: 0px 10px 0px 0px
  a:hover
    text-decoration: none

// Account Profile stats styles //
.pointsTable_profile
  display: inline-block
  table
    float: left
    width: 100%
    margin: 0 0 10px 0
    border-bottom: 1px solid #d8dfea
  td
    border-top: 1px solid #d8dfea
    margin: 0
    padding: 3px 10px 4px 0px

// Extra styles for Login Page //
.login
  p
    line-height: 120%
    font-size: 12px
    margin: 10px auto
    width: 80%
  label
    font-size: 11px
    padding: 4px 2px

// Ad sizes and Layouts //
#adspace
  margin-bottom: 15px

.ad_160
  width: 160px
  margin: 0 auto

.ad_200
  width: 200px
  margin: 0 auto

.ad_250
  width: 250px
  margin: 0 auto

.ad_300
  width: 300px
  margin: 0 auto

.ad_336
  width: 336px
  margin: 0 auto
  
.ad_468
  width: 468px
  margin: 0 auto

.ad_728
  width: 728px
  margin: 0 auto

.ad_468, .ad_200, .ad_728, .ad_160, .ad_250, .ad_300, .ad_336
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  padding: 15px 0 5px
  border-left: 5px solid #cccccc
  border-right: 5px solid #cccccc
  background: $AdBG
  .test-frame
    background-color: white
    height: 80px
    width: 100%
    &.sky-scraper
      height: 600px
  iframe
    padding: 0
    margin: 0
    html
      margin: 0
      padding: 0
      body
        margin: 0
        padding: 0

// Bookmarklet Styles //
.bookmarklet
  padding-bottom: 10px
  border:
    bottom: $bookmarkletBorder
  background: $bookmarkletBG
  h2
    color: $bookmarkletHeader
    background: $bookmarkletHeaderBG
    font-size: 20px
    margin: 0
    padding: 5px 10px 25px 10px
  p
    color: $bookmarkletText
    margin: 5px 10px
    font-size: 13px
  .demo
    margin: 10px 15px
    padding: 70px 0 10px 0
    background: $demoBG
  .fb-btn
    margin-top: 15px
  .btn
    display: inline-block
    color: white
    font-weight: bold
    padding: 5px 10px 6px 10px
    border: $bookmarkletBtnBorder
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    border-radius: 4px
    background: $bookmarkletBtn
    &:hover
      text-decoration: none
      background: $bookmarkletBtnHover

// pagination styles //

.pagination
  text-align: $paginationAlign
  display: inline-block
  width: 100%
  padding-top: 10px
  margin: 10px 0
  .gap
    color: $paginationLinkOn
    background: $paginationBgOn
    border: none
  a, span
    padding: 2px 4px
    background: $paginationBgOff
    color: $paginationLinkOff
  span.disabled
    color: $paginationLinkDisabled
    background: $paginationBgDisabled
    border: $paginationBdrDisabled
    &:hover
      text-decoration: none
      cursor: default
  span.current
    font-weight: bold
    color: $paginationLinkOn
    background: $paginationBgOn
    border: $paginationBdrOn
  a
    border: $paginationBdrOff
    color: $paginationLinkOff
    text-decoration: none
    &:hover, &:focus
      border: $paginationBdrOn
      background: $paginationBgOn
      color: $paginationLinkOn
  .page_info
    color: #aaaaaa
    padding-top: 0.8em
  .prev_page, .next_page
    color: $paginationLinkOn
    border: none
    background: none
    &:hover
      border: none
      background: none
      text-decoration: underline
    &.disabled
      border: none
  .prev_page
    margin-right: 1em
  .next_page
    margin-left: 1em
