/* for web grid */
.feature_scrollable_panel_5
  /* required settings */
  position: relative
  overflow: hidden
  width: 620px
  height: 242px  

.feature_scrollable_panel_4
  /* required settings */
  position: relative
  overflow: hidden
  width: 620px
  height: 120px  

.feature_scrollable_panel_3
  /* required settings */
  position: relative
  overflow: hidden
  width: 620px
  height: 235px  

.feature_scrollable_items 
  /* this cannot be too large */
  width: 20000em
  position: absolute
  .panel_items
    float: left
    width: 620px

.feature_vertical_scrollable_items 
  /* this cannot be too large */
  height: 20000em
  position: absolute
  .panel_items
    float: left
    width: 620px
