/* for web grid */
.feature_scrollable 
  /* required settings */
  position: relative
  overflow: hidden
  width: 620px
  height: 225px

.feature_scrollable .feature_scrollable_items 
  /* this cannot be too large */
  width: 20000em
  position: absolute

.feature_scrollable_items 
  .panel_items
    float: left
    width: 620px
  