#col_left
  - @main.each do |widget_page|
    - widget = widget_page.widget
    - locals = {}
    - locals = { widget.locals.to_sym => instance_variable_get("@#{widget.locals}")} if widget.locals.present?
    - locals[:widget] = widget
    - locals[:widget_page] = widget_page
    = render :partial => widget.partial, :locals => locals
#col_right
  - @sidebar.each do |widget_page|
    - widget = widget_page.widget
    - locals = {}
    - locals = { widget.locals.to_sym => instance_variable_get("@#{widget.locals}")} if widget.locals.present?
    - locals[:widget] = widget
    = render :partial => widget.partial, :locals => locals
