
.panel-12.container
  %h1 
    Sit volup tatem accus antium dolorem que
  %h2 
    Sit volup tatem accus antium dolorem que
  %h3 
    Sit volup tatem accus antium dolorem que
  %h4 
    Sit volup tatem accus antium dolorem que
  %h5 
    Sit volup tatem accus antium dolorem que
  %h6 
    Sit volup tatem accus antium dolorem que


= render :partial => 'shared/tests/v2_FS_widget_1'
