- content_for :sub_nav do
  = render :partial => 'shared/subnav/events_subnav'

#col_left
  = render :partial => 'shared/events', :locals => { :events => @events, :title => t('.my_events_title') }

#col_right
  = render :partial => 'shared/sidebar/top_events', :locals => { :top_events => @top_events }
  = render :partial => 'shared/sidebar/newest_events', :locals => { :newest_events => @newest_events }
