- content_for :head do
  %style
    :sass
      .float-toggle
        position: absolute
        top: 2px
        right: 2px
      #left
        width: 700px
        display: inline
        position: relative
        clear: both
        float: left
        .left
          width: 300px
          //position: relative
          //left: 0
          //margin-left: 0px
          float: left
          clear: left
        .right
          //position: absolute
          //right: 0
          width: 300px
          float: right
          clear: right
          //margin-right: 0px
      #right
        width: 200px
      #main-widgets-list
        width: 440px
      #sidebar-widgets-list
        width: 440px
      .box
        margin-left: 25px
        min-height: 500px
        float: left
        border: 1px solid black
      .title
        margin-left: 10px
      .clear
        clear: both
      .draggable-main, .draggable-sidebar
        position: relative
        width: 100px
        //height: 100px
        padding: 5px
        margin: 10px 10px 10px 0
        float: left
        background-color: #AEAEAE
        overflow: hidden

- content_for :extra_javascript do
  :javascript
    $(function() {
    	$main = $('#left'), $sidebar = $('#right');
    	$main_list = $('ul', $main), $sidebar_list = $('ul', $sidebar);
    	$main_widgets = $('#main-widgets-list'), $sidebar_widgets = $('#sidebar-widgets-list');
    	$('#main-widgets-list ul, #sortable-main, #sidebar-widgets-list ul, #sortable-sidebar').sortable().disableSelection();
    	var foo = null;

    	$('.droppable-main').droppable({
    		//accept: '.draggable-main',
    		accept: 'li',
    		activeClass: 'ui-state-hover',
    		hoverClass: 'ui-state-active',
    		helper: 'clone',
    		drop: function(event, ui) {
    			if (ui.draggable.parent().parent().attr('id') == 'sidebar-widgets-list') {
    				ui.draggable.addClass('left');
          }
    			if (ui.draggable.parent().attr('id') != $main_list.attr('id')) {
    				var width = "680px";
    				if (ui.draggable.hasClass('left')) {
    					width = "300px";
            }
            deleteWidget(ui.draggable, $main_list, width, '130px');
          }
          loadWidget(ui.draggable);
        }
      });
    	$('.droppable-sidebar').droppable({
    		accept: '.draggable-sidebar',
    		activeClass: 'ui-state-hover',
    		hoverClass: 'ui-state-active',
    		helper: 'clone',
    		drop: function(event, ui) {
    			if (ui.draggable.parent().attr('id') != $sidebar_list.attr('id')) {
    			  deleteWidget(ui.draggable, $sidebar_list, '180px', '140px');
          }
          loadWidget(ui.draggable);
        }
      });

    	$('#main-widgets-list').droppable({
    		accept: '#left li',
    		activeClass: 'ui-state-hover',
    		hoverClass: 'ui-state-active',
    		helper: 'clone',
    		drop: function(event, ui) {
    			if (ui.draggable.parent().attr('id') != $main_widgets.attr('id')) {
    			  deleteWidget(ui.draggable, $('ul', $main_widgets), '100px', '100px');
          }
        }
      });

    	$('#sidebar-widgets-list').droppable({
    		accept: '#right li',
    		activeClass: 'ui-state-hover',
    		hoverClass: 'ui-state-active',
    		helper: 'clone',
    		drop: function(event, ui) {
    			if (ui.draggable.parent().attr('id') != $sidebar_widgets.attr('id')) {
    			  deleteWidget(ui.draggable, $('ul', $sidebar_widgets), '100px', '100px');
          }
        }
      });

      $('.float-toggle').live('click', function(event) {
      	if ($(this).parent().hasClass('left')) {
      		$(this).parent().removeClass('left');
      		$(this).parent().addClass('right');
      		$(this).html('Move left');
      	} else if ($(this).parent().hasClass('right')) {
      		$(this).parent().removeClass('right');
      		$(this).parent().addClass('left');
      		$(this).html('Move right');
        }
      });

      function getWidgetID(widget_str) {
      	if ((match = widget_str.match(/^widget_([0-9]+)$/)) != null) {
      	  return match[1];
        } else {
        	return false;
        }
      }

      function loadWidget(widget) {
          setTimeout(function() {
            var widget_id = getWidgetID(widget.attr('id'));
            if (widget_id) {
              var url = "/home/" + widget_id + "/render_widget";
              widget.load(url, {}, function(responseText, textStatus, XMLHttpRequest) {
                $('a', $(this)).click(function() { return false; });
                if ($(this).hasClass('left')) {
                  $(this).append('<span class="float-toggle">Move right</span>');
                } else if ($(this).hasClass('right')) {
                  $(this).append('<span class="float-toggle">Move left</span>');
                } else {
                }
              });
            }
          }, 1000);
      }

      function deleteWidget($widget, $list, $width, $height) {
      	$widget.fadeOut(function() {
      		$widget.appendTo($list).fadeIn(function() {
      			$widget.animate({ width: $width, 'min-height': $height, 'max-height': '500px', height: 'auto' }).css('height', 'auto');
          });
        });
      }

    	$('#save-button')
    	  .hover(
    	    function() { $(this).addClass('ui-state-hover'); },
    	    function() { $(this).removeClass('ui-state-hover'); }
    	  ).mousedown(function() {
        	$(this).addClass('ui-state-active');
        }).mouseup(function() {
    	  	$(this).removeClass('ui-state-active');
        }).click(function() {
        	var widgets = {
        		main: [],
        		sidebar: []
          };
          $('li.draggable-main, li.draggable-sidebar', $main_list).each(function(i) {
          	if ($(this).hasClass('left')) {
          		var side = '-left';
            } else if ($(this).hasClass('right')) {
          		var side = '-right';
            } else {
          	  var side = '';
            }
          	widgets.main.push(getWidgetID(this.id)+side);
          });
          $('li.draggable-main, li.draggable-sidebar', $sidebar_list).each(function(i) {
          	widgets.sidebar.push(getWidgetID(this.id));
          });
          $.post("/admin/widgets/save.json", {main: widgets.main.join(','), sidebar: widgets.sidebar.join(',')}, function(data) {
          	if (typeof(data.success) !== 'undefined') {
          		alert(data.success);
            } else {
            	alert('There was a problem saving your page');
            }
          }, "json");
        });
    });

#content-box
  %h1.title Select Widgets for Your Page Layout
  %br
  %button#save-button.title.fg-button.ui-state-default.ui-corner-all{:type => "button"} Save your layout
  .clear
  %br
  #left.box.droppable-main.ui-widget-content.ui-state-default
    %h1 Main Column
    %ul#sortable-main
  #right.box.droppable-sidebar.ui-widget-content.ui-state-default
    %h1 Sidebar Column
    %ul#sortable-sidebar
  .clear
  %br
  -# TODO this second button is not working
  -# %button#save-button.title.fg-button.ui-state-default.ui-corner-all{:type => "button"} Save your layout
%br
.clear
%br
#sidebar-widgets
  %p.title Drag widgets below to their appropriate box and desired position above
  #main-widgets-list.box
    %h1 Wide Widgets
    %ul
      - @main.each do |widget|
        %li.draggable-main.ui-widget-content{:id => "widget_#{widget.id}"}
          %p== #{widget.name}
  #sidebar-widgets-list.box
    %h1 Narrow Widgets
    %ul
      - @sidebar.each do |widget|
        %li.draggable-sidebar.ui-widget-content{:id => "widget_#{widget.id}"}
          %p== #{widget.name}
