.panel
  .panel-in.quarter
    .image
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel-in.quarter
    .image
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel-in.quarter
    .image
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies
  .panel-in.quarter
    .image
      %a= image_tag('default/default_thumb.gif')
    .storyBlock
      %h4 
        %a Title text for skybox goes here
      %h3
        thingies
      %h3
        more thingies
      %h3
        even more thingies