= gen_index_page @answers, Answer, [ :answer, :user_id, :votes_tally, :comments_count, :created_at, :question_id], :associations => { :belongs_to => { :question => :question_id, :user => :user_id } }, :paginate => true
