defaults: &defaults
  # Uncomment this line to enable hoptoad
  hoptoad_api_key: '1234567890987654321'

  # Uncomment this line to enable google analytics
  google_analytics_account_id: 'UF-123456890-7'
  google_analytics_site_id: '5407321'

  # Yahoo AppId used for sitemap ping
  yahoo_app_id: 'ELIZq2LV44444.rGdRR5abc888HCGL1zDOegJakZyHIrugVqPip3YK333P8-'
  
  # ad platforms supported: google, helios
  ad_platform: 'google' 
  
  # Uncomment these lines to enable google adsense
  google_adsense_account_id: 'ca-pub-22233344444555555'
  google_adsense_slot_name: 'my_ad_slot'

  # Uncomment these lines to enable helios
  #helios_sitepage: 'youraddomain.com/yourfacebookproject.htm'
  #helios_url: 'http://subdomain.ur.gcion.com'
  #helios_script_url: 'http://scriptsubdomain.ur.gcion.com'
  #helios_list_pos: '728x90_1,468x60_1,300x250_1,160x600_1,250x250_1,200x200_1,336x280_1'

  site_topic: 'Default Site Topic'
  site_title: 'Default Site Name'

  # facebook application id 
  facebook_application_id: '111111111111'

  # Uncomment to use TypeKit.com fonts
  # typekit: 'yourcode'

  # allow web log in system
  allow_web_auth: false

  # Uncomment this line if you wish to enable contact_us email notifications
  # NOTE:: you must setup smtp.yml for outgoing emails to work
  contact_us_recipients: 'admin@email.com,me@email.com,support@email.com'

  # Default admin login info, this will only be used when you do not have an admin user in the system
  # Connect to /admin to be prompted for this login info
  default_admin_user: 'admin'
  default_admin_password: 'n2adminpassword'

  # Default image
  default_image: 'default/watermark.jpg'
  
  #Privacy settings
  firstnameonly: false
  
  #Zvent settings
  zvent_api_key: 'FRXBFQTGJOMXVKIQSFGSBDFWYMLXSJPBQGJDGPXJICGBSGPWGULKGTJGOXXKLUOG'
  zvent_location: 'Seattle, WA'
    
  # Uncomment this line to enable twitter
  #Twitter Settings
  #twitter_account: 'username'
  twitter_oauth_key: 'key'
  twitter_oauth_secret: 'secret'

  tweet_events_min_votes: 5
  tweet_events_limit: 3
  tweet_stories_min_votes: 5   
  tweet_stories_limit: 3
  tweet_questions_min_votes: 5
  tweet_questions_limit: 3
  tweet_ideas_min_votes: 5
  tweet_ideas_limit: 3
  tweet_featured_items: true
  
  #Uncomment to allow bit.ly
  #bitly_username: 'username'
  #bitly_api_key: 'key'

  # Yahoo AppId used for sitemap ping
  yahoo_app_id: 'ELIZq2LV44444.rGdRR5abc888HCGL1zDOegJakZyHIrugVqPip3YK333P8-'

  # Select timezone from $ rake time:zones:all
  time_zone: 'Pacific Time (US & Canada)'

development:
  <<: *defaults
  fb_rss_url: "http://my.site.com/stories.atom"
  fb_ajax_url: "http://my.site.com"
  base_url: "http://my.site.com"

test:
  <<: *defaults
  fb_rss_url: "http://my.site.com/stories.atom"
  fb_ajax_url: "http://my.site.com"
  base_url: "http://my.site.com"

cucumber:
  <<: *defaults
  fb_rss_url: "http://my.site.com/stories.atom"
  fb_ajax_url: "http://my.site.com"
  base_url: "http://my.site.com"

staging:
  <<: *defaults
  fb_rss_url: "http://my.site.com/stories.atom"
  fb_ajax_url: "http://my.site.com"
  base_url: "http://my.site.com"

production:
  <<: *defaults
  fb_rss_url: "http://my.site.com/stories.atom"
  fb_ajax_url: "http://my.site.com"
  base_url: "http://my.site.com"
