defaults: &defaults
  # Uncomment this line to enable hoptoad
  hoptoad_api_key: '1234567890987654321'

  # Uncomment this line to enable google analytics
  google_analytics_account_id: 'UF-123456890-7'

  # ad platforms supported: google, helios
  ad_platform: 'google' 
  
  # Uncomment these lines to enable google adsense
  google_adsense_account_id: 'ca-pub-22233344444555555'
  google_adsense_slot_name: 'my_ad_slot'

  # Uncomment these lines to enable helios
  helios_sitepage: 'youraddomain.com/yourfacebookproject.htm'
  helios_url: 'http://subdomain.ur.gcion.com'

  site_topic: 'Default Site Topic'
  site_title: 'Default Site Name'

  # facebook application id 
  application_id: '111111111111'

  # Uncomment this line to enable twitter
  #twitter_account: 'mytwitteraccount'

  # Uncomment this line if you wish to enable contact_us email notifications
  # NOTE:: you must setup smtp.yml for outgoing emails to work
  contact_us_recipients: 'admin@email.com,me@email.com,support@email.com'

  # Default admin login info, this will only be used when you do not have an admin user in the system
  # Connect to /admin to be prompted for this login info
  default_admin_user: 'admin'
  default_admin_password: 'n2adminpassword'

  # Default image
  default_image: 'images/default/watermark.jpg'

development:
  <<: *defaults
  fb_rss_url: "http://my.site.com/stories.atom"
  fb_ajax_url: "http://my.site.com"
  base_url: "http://my.site.com"

test:
  <<: *defaults
  fb_rss_url: "http://my.site.com/stories.atom"
  fb_ajax_url: "http://my.site.com"
  base_url: "http://my.site.com"

cucumber:
  <<: *defaults
  fb_rss_url: "http://my.site.com/stories.atom"
  fb_ajax_url: "http://my.site.com"
  base_url: "http://my.site.com"

staging:
  <<: *defaults
  fb_rss_url: "http://my.site.com/stories.atom"
  fb_ajax_url: "http://my.site.com"
  base_url: "http://my.site.com"

production:
  <<: *defaults
  fb_rss_url: "http://my.site.com/stories.atom"
  fb_ajax_url: "http://my.site.com"
  base_url: "http://my.site.com"
