defaults: &defaults
  
  # Default image
  default_image: 'default/watermark.jpg'
  
  # Select timezone from $ rake time:zones:all
  time_zone: 'Pacific Time (US & Canada)'

development:
  <<: *defaults

test:
  <<: *defaults

cucumber:
  <<: *defaults

staging:
  <<: *defaults

production:
  <<: *defaults
