# comment out anything you do not wish to appear
# you must comment out nested elements or this will break
menu:
  home: 'enabled'
  stories:
    stories_list: 'enabled'
    newswire: 'enabled'
    new_story: 'enabled'
    new_article: 'enabled'
  #articles:
    #articles_list: 'enabled'
    #new_article: 'enabled'
  forums:
  	sub_forums: 'enabled'
  predictions: 'enabled'
  resources:
    resources_list: 'enabled'
    new_resource: 'enabled'
    sub_resource_sections: 'enabled' 
  ideas:
    ideas_list: 'enabled'
    idea_boards_list: 'enabled'
    new_idea: 'enabled'
  questions:
    questions_list: 'enabled'
    new_question: 'enabled'
    my_questions: 'enabled'
  events:
    events_list: 'enabled'
    new_event: 'enabled'
    import_facebook: 'enabled'  
  admin:
