#subNav.tabs.clearfix
  .left_tabs
    %ul#toggle_tabs_unused.toggle_tabs.clearfix
      %li.first= link_to t('.browse_ideas'), ideas_path, :class => sub_tab_selected?(@current_sub_tab, 'Browse Ideas')
      %li.first= link_to t('.suggest_idea'), new_idea_path, :class => sub_tab_selected?(@current_sub_tab, 'Suggest Idea')
      - if current_user
        %li.first= link_to t('.my_ideas'), my_ideas_idea_path(:id => current_user), :class => sub_tab_selected?(@current_sub_tab, 'My Ideas')
%br
%br