#subNav.tabs
  .left_tabs
    %ul#toggle_tabs_unused.toggle_tabs.clearfix
      %li.first= link_to t('.new_story'), new_story_path, :class => sub_tab_selected?(@current_sub_tab, 'New Story')
      %li.first= link_to t('.new_article'), new_article_path, :class => sub_tab_selected?(@current_sub_tab, 'New Article')
      - if current_user.present? and current_user.is_blogger?
        %li.first= link_to t('articles.drafts'), drafts_articles_path, :class => sub_tab_selected?(@current_sub_tab, 'Draft Articles')
