- content_for :sub_nav do
  = render :partial => 'shared/subnav/news_subnav'
#col_left
  .panel_1
    #contactBox
      %h1 Story Details
      .storyBlockWrap
        -# %h2= link_to 'Post an Article', new_article_path
        - semantic_form_for @story, :url => stories_path, :html => { :multipart => true } do |form|
          = render :partial => 'story_form', :locals => { :form => form }
          - form.buttons do
            -# TODO:: switch this to locale
            = form.commit_button "Post Story"
#col_right
  #bookmarkletFrame
    = render :partial => 'shared/bookmarklet_panel'
  %br