- content_for :sub_nav do
  = render :partial => 'shared/subnav/news_subnav'
#col_left
  .panel_1
    .panelBar
      %h2
        post a story
    .formBox  
      - semantic_form_for @story, :url => stories_path, :html => { :multipart => true } do |form|
        = render :partial => 'story_form', :locals => { :form => form }
        - form.buttons do
          -# TODO:: switch this to locale
          = form.commit_button "Post Story"

#col_right
  .panel_2
    .panelBar
      %h2
        An Easier way to Post a story
    = render :partial => 'shared/bookmarklet_panel'