- form.inputs do
  = form.input :question
  = form.input :details, :input_html => { :rows => 2 }
  = render :partial => 'shared/forms/media_items', :locals => { :form => form, :item => @question }
  = form.input :tags_string, :required => false
%br
