- content_for :sub_nav do
  = render :partial => 'subnav'

#col_left
  = render :partial => 'shared/resources', :locals => { :resources => @resources, :title => t('.my_resources_title') }

#col_right
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @top_resources, :title => t('.top_resources') }
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @newest_resources, :title => t('.newest_resources') }
