-# @expects: local 'audios'

.panel_1
  .panelBar.clearfix
    %h2= t 'audios.title'
  .storyList
    .list_stories.clearfix
      %ul
        - audios.each do |audio|
          .audio.clearfix
            = embed_audio audio
