-# @expects: local 'images'
- if images.any? and images.size > 1
	.panel_2.curtain
		- if images.present? and images.size > 1
			%a.prev.browse.left_scroll.prev
			#thumbnails.scrollable
				.items
					- images.each do |image|
						= image_tag image.url(:thumb), :size=>"100x100"
			%a.prev.browse.right_scroll.next
