-# @expects: local 'videos'

.panel_1
  .panelBar.clearfix
    %h2= t 'videos.title'
  .storyList
    .list_stories.clearfix
      %ul
        - videos.each do |video|
          .video.clearfix
            - case video.remote_video_type
              - when "vimeo"
                = embed_video video, {:width => 400, :height => 302}
              - else
                = embed_video video
