-# @expects: local 'videos'

.panel_1
  .panelBar.clearfix
    %h2= t 'videos.title'
  .storyList
    .list_stories.clearfix
      %ul
        - videos.each do |video|
          .video.clearfix
            = embed_video video

