-# @expects: local 'videos', 'size'

.panel_2
  .panelBar.clearfix
    %h2= t 'videos.title'
  .itemListWrap
    .list_items.clearfix
      %ul
        - videos.each do |video|
          .video.clearfix
            = embed_video video, size
