%h2== Create a new Custom Widget
%h3 You can use this to create custom html or javascript
- semantic_form_for [:admin, @metadata] do |form|
  = render :partial => 'custom_widget_form', :locals => { :form => form }
  - form.buttons do
    = form.commit_button
