.foo
  %h2 Create an Idea Topic
  - semantic_form_for [:admin, @idea_board] do |form|
    = render :partial => 'idea_board_form', :locals => { :form => form }
    - form.buttons do
      = form.commit_button
