- form.inputs do
  = form.input :title
  = form.input :custom_data, :as => :text, :input_html => { :rows => 30, :cols => 80 }
  = form.input :content_type, :as => :select, :collection => [['Main Content', 'main_content'], ['Sidebar Content', 'sidebar_content']]
