-# expects: local 'item' 
.featured
  %div{:class => "item_1 comment"}
    .thumb
      .profilePic= local_linked_profile_pic item.user, :width => '50px', :height => '50px'
    .itemBlock
      %p
        = item.comments
      .itemMeta
        %span.btnComment== #{link_to t('comments.view'), polymorphic_url(item.item_link, :anchor => "commentListTop")}
        %span.btnComment= votes_link(item, item.votes_tally)        
