= gen_index_page @users, User, [:name, :fb_user_id, :email, :is_admin, :is_blocked, :cached_slug, :karma_score ], :associations => { :asdf => {:user => :user_id, :idea_board => :idea_board_id} }, :paginate => true
