%h2== Create a new #{model.name.titleize}
- semantic_form_for [:admin, model.new] do |form|
  - form.inputs do
    - fields.each do |field|
      = form.input field
  - form.buttons do
    = form.commit_button
