#col_left
  .panel_2
    .panelBar
      %h2
        Add a Related Item
    = render :partial => 'shared/forms/related_item_form' , :locals => { :relatable => @relatable }

#col_right
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
