- content_for :sub_nav do
  = render :partial => 'shared/subnav/resource_sections_subnav'

#col_left
  = render :partial => 'shared/resource_sections', :locals => { :resource_sections => @resource_sections }

#col_right
s  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @top_resources, :title => t('resources.top_resources') }
  = render :partial => 'shared/sidebar/resources_list', :locals => { :resources => @newest_resources, :title => t('resources.newest_resources') }
