<div id="outBrain" class="outbrain">
  <!-- Outbrain code will make this div display when links display-->
  <div id="outbrain_ext_element" style="display:none;">
    <h3 class="sectionHeader" style="margin-left:20px;text-transform:none;">Thought you might like&#8230;</h3>
  </div>
</div>
<script language="JavaScript"><!-- 
  var OB_isLateStarter = true;
  var OB_widgetId = "AR_1";
  var OB_containerClass = "outbrain";
  var OB_permalink="<%= path_to_self_no_canvas outbrain_item %>";

  function ob_load(){
    var OB_SE = document.createElement("script");
    OB_SE.setAttribute('id','callTheRater' );
    OB_SE.setAttribute('type','text/javascript');
    OB_SE.setAttribute('src', "http://widgets.outbrain.com/outbrainWidget.js");
     
    var heads = document.getElementsByTagName("head");
    if( heads.length > 0 ) {
      heads[0].insertBefore(OB_SE, heads[0].firstChild);
    }
  }
   
  if (window.addEventListener){ //DOM method for binding an event
    window.addEventListener("load", function(){ ob_load(); } , false)
  } else if (window.attachEvent){ //IE exclusive method for binding an event
    window.attachEvent("onload", function(){ ob_load(); } )
  } else if (document.getElementById){ //support older modern browsers
    var oldOnLoad = window.onload;
    window.onload=function(){oldOnLoad(); ob_load();}
  }

--></script>
